Repository MPAS-Dev/MPAS-Model, pull requests merged in 2018-12, with the labels that each got.

#119 Adds units and descriptions to init atmosphere's Registry.xml
  src/core_atmosphere/Registry.xml
  src/core_init_atmosphere/Registry.xml
Labels: Atmosphere, clean-up

#118 Fix parallel build of MPAS-A physics
  src/core_atmosphere/physics/Makefile
Labels: Atmosphere, bug

#122 add constant for E3SM coupled simulation (follow up on PR#63)
  src/core_seaice/column/constants/cesm/ice_constants_colpkg.F90
Labels: Sea ice
