Repository MPAS-Dev/MPAS-Model, pull requests merged in 2018-11, with the labels that each got.

#105 Allowed seaice model to run with defaults namelist and streams
  src/core_seaice/analysis_members/Registry_seaice_time_series_stats_monthly.xml
  src/core_seaice/analysis_members/mpas_seaice_analysis_driver.F
  src/core_seaice/analysis_members/mpas_seaice_time_series_stats.F
Labels: bug, clean-up

#114 Added script to download testing data
  testing_and_setup/seaice/testing/DATA/get_data.py
  testing_and_setup/seaice/testing/test_mpas-seaice.py
Labels: Sea ice, feature

#113 Correct Registry descriptions for several RRTMG LW fields
  src/core_atmosphere/Registry.xml
Labels: Atmosphere, clean-up

#116 Correction to prevent thermo energy conservation error
  src/core_seaice/column/ice_therm_mushy.F90
  src/core_seaice/column/ice_therm_vertical.F90
Labels: Sea ice, bug

#109 Ocean/fix mld for land ice
  src/core_ocean/analysis_members/Registry_mixed_layer_depths.xml
  src/core_ocean/analysis_members/mpas_ocn_mixed_layer_depths.F
Labels: bug

#117 Add 'llvm' make target to support compilation with clang+flang
  Makefile
Labels: Framework, feature
