Repository MPAS-Dev/MPAS-Model, pull requests merged in 2018-10, with the labels that each got.

#93 Modified critical errors so occur at failure point
  src/core_seaice/model_forward/mpas_seaice_core.F
  src/core_seaice/shared/mpas_seaice_advection.F
  src/core_seaice/shared/mpas_seaice_advection_incremental_remap.F
  src/core_seaice/shared/mpas_seaice_column.F
  src/core_seaice/shared/mpas_seaice_error.F
  src/core_seaice/shared/mpas_seaice_time_integration.F
Labels: Sea ice, bug

#78 Remove calls to get subpools, left over from sounding code that was relocated
  src/core_atmosphere/mpas_atm_core.F
Labels: Atmosphere, clean-up

#103 Increase AM dimension from 32 to 36
  src/core_ocean/analysis_members/Registry_layer_volume_weighted_averages.xml
  src/core_ocean/analysis_members/Registry_surface_area_weighted_averages.xml
Labels: Ocean, bug
