Repository MPAS-Dev/MPAS-Model, pull requests merged in 2018-08, with the labels that each got.

#60 Fixes mpich execution in compass
  testing_and_setup/compass/setup_testcase.py
Labels: Compass, Ocean, bug

#62 In COMPASS, change "quiet" to write stderr (but still not stdout)
  testing_and_setup/compass/setup_testcase.py
Labels: Compass, bug

#71 Fix segfault in SIA code related to enhancement factor
  src/core_landice/mode_forward/mpas_li_sia.F
Labels: Land Ice, bug
