Repository MPAS-Dev/MPAS-Model, pull requests merged in 2019-03, with the labels that each got.

#57 Change RRS to 80 layer
  testing_and_setup/compass/ocean/global_ocean/config_files/config_initial_state.xml
  testing_and_setup/compass/ocean/global_ocean_V1/RRS15to5/default/config_init2.xml
  testing_and_setup/compass/ocean/global_ocean_V1/RRS15to5/spin_up/config_init2.xml
  testing_and_setup/compass/ocean/global_ocean_V1/RRS18to6/default/config_init2.xml
  testing_and_setup/compass/ocean/global_ocean_V1/RRS18to6/spin_up/config_init2.xml
  testing_and_setup/compass/ocean/global_ocean_V1/RRS30to10/default/config_init2.xml
  testing_and_setup/compass/ocean/global_ocean_V1/RRS30to10/spin_up/config_init2.xml
  testing_and_setup/compass/ocean/global_ocean_V1/RRS30to10/with_land_ice/config_init2.xml
Labels: Compass, Don't merge, Ocean

#172 Change COMPASS to create 60 layer rather than 100 layer EC60to30
  testing_and_setup/compass/ocean/global_ocean/EC60to30/init/config_initial_state.xml
  testing_and_setup/compass/ocean/global_ocean_V1/EC60to30/default/config_init2.xml
  testing_and_setup/compass/ocean/global_ocean_V1/EC60to30/five_cell/config_init2.xml
  testing_and_setup/compass/ocean/global_ocean_V1/EC60to30/single_cell/config_init2.xml
  testing_and_setup/compass/ocean/global_ocean_V1/EC60to30/spin_up/config_init2.xml
  testing_and_setup/compass/ocean/global_ocean_V1/EC60to30/with_land_ice/config_init2.xml
Labels: Compass, Ocean

#143 Well-defined "extra" neighbors for cellsOnCell etc.
  src/framework/mpas_stream_manager.F
Labels: Framework

#169 Add critical land blockages to global_ocean tests
  testing_and_setup/compass/ocean/global_ocean/config_files/config_culled_mesh.xml
  testing_and_setup/compass/ocean/global_ocean/cull_mesh.py
Labels: Compass, Ocean

#180 Make coastal refined meshes produced with JGSAW BFB between runs
  testing_and_setup/compass/ocean/jigsaw_to_MPAS/coastal_tools.py
Labels: Compass, Ocean, bug, mesh

#182 Minor clean up of NAEC60to30cr8 mesh
  testing_and_setup/compass/ocean/global_ocean/NAEC60to30cr8/init/define_base_mesh.py
  testing_and_setup/compass/ocean/jigsaw_to_MPAS/coastal_tools.py
Labels: Compass, Ocean, mesh

#160 Change length of xtime variables to ShortStrKIND to match netCDF files
  src/framework/mpas_io_streams.F
Labels: Framework, bug

#181 Add missing 'recursive' attribute to MPAS_log_write(...) routine
  src/framework/mpas_log.F
Labels: Framework, bug

#85 YSU PBL physics unified with WRFV4.0
  src/core_atmosphere/physics/mpas_atmphys_driver_pbl.F
  src/core_atmosphere/physics/physics_wrf/module_bl_ysu.F
Labels: Atmosphere

#110 New Tiedtke Cumulus Scheme Unified with WRFV4.0
  src/core_atmosphere/physics/physics_wrf/module_cu_ntiedtke.F
Labels: Atmosphere

#84 WSM6 microphysics unified with WRFV4.0
  src/core_atmosphere/physics/physics_wrf/module_mp_wsm6.F
Labels: Atmosphere

#173 Fixes indexing issue in SurfaceAreaWeighted AM
  src/core_ocean/analysis_members/mpas_ocn_surface_area_weighted_averages.F
Labels: Ocean, bug

#175 Fix snowFlow misspelling
  src/core_ocean/shared/mpas_ocn_diagnostics.F
Labels: Ocean, bug

#168 Add two new upper absorbing layer options
  src/core_atmosphere/Registry.xml
  src/core_atmosphere/dynamics/mpas_atm_time_integration.F
Labels: Atmosphere, feature

#153 Avoid use of paths in include statements for registry-generated files in MPAS-A
  src/core_atmosphere/Makefile
  src/core_atmosphere/mpas_atm_core_interface.F
  src/core_init_atmosphere/Makefile
  src/core_init_atmosphere/mpas_init_atm_core_interface.F
Labels: Atmosphere, clean-up
