Repository MPAS-Dev/MPAS-Model, pull requests merged in 2019-10, with the labels that each got.

#376 Fix threading issue in MPAS-O GM routine
  src/core_ocean/shared/mpas_ocn_gm.F
Labels: Ocean, bug

#382 fix layerthickness call
  src/core_ocean/shared/mpas_ocn_tendency.F
  src/core_ocean/shared/mpas_ocn_thick_surface_flux.F
Labels: Ocean, bug

#368 Remove unused variables hEddyFlux,hKappa,hKappaQ
  src/core_ocean/Registry.xml
  src/core_ocean/shared/mpas_ocn_gm.F
Labels: Ocean, clean-up

#370 Always allocate rainFlux and evaporationFlux.
  src/core_ocean/Registry.xml
Labels: Ocean, bug

#329 Fix and Update Code Layout section in README
  README.md
Labels: Documentation only, clean-up

#330 SST input and output interval check
  src/core_init_atmosphere/mpas_init_atm_cases.F
Labels: Atmosphere
