Repository MPAS-Dev/MPAS-Model, pull requests merged in 2019-02, with the labels that each got.

#148 Update default 'config_geog_data_path' for current NWSC Glade filesystem
  src/core_init_atmosphere/Registry.xml
Labels: Atmosphere, clean-up

#149 Zero-out physics tendencies if MPAS-A was not built with physics
  src/core_atmosphere/dynamics/mpas_atm_time_integration.F
Labels: Atmosphere, bug

#150 Obviate the need for r8 compiler flags in MPAS-A without physics
  src/core_atmosphere/diagnostics/convective_diagnostics.F
  src/core_atmosphere/diagnostics/isobaric_diagnostics.F
  src/core_atmosphere/diagnostics/soundings.F
  src/core_atmosphere/physics/mpas_atmphys_functions.F
Labels: Atmosphere, clean-up

#135 Avoid divide-by-zero in zb computation for Jablonowski & Williamson initialization
  src/core_init_atmosphere/mpas_init_atm_cases.F
Labels: Atmosphere, bug

#157 Point global_ocean_V1 test cases to correct templates
  testing_and_setup/compass/ocean/global_ocean_V1/EC120to60/default/config_init2.xml
  testing_and_setup/compass/ocean/global_ocean_V1/EC120to60/spin_up/config_init2.xml
  testing_and_setup/compass/ocean/global_ocean_V1/EC60to30/default/config_init2.xml
  testing_and_setup/compass/ocean/global_ocean_V1/EC60to30/five_cell/config_init1.xml
  testing_and_setup/compass/ocean/global_ocean_V1/EC60to30/five_cell/config_init2.xml
  testing_and_setup/compass/ocean/global_ocean_V1/EC60to30/single_cell/config_init1.xml
  testing_and_setup/compass/ocean/global_ocean_V1/EC60to30/single_cell/config_init2.xml
  testing_and_setup/compass/ocean/global_ocean_V1/EC60to30/spin_up/config_init2.xml
  testing_and_setup/compass/ocean/global_ocean_V1/EC60to30/with_land_ice/config_init2.xml
  testing_and_setup/compass/ocean/global_ocean_V1/QU120/default/config_init2.xml
  testing_and_setup/compass/ocean/global_ocean_V1/QU120/ecosys_60_layer/config_init2.xml
  testing_and_setup/compass/ocean/global_ocean_V1/QU120/with_land_ice/config_init2.xml
  testing_and_setup/compass/ocean/global_ocean_V1/QU240/analysis_test/config_init2.xml
  testing_and_setup/compass/ocean/global_ocean_V1/QU240/default/config_init2.xml
  testing_and_setup/compass/ocean/global_ocean_V1/QU240/performance_test/config_init2.xml
  testing_and_setup/compass/ocean/global_ocean_V1/QU240/restart_test/config_init2.xml
  testing_and_setup/compass/ocean/global_ocean_V1/QU240/rk4_blocks_test/config_init2.xml
  testing_and_setup/compass/ocean/global_ocean_V1/QU240/se_blocks_test/config_init2.xml
  testing_and_setup/compass/ocean/global_ocean_V1/QU240/with_land_ice/config_init2.xml
  testing_and_setup/compass/ocean/global_ocean_V1/QU240/with_land_ice_no_iter/config_init2.xml
  testing_and_setup/compass/ocean/global_ocean_V1/QU240/zstar_128_layers/config_init2.xml
  testing_and_setup/compass/ocean/global_ocean_V1/QU480/default/config_init2.xml
  testing_and_setup/compass/ocean/global_ocean_V1/RRS15to5/default/config_init2.xml
  testing_and_setup/compass/ocean/global_ocean_V1/RRS15to5/spin_up/config_init2.xml
  testing_and_setup/compass/ocean/global_ocean_V1/RRS18to6/default/config_init2.xml
  testing_and_setup/compass/ocean/global_ocean_V1/RRS18to6/spin_up/config_init2.xml
  testing_and_setup/compass/ocean/global_ocean_V1/RRS30to10/default/config_init2.xml
  testing_and_setup/compass/ocean/global_ocean_V1/RRS30to10/spin_up/config_init2.xml
Labels: Compass, bug

#146 Fix core count in compass regression suites
  testing_and_setup/compass/manage_regression_suite.py
Labels: Compass, bug

#165 Change start index from 1 to 2 on activeTracerVerticalAdvectionTopFlux
  src/core_ocean/shared/mpas_ocn_tracer_advection_mono.F
Labels: Ocean, bug

#107 Update clock and mpas_log_info in core_atmosphere when there are multiple instances of domain
  src/core_atmosphere/mpas_atm_core.F
Labels: Atmosphere
