Repository MPAS-Dev/MPAS-Model, pull requests merged in 2019-07, with the labels that each got.

#311 Adds option for an explicit barotropic (ssh-only) pressure gradient
  src/core_ocean/Registry.xml
  src/core_ocean/shared/mpas_ocn_tendency.F
  src/core_ocean/shared/mpas_ocn_vel_pressure_grad.F
Labels: coastal

#310 Fixes implicit Rayleigh bug in implicit solver
  src/core_ocean/shared/mpas_ocn_vmix.F
Labels: Ocean, bug, coastal

#312 Adds depth-averaged Rayleigh drag
  src/core_ocean/Registry.xml
  src/core_ocean/shared/mpas_ocn_vmix.F
Labels: coastal

#270 Add option to seed LIGHT particles at cell-centers with gaussian noise added
  testing_and_setup/compass/ocean/scripts/LIGHTparticles/make_particle_file.py
Labels: COMPASS, LIGHT

#314 Bugfix for snow grain aging, snow tracer updates and snow surface layer
  src/core_seaice/column/ice_algae.F90
  src/core_seaice/column/ice_snow.F90
  src/core_seaice/column/ice_zbgc.F90
  src/core_seaice/shared/mpas_seaice_column.F
Labels: Sea ice, bug

#307 Enable MPAS to be compiled into position-independent code
  Makefile
Labels: Framework, feature

#319 Convert LIGHT particle init script to python3
  testing_and_setup/compass/ocean/scripts/LIGHTparticles/make_particle_file.py
Labels: COMPASS, LIGHT, Ocean, clean-up

#309 Reserve some unit numbers for unformatted I/O
  src/framework/mpas_io_units.F
Labels: Framework, feature

#327 Cleaned up names in rk4 time stepping for clarity
  src/core_ocean/mode_forward/mpas_ocn_time_integration_rk4.F
  src/core_ocean/shared/mpas_ocn_wetting_drying.F
Labels: Ocean, clean-up

#333 Delint landice files
  src/core_landice/analysis_members/mpas_li_global_stats.F
  src/core_landice/analysis_members/mpas_li_regional_stats.F
  src/core_landice/mode_forward/mpas_li_advection.F
  src/core_landice/mode_forward/mpas_li_calving.F
  src/core_landice/mode_forward/mpas_li_iceshelf_melt.F
  src/core_landice/mode_forward/mpas_li_thermal.F
Labels: Land Ice, clean-up
