Repository MPAS-Dev/MPAS-Model, pull requests merged in 2019-04, with the labels that each got.

#129 PIO version compatibility check
  Makefile
Labels: Framework, feature

#200 Ignore the word vector during preprocessing for E3SM Makefile
  src/Makefile.in.E3SM
Labels: Framework, bug

#185 Clone pool memory leak
  src/framework/mpas_pool_routines.F
Labels: Framework, bug

#196 Fix null pointer warning for string argument to parse_struct in registry code
  src/tools/registry/gen_inc.c
Labels: Framework, clean-up

#197 Fix implicit declaration of generate_immutable_streams in gen_inc code
  src/tools/registry/gen_inc.h
Labels: Framework, clean-up

#198 Fix warnings for implicitly declared functions in xml_stream_parser.c
  src/framework/xml_stream_parser.c
Labels: Framework, clean-up

#199 Don't process trigraphs with the XL compilers
  Makefile
Labels: Framework, clean-up

#202 Fix formatting on E3SM Makefile
  src/Makefile.in.E3SM
Labels: Framework, clean-up

#188 Change default topo and landuse to GMTED2010 and MODIFIED_IGBP_MODIS_NOAH
  src/core_atmosphere/Registry.xml
  src/core_init_atmosphere/Registry.xml
Labels: Atmosphere

#192 Update checkout_data_files.sh to obtain new physics tables for WRF 4.0.3 physics
  src/core_atmosphere/physics/checkout_data_files.sh
Labels: Atmosphere

#86 Noah LSM physics unified with WRFV4.0
  src/core_atmosphere/Registry.xml
  src/core_atmosphere/physics/mpas_atmphys_date_time.F
  src/core_atmosphere/physics/mpas_atmphys_driver_lsm.F
  src/core_atmosphere/physics/mpas_atmphys_initialize_real.F
  src/core_atmosphere/physics/mpas_atmphys_landuse.F
  src/core_atmosphere/physics/mpas_atmphys_lsm_noahinit.F
  src/core_atmosphere/physics/mpas_atmphys_update_surface.F
  src/core_atmosphere/physics/mpas_atmphys_vars.F
  src/core_atmosphere/physics/physics_wrf/Makefile
  src/core_atmosphere/physics/physics_wrf/module_sf_bem.F
  src/core_atmosphere/physics/physics_wrf/module_sf_bep.F
  src/core_atmosphere/physics/physics_wrf/module_sf_bep_bem.F
  src/core_atmosphere/physics/physics_wrf/module_sf_noah_seaice.F
  src/core_atmosphere/physics/physics_wrf/module_sf_noah_seaice_drv.F
  src/core_atmosphere/physics/physics_wrf/module_sf_noahdrv.F
  src/core_atmosphere/physics/physics_wrf/module_sf_noahlsm.F
  src/core_atmosphere/physics/physics_wrf/module_sf_noahlsm_glacial_only.F
  src/core_atmosphere/physics/physics_wrf/module_sf_urban.F
Labels: Atmosphere

#206 Adds boundary tidal forcing capability
  src/core_ocean/Registry.xml
  src/core_ocean/driver/mpas_ocn_core_interface.F
  src/core_ocean/mode_forward/mpas_ocn_forward_mode.F
  src/core_ocean/mode_init/Makefile
  src/core_ocean/mode_init/Registry.xml
  src/core_ocean/mode_init/Registry_tidal_boundary.xml
  src/core_ocean/mode_init/mpas_ocn_init_mode.F
  src/core_ocean/mode_init/mpas_ocn_init_tidal_boundary.F
  src/core_ocean/shared/Makefile
  src/core_ocean/shared/mpas_ocn_tendency.F
  src/core_ocean/shared/mpas_ocn_tidal_forcing.F
  testing_and_setup/compass/ocean/surface_waves/default/1km/config_analysis.xml
  testing_and_setup/compass/ocean/surface_waves/default/1km/config_driver.xml
  testing_and_setup/compass/ocean/surface_waves/default/1km/config_forward.xml
  testing_and_setup/compass/ocean/surface_waves/default/1km/config_init1.xml
  testing_and_setup/compass/ocean/surface_waves/default/analysis/comparison.py
Labels: Ocean, coastal, feature

#211 Enable coastal floodplain meshing
  testing_and_setup/compass/ocean/coastal/USDEQU120cr10rr2/build_mesh/config_base_mesh.xml
  testing_and_setup/compass/ocean/coastal/USDEQU120cr10rr2/build_mesh/config_culled_mesh.xml
  testing_and_setup/compass/ocean/coastal/USDEQU120cr10rr2/build_mesh/config_driver_init.xml
  testing_and_setup/compass/ocean/coastal/USDEQU120cr10rr2/build_mesh/define_base_mesh.py
  testing_and_setup/compass/ocean/global_ocean/cull_mesh.py
  testing_and_setup/compass/ocean/jigsaw_to_MPAS/build_mesh.py
  testing_and_setup/compass/ocean/jigsaw_to_MPAS/inject_cullCell.py
  testing_and_setup/compass/ocean/jigsaw_to_MPAS/inject_preserve_floodplain.py
Labels: COMPASS, coastal, mesh

#218 Change word ACME to E3SM
  src/core_ocean/Registry.xml
  src/core_ocean/analysis_members/mpas_ocn_analysis_driver.F
  src/core_ocean/get_BGC.sh
  src/core_ocean/mode_init/Registry_ecosys_column.xml
  src/core_ocean/mode_init/mpas_ocn_init_vertical_grids.F
  src/core_ocean/shared/mpas_ocn_constants.F
  testing_and_setup/compass/ocean/periodic_planar/20km/default_light/config_init1.xml
  testing_and_setup/compass/ocean/periodic_planar/20km/default_light/config_init2.xml
  testing_and_setup/compass/ocean/periodic_planar/20km/region_reset_light_test/config_init1.xml
  testing_and_setup/compass/ocean/periodic_planar/20km/region_reset_light_test/config_init2.xml
  testing_and_setup/compass/ocean/periodic_planar/20km/time_reset_light_test/config_init1.xml
  testing_and_setup/compass/ocean/periodic_planar/20km/time_reset_light_test/config_init2.xml
  testing_and_setup/compass/ocean/single_column_model/planar/cvmix_test/config_init.xml
  testing_and_setup/compass/ocean/single_column_model/sphere/cvmix_test/config_init.xml
  testing_and_setup/compass/ocean/soma/16km/default/config_init1.xml
  testing_and_setup/compass/ocean/soma/16km/default/config_init2.xml
  testing_and_setup/compass/ocean/soma/16km/surface_restoring/config_init1.xml
  testing_and_setup/compass/ocean/soma/16km/surface_restoring/config_init2.xml
  testing_and_setup/compass/ocean/soma/32km/default/config_init1.xml
  testing_and_setup/compass/ocean/soma/32km/default/config_init2.xml
  testing_and_setup/compass/ocean/soma/32km/surface_restoring/config_init1.xml
  testing_and_setup/compass/ocean/soma/32km/surface_restoring/config_init2.xml
  testing_and_setup/compass/ocean/soma/32km/time_varying_wind/config_init1.xml
  testing_and_setup/compass/ocean/soma/32km/time_varying_wind/config_init2.xml
  testing_and_setup/compass/ocean/soma/4km/32to4km/config_init1.xml
  testing_and_setup/compass/ocean/soma/4km/32to4km/config_init2.xml
  testing_and_setup/compass/ocean/soma/4km/default/config_init1.xml
  testing_and_setup/compass/ocean/soma/4km/default/config_init2.xml
  testing_and_setup/compass/ocean/soma/4km/surface_restoring/config_init1.xml
  testing_and_setup/compass/ocean/soma/4km/surface_restoring/config_init2.xml
  testing_and_setup/compass/ocean/soma/8km/32to8km/config_init1.xml
  testing_and_setup/compass/ocean/soma/8km/32to8km/config_init2.xml
  testing_and_setup/compass/ocean/soma/8km/default/config_init1.xml
  testing_and_setup/compass/ocean/soma/8km/default/config_init2.xml
  testing_and_setup/compass/ocean/soma/8km/surface_restoring/config_init1.xml
  testing_and_setup/compass/ocean/soma/8km/surface_restoring/config_init2.xml
  testing_and_setup/compass/ocean/ziso/10km/default/config_init1.xml
  testing_and_setup/compass/ocean/ziso/10km/default/config_init2.xml
  testing_and_setup/compass/ocean/ziso/2.5km/default/config_init1.xml
  testing_and_setup/compass/ocean/ziso/2.5km/default/config_init2.xml
  testing_and_setup/compass/ocean/ziso/20km/default/config_init1.xml
  testing_and_setup/compass/ocean/ziso/20km/default/config_init2.xml
  testing_and_setup/compass/ocean/ziso/20km/with_frazil/config_init1.xml
  testing_and_setup/compass/ocean/ziso/20km/with_frazil/config_init2.xml
  testing_and_setup/compass/ocean/ziso/5km/default/config_init1.xml
  testing_and_setup/compass/ocean/ziso/5km/default/config_init2.xml
Labels: Ocean, clean-up
