Repository MPAS-Dev/MPAS-Model, pull requests merged in 2019-06, with the labels that each got.

#260 Adds vertex-based seeding for LIGHT
  testing_and_setup/compass/utility_scripts/LIGHTparticles/make_particle_file.py
Labels: LIGHT

#269 Return error from read_stream() when inexact stream time not found
  src/framework/mpas_stream_manager.F
Labels: Framework, bug

#271 Communicate effective radii for cloud, ice, and snow between MPAS and WSM6
  src/core_atmosphere/physics/mpas_atmphys_interface.F
Labels: Atmosphere, bug

#273 Update several default options in the init_atmosphere core for regional simulations
  src/core_init_atmosphere/Registry.xml
Labels: Atmosphere, clean-up

#276 Add log message for lbc updates
  src/core_atmosphere/dynamics/mpas_atm_boundaries.F
Labels: Atmosphere, clean-up

#258 Move LIGHT scripts to ocean COMPASS directory
  testing_and_setup/compass/ocean/scripts/LIGHTparticles/animated_particles.py
  testing_and_setup/compass/ocean/scripts/LIGHTparticles/make_particle_file.py
  testing_and_setup/compass/ocean/scripts/LIGHTparticles/streams.ocean
  testing_and_setup/compass/ocean/scripts/LIGHTparticles/user_nl_mpaso
Labels: COMPASS, LIGHT, Ocean

#274 Update BGC version
  src/core_ocean/get_BGC.sh
Labels: Ocean, python 3

#279 fix ZISO python quotes
  testing_and_setup/compass/ocean/ziso/20km/default/config_forward.xml
Labels: COMPASS, Ocean, bug

#285 Fixes Rayleigh bottom drag that wasn't applied unless Rayleigh drag applied
  src/core_ocean/shared/mpas_ocn_vel_forcing_rayleigh.F
Labels: Ocean, bug, coastal

#237 Only access config_pio_stride and config_pio_num_iotasks when necessary
  src/framework/mpas_framework.F
Labels: Framework, clean-up

#242 Add optional argument 'unitNumbers' to core % setup_log(...) routine
  src/core_atmosphere/mpas_atm_core_interface.F
  src/core_init_atmosphere/mpas_init_atm_core_interface.F
  src/core_landice/mode_forward/mpas_li_core_interface.F
  src/core_ocean/driver/mpas_ocn_core_interface.F
  src/core_seaice/model_forward/mpas_seaice_core_interface.F
  src/core_sw/mpas_sw_core_interface.F
  src/core_test/mpas_test_core_interface.F
  src/framework/mpas_core_types.inc
Labels: Framework

#289 Migrates Rayleigh drag from explicit to implicit
  src/core_ocean/shared/Makefile
  src/core_ocean/shared/mpas_ocn_vel_forcing.F
  src/core_ocean/shared/mpas_ocn_vel_forcing_rayleigh.F
  src/core_ocean/shared/mpas_ocn_vmix.F
Labels: Ocean, clean-up, coastal

#284 Adds option to directly force tidal boundary
  src/core_ocean/Registry.xml
  src/core_ocean/mode_forward/mpas_ocn_time_integration_rk4.F
  src/core_ocean/shared/mpas_ocn_tidal_forcing.F
  testing_and_setup/compass/ocean/surface_waves/analysis/comparison.py
  testing_and_setup/compass/ocean/surface_waves/direct/1km/config_analysis.xml
  testing_and_setup/compass/ocean/surface_waves/direct/1km/config_driver.xml
  testing_and_setup/compass/ocean/surface_waves/direct/1km/config_forward.xml
  testing_and_setup/compass/ocean/surface_waves/direct/1km/config_init1.xml
  testing_and_setup/compass/ocean/surface_waves/thickness_source/1km/config_analysis.xml
  testing_and_setup/compass/ocean/surface_waves/thickness_source/1km/config_driver.xml
  testing_and_setup/compass/ocean/surface_waves/thickness_source/1km/config_forward.xml
  testing_and_setup/compass/ocean/surface_waves/thickness_source/1km/config_init1.xml
Labels: clean-up, coastal

#297 Fixes byte to string conversion python3 error
  testing_and_setup/compass/clean_testcase.py
Labels: COMPASS, Framework, bug, python 3

#268 ocean tracer advection CPU optimizations
  src/core_ocean/shared/mpas_ocn_tracer_advection.F
  src/core_ocean/shared/mpas_ocn_tracer_advection_mono.F
  src/core_ocean/shared/mpas_ocn_tracer_advection_std.F
Labels: Ocean, performance

#300 Prevent divide-by-zero in Langmuir number
  src/core_ocean/shared/mpas_ocn_vmix_cvmix.F
Labels: Ocean, bug

#304 BGC tag to short version
  src/core_ocean/get_BGC.sh
Labels: Ocean, bug

#292 Update README for COMPASS ocean with latest mpas_tools
  testing_and_setup/compass/README_ocean.md
  testing_and_setup/compass/ocean/README.md
Labels: COMPASS, Ocean, clean-up

#293 Change name coriolis to hadv_coriolis
  src/core_ocean/Registry.xml
  src/core_ocean/mode_forward/mpas_ocn_forward_mode.F
  src/core_ocean/shared/Makefile
  src/core_ocean/shared/mpas_ocn_tendency.F
  src/core_ocean/shared/mpas_ocn_vel_hadv_coriolis.F
Labels: Ocean, clean-up

#302 Fixes typo in particle file initialization script
  testing_and_setup/compass/ocean/scripts/LIGHTparticles/make_particle_file.py
Labels: COMPASS, LIGHT

#303 Stream defaults and white space corrections in xml file
  src/core_ocean/analysis_members/Registry_high_frequency_output.xml
Labels: Ocean, clean-up
