Repository MPAS-Dev/MPAS-Model, pull requests merged in 2019-08, with the labels that each got.

#305 bug fixes for the nonlocal source term in KPP
  src/core_ocean/shared/mpas_ocn_diagnostics.F
  testing_and_setup/compass/ocean/global_ocean/template_forward.xml
Labels: Ocean, bug

#331 Bugfix to prevent negative liquid water content in snow.
  src/core_seaice/column/ice_shortwave.F90
  src/core_seaice/column/ice_therm_vertical.F90
Labels: Sea ice, bug

#288 Adds options for 3d varying GM bolus and 2d varying phase speed
  src/core_ocean/Registry.xml
  src/core_ocean/shared/mpas_ocn_gm.F
Labels: Ocean, feature

#334 Update COMPASS ocean README with new geometric_features
  testing_and_setup/compass/README_ocean.md
Labels: COMPASS, Ocean, clean-up

#347 Fix MPAS-A rthratenlw Registry description
  src/core_atmosphere/Registry.xml
Labels: Atmosphere, clean-up
