Repository MPAS-Dev/MPAS-Model, pull requests merged in 2019-09, with the labels that each got.

#354 Fixes typo for depth-variable Rayleigh drag
  src/core_ocean/shared/mpas_ocn_vmix.F
Labels: bug, clean-up, coastal

#356 Fixes debug error with unassigned variable
  src/core_ocean/shared/mpas_ocn_vel_forcing.F
Labels: bug, clean-up, coastal

#358 Adds drying safety factor needed for real-world cases
  src/core_ocean/Registry.xml
  src/core_ocean/shared/mpas_ocn_wetting_drying.F
Labels: coastal

#355 Seaice/njeffery index allocation bug
  src/core_seaice/shared/mpas_seaice_column.F
Labels: Sea ice, bug

#351 bugfix for mpas_init_atm_gwd.F to handle config_geog_data_path with and without trailing slashes
  src/core_init_atmosphere/mpas_init_atm_gwd.F
Labels: Atmosphere, clean-up

#369 Seaice/njeffery zbgc n mods
  src/core_seaice/Registry.xml
  src/core_seaice/column/ice_algae.F90
  src/core_seaice/column/ice_colpkg.F90
  src/core_seaice/column/ice_colpkg_shared.F90
  src/core_seaice/shared/mpas_seaice_column.F
  testing_and_setup/seaice/configurations/aerosol_shortwave_physics/namelist.seaice
  testing_and_setup/seaice/configurations/snicar_shortwave/namelist.seaice
  testing_and_setup/seaice/configurations/snow_tracer_physics/namelist.seaice
  testing_and_setup/seaice/configurations/standard_bgc/namelist.seaice
  testing_and_setup/seaice/configurations/standard_physics/namelist.seaice
  testing_and_setup/seaice/configurations/standard_physics_single_cell/namelist.seaice
Labels: Sea ice
