Repository MPAS-Dev/MPAS-Model, pull requests merged in 2019-05, with the labels that each got.

#223 Add missing dependency for module_sf_noah_seaice.o in physics_wrf/Makefile
  src/core_atmosphere/physics/physics_wrf/Makefile
Labels: Atmosphere, bug

#212 PIO Version Compatibility Check - PGI Compiler Bug Fix
  Makefile
Labels: Framework, bug

#183 Use CAM climatological O3 by default
  src/core_atmosphere/Registry.xml
Labels: Atmosphere

#221 Enable blending of terrain field with first-guess terrain along domain boundary
  src/core_init_atmosphere/Registry.xml
  src/core_init_atmosphere/mpas_init_atm_cases.F
Labels: Atmosphere, feature

#187 update of module_bl_gwdo.F to WRF-v4.0.2
  src/core_atmosphere/physics/mpas_atmphys_driver_gwdo.F
  src/core_atmosphere/physics/mpas_atmphys_vars.F
  src/core_atmosphere/physics/physics_wrf/module_bl_gwdo.F
Labels: Atmosphere

#164 Update sub-ice-shelf melt to remove coupled flag
  src/core_ocean/shared/mpas_ocn_surface_land_ice_fluxes.F
Labels: Ocean, clean-up

#186 WSM6 correction for accretion for freezing rain
  src/core_atmosphere/physics/physics_wrf/module_mp_wsm6.F
Labels: Atmosphere, bug

#225 Fix incorrect 'xtime' variable in MPAS-A when dt is non-integral
  src/core_atmosphere/dynamics/mpas_atm_time_integration.F
  src/core_atmosphere/mpas_atm_core.F
Labels: Atmosphere, bug

#245 Fix decoding in script generated for regression suites
  testing_and_setup/compass/manage_regression_suite.py
Labels: COMPASS, Framework

#243 Re-compute initial RH w.r.t. ice where temperature is below freezing
  src/core_init_atmosphere/mpas_init_atm_cases.F
Labels: Atmosphere, clean-up

#246 Add init_atmosphere option to read vertical coordinate values from a text file
  src/core_init_atmosphere/Registry.xml
  src/core_init_atmosphere/mpas_init_atm_cases.F
Labels: Atmosphere, feature

#247 Check for a valid vertical grid in MPAS-A LBC setup case
  src/core_init_atmosphere/mpas_init_atm_cases.F
Labels: Atmosphere, clean-up

#255 Enable soundings to handle non-existence of config_sounding_interval option
  src/core_atmosphere/diagnostics/soundings.F
Labels: Atmosphere, clean-up

#248 Fix tracer depth conversion in EC60to30 init
  testing_and_setup/compass/ocean/global_ocean/EC60to30/init/config_initial_state.xml
Labels: COMPASS, Ocean, bug

#249 Reduce time btr and full time step in QU60
  testing_and_setup/compass/ocean/global_ocean/QU60/template_forward.xml
Labels: COMPASS, Ocean, bug

#252 Update time on `animated_particles` to be compatible with `annotate_date` and convert to python3
  testing_and_setup/compass/utility_scripts/LIGHTparticles/animated_particles.py
Labels: LIGHT, Ocean, python 3

#257 Fix particle animation script's VTK generation to allow for particle pathlines in ParaView
  testing_and_setup/compass/utility_scripts/LIGHTparticles/animated_particles.py
Labels: LIGHT

#261 Delint and white space cleanup
  src/core_ocean/Registry.xml
  src/core_ocean/analysis_members/Registry_high_frequency_output.xml
  src/core_ocean/analysis_members/Registry_mixed_layer_depths.xml
  src/core_ocean/mode_init/Registry_dam_break.xml
  src/core_ocean/mode_init/Registry_tidal_boundary.xml
  src/core_ocean/tracer_groups/Registry_ecosys.xml
Labels: Ocean, clean-up

#262 Introduce early check on whether boundary terrain blending will succeed
  src/core_init_atmosphere/mpas_init_atm_cases.F
Labels: Atmosphere, clean-up

#152 Update ocean BGC threading
  src/core_ocean/mode_forward/mpas_ocn_time_integration_rk4.F
  src/core_ocean/mode_forward/mpas_ocn_time_integration_split.F
  src/core_ocean/shared/mpas_ocn_diagnostics.F
  src/core_ocean/shared/mpas_ocn_equation_of_state_jm.F
  src/core_ocean/shared/mpas_ocn_frazil_forcing.F
  src/core_ocean/shared/mpas_ocn_gm.F
  src/core_ocean/shared/mpas_ocn_sea_ice.F
  src/core_ocean/shared/mpas_ocn_surface_land_ice_fluxes.F
  src/core_ocean/shared/mpas_ocn_tendency.F
  src/core_ocean/shared/mpas_ocn_thick_ale.F
  src/core_ocean/shared/mpas_ocn_tracer_advection_mono.F
  src/core_ocean/shared/mpas_ocn_tracer_hmix_del2.F
  src/core_ocean/shared/mpas_ocn_tracer_hmix_del4.F
  src/core_ocean/shared/mpas_ocn_tracer_hmix_redi.F
  src/core_ocean/shared/mpas_ocn_tracer_short_wave_absorption_jerlov.F
  src/core_ocean/shared/mpas_ocn_tracer_short_wave_absorption_variable.F
  src/core_ocean/shared/mpas_ocn_vel_coriolis.F
  src/core_ocean/shared/mpas_ocn_vel_forcing_surface_stress.F
  src/core_ocean/shared/mpas_ocn_vel_hmix_del4.F
  src/core_ocean/shared/mpas_ocn_vel_pressure_grad.F
  src/core_ocean/shared/mpas_ocn_vel_vadv.F
  src/core_ocean/shared/mpas_ocn_vmix.F
  src/core_ocean/shared/mpas_ocn_vmix_cvmix.F
Labels: Ocean, performance

#265 Remove broken log write of cf1,cf2,cf3 from init_atm_case_gfs
  src/core_init_atmosphere/mpas_init_atm_cases.F
Labels: Atmosphere, clean-up

#264 When using specified zeta levels, set 'zt' for correct coordinate surface smoothing
  src/core_init_atmosphere/mpas_init_atm_cases.F
Labels: Atmosphere, bug

#251 Update CVMix to 0.95-beta
  src/core_ocean/get_cvmix.sh
Labels: Ocean, python 3

#266 Fix race condition in file tests when clobber_mode = 'append' or 'overwrite'
  src/framework/mpas_stream_manager.F
Labels: Framework, bug

#267 Avoid calling mpas_atm_update_bdy_tend whenever config_apply_lbcs = false
  src/core_atmosphere/mpas_atm_core.F
Labels: Atmosphere, bug
