Repository MPAS-Dev/MPAS-Model, pull requests merged in 2020-02, with the labels that each got.

#427 Update mpas_tools to 0.0.6 in COMPASS
  testing_and_setup/compass/README_ocean.md
Labels: COMPASS, Ocean

#419 Add Arctic Regional Mesh to COMPASS
  testing_and_setup/compass/ocean/global_ocean/ARM60to10/init/config_base_mesh.xml
  testing_and_setup/compass/ocean/global_ocean/ARM60to10/init/config_culled_mesh.xml
  testing_and_setup/compass/ocean/global_ocean/ARM60to10/init/config_driver.xml
  testing_and_setup/compass/ocean/global_ocean/ARM60to10/init/config_initial_state.xml
  testing_and_setup/compass/ocean/global_ocean/ARM60to10/init/define_base_mesh.py
  testing_and_setup/compass/ocean/global_ocean/ARM60to6/init/config_base_mesh.xml
  testing_and_setup/compass/ocean/global_ocean/ARM60to6/init/config_culled_mesh.xml
  testing_and_setup/compass/ocean/global_ocean/ARM60to6/init/config_driver.xml
  testing_and_setup/compass/ocean/global_ocean/ARM60to6/init/config_initial_state.xml
  testing_and_setup/compass/ocean/global_ocean/ARM60to6/init/define_base_mesh.py
  testing_and_setup/compass/ocean/global_ocean/EC60to30/init/define_base_mesh.py
  testing_and_setup/compass/ocean/global_ocean/EC60to30wISC/init/config_driver_init.xml
  testing_and_setup/compass/ocean/global_ocean/EC60to30wISC/init/define_base_mesh.py
  testing_and_setup/compass/ocean/global_ocean/QU240/init/define_base_mesh.py
  testing_and_setup/compass/ocean/global_ocean/QU240wISC/init/config_driver_init.xml
  testing_and_setup/compass/ocean/global_ocean/QU240wISC/init/define_base_mesh.py
  testing_and_setup/compass/ocean/global_ocean/QU60/init/define_base_mesh.py
  testing_and_setup/compass/ocean/global_ocean/SO60to10wISC/init/config_driver_init.xml
  testing_and_setup/compass/ocean/global_ocean/SO60to10wISC/init/define_base_mesh.py
  testing_and_setup/compass/ocean/global_ocean/SOQU60to15/init/define_base_mesh.py
  testing_and_setup/compass/ocean/jigsaw_to_MPAS/build_mesh.py
  testing_and_setup/compass/ocean/jigsaw_to_MPAS/mesh_definition_tools.py
Labels: COMPASS, Ocean

#418 First commit for modification of python scripts plotting four test cases
  testing_and_setup/compass/ocean/baroclinic_channel/10km/rpe_test/plot.py
  testing_and_setup/compass/ocean/baroclinic_channel/1km/rpe_test/plot.py
  testing_and_setup/compass/ocean/baroclinic_channel/4km/rpe_test/plot.py
  testing_and_setup/compass/ocean/internal_waves/5km/rpe_test/plot.py
  testing_and_setup/compass/ocean/lock_exchange/0.5km/rpe_test/plot.py
Labels: COMPASS, Ocean

#428 Fixes analysis script based on new xarray api
  testing_and_setup/compass/ocean/drying_slope/analysis/comparison.py
Labels: COMPASS, coastal

#448 Alter the e3sm_coupling README to add warnings
  testing_and_setup/compass/ocean/global_ocean/scripts/readme_E3SM_coupling_files
Labels: COMPASS, Ocean

#432 Remove link to missing jigsaw Matlab script
  testing_and_setup/compass/ocean/hurricane/USDEQU120at30cr10rr2/build_mesh/config_base_mesh.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU60at15cr5rr1/build_mesh/config_base_mesh.xml
Labels: COMPASS, bug, coastal

#452 MALI: Several Improvements related to handling Albany velocity solver
  src/core_landice/external_albany_version
  src/core_landice/external_trilinos_version
  src/core_landice/mode_forward/Interface_velocity_solver.cpp
  src/core_landice/mode_forward/Interface_velocity_solver.hpp
  src/core_landice/mode_forward/mpas_li_velocity_external.F
  testing_and_setup/compass/landice/MISMIP+/albany_input.yaml
  testing_and_setup/compass/landice/Thwaites_variability/albany_input.yaml
  testing_and_setup/compass/landice/circular-shelf/albany_input.yaml
  testing_and_setup/compass/landice/confined-shelf/albany_input.yaml
  testing_and_setup/compass/landice/dome/albany_input.yaml
  testing_and_setup/compass/landice/greenland/albany_input.yaml
  testing_and_setup/compass/landice/greenland/albany_schoof_input.yaml
Labels: Land Ice, clean-up

#454 Replace WHERE with DO loops in landice for PGI
  src/core_landice/mode_forward/mpas_li_advection.F
  src/core_landice/mode_forward/mpas_li_subglacial_hydro.F
Labels: Land Ice, clean-up

#438 Add a KD-Tree to the init_atmosphere core
  src/core_init_atmosphere/Makefile
  src/core_init_atmosphere/mpas_kd_tree.F
Labels: Atmosphere, feature
