Repository MPAS-Dev/MPAS-Model, pull requests merged in 2020-03, with the labels that each got.

#456 Adds drying slope wetting and drying above land
  src/core_ocean/mode_init/mpas_ocn_init_tidal_boundary.F
  testing_and_setup/compass/ocean/drying_slope/analysis/comparison_above_land.py
  testing_and_setup/compass/ocean/drying_slope/zstar_above_land/1km/config_analysis.xml
  testing_and_setup/compass/ocean/drying_slope/zstar_above_land/1km/config_driver.xml
  testing_and_setup/compass/ocean/drying_slope/zstar_above_land/1km/config_forward.xml
  testing_and_setup/compass/ocean/drying_slope/zstar_above_land/1km/config_init.xml
Labels: coastal

#463 Fix race condition for ezxml library in parallel builds
  src/external/Makefile
  src/external/ezxml/Makefile
  src/tools/input_gen/Makefile
  src/tools/registry/Makefile
Labels: Framework, bug

#462 Update ocean readme with new compass environment
  testing_and_setup/compass/README_ocean.md
Labels: COMPASS, Ocean

#467 Add support for copy_file tag
  testing_and_setup/compass/setup_testcase.py
Labels: COMPASS, feature

#447 compute landIceMask using geometric_features
  src/core_ocean/mode_init/mpas_ocn_init_global_ocean.F
  src/core_ocean/mode_init/mpas_ocn_init_isomip.F
  src/core_ocean/mode_init/mpas_ocn_init_isomip_plus.F
  src/core_ocean/mode_init/mpas_ocn_init_vertical_grids.F
  src/core_ocean/shared/mpas_ocn_diagnostics.F
  testing_and_setup/compass/ocean/global_ocean/EC60to30wISC/init/config_no_ISC_culled_mesh.xml
  testing_and_setup/compass/ocean/global_ocean/QU240wISC/init/config_no_ISC_culled_mesh.xml
  testing_and_setup/compass/ocean/global_ocean/SO60to10wISC/init/config_driver_init.xml
  testing_and_setup/compass/ocean/global_ocean/SO60to10wISC/init/config_no_ISC_culled_mesh.xml
  testing_and_setup/compass/ocean/global_ocean/config_files_ISC/config_driver_init.xml
  testing_and_setup/compass/ocean/global_ocean/config_files_ISC/config_e3sm_coupling.xml
  testing_and_setup/compass/ocean/global_ocean/config_files_ISC/config_initial_state.xml
  testing_and_setup/compass/ocean/global_ocean/config_files_ISC/config_no_ISC_culled_mesh.xml
  testing_and_setup/compass/ocean/global_ocean/cull_mesh.py
  testing_and_setup/compass/ocean/global_ocean/template_init_with_land_ice.xml
  testing_and_setup/compass/ocean/global_ocean/template_ssh_adjustment.xml
Labels: COMPASS, Ocean

#440 Ocean init mode: add subroutine for smoothing topography
  src/core_ocean/Registry.xml
  src/core_ocean/mode_init/Makefile
  src/core_ocean/mode_init/Registry_global_ocean.xml
  src/core_ocean/mode_init/mpas_ocn_init_global_ocean.F
  src/core_ocean/mode_init/mpas_ocn_init_smoothing.F
  testing_and_setup/compass/ocean/global_ocean/template_init_with_land_ice.xml
  testing_and_setup/compass/ocean/global_ocean/template_initial_state.xml
Labels: Ocean, feature

#425 add the enthalpy-benchmark test case in COMPASS
  testing_and_setup/compass/landice/enthalpy-benchmark/1m/A/config_driver.xml
  testing_and_setup/compass/landice/enthalpy-benchmark/1m/A/config_run_model_step.xml
  testing_and_setup/compass/landice/enthalpy-benchmark/1m/A/config_setup_mesh_step.xml
  testing_and_setup/compass/landice/enthalpy-benchmark/1m/A/output_comparison.xml
  testing_and_setup/compass/landice/enthalpy-benchmark/1m/B/config_driver.xml
  testing_and_setup/compass/landice/enthalpy-benchmark/1m/B/config_run_model_step.xml
  testing_and_setup/compass/landice/enthalpy-benchmark/1m/B/config_setup_mesh_step.xml
  testing_and_setup/compass/landice/enthalpy-benchmark/1m/enthalpy_1m_template.xml
  testing_and_setup/compass/landice/enthalpy-benchmark/README
  testing_and_setup/compass/landice/enthalpy-benchmark/change_Ts.py
  testing_and_setup/compass/landice/enthalpy-benchmark/enthA_analy_result.mat
  testing_and_setup/compass/landice/enthalpy-benchmark/enthB_analy_result.mat
  testing_and_setup/compass/landice/enthalpy-benchmark/plot_enthalpy_benchmark_A.py
  testing_and_setup/compass/landice/enthalpy-benchmark/plot_enthalpy_benchmark_B.py
  testing_and_setup/compass/landice/enthalpy-benchmark/setup_initial_conditions_A.py
  testing_and_setup/compass/landice/enthalpy-benchmark/setup_initial_conditions_B.py
  testing_and_setup/compass/landice/regression_suites/combined_integration_test_suite.xml
  testing_and_setup/compass/landice/regression_suites/sia_integration_test_suite.xml
Labels: COMPASS, Land Ice

#470 Fix to issue #3254 Error in saturation equation for sea ice bgc
  src/core_seaice/column/ice_algae.F90
Labels: Sea ice

#441 Switch COMPASS from basemap to cartopy
  testing_and_setup/compass/README_ocean.md
  testing_and_setup/compass/ocean/hurricane/interpolate_time_varying_forcing.py
  testing_and_setup/compass/ocean/jigsaw_to_MPAS/coastal_tools.py
Labels: COMPASS, clean-up, coastal

#483 Fix bug in pointwiseStats locations for Sandy cases
  testing_and_setup/compass/ocean/hurricane/create_pointstats_file.py
Labels: bug, coastal

#473 Add support for computing signed distance in COMPASS
  testing_and_setup/compass/ocean/global_ocean/SO60to10wISC/init/config_base_mesh.xml
  testing_and_setup/compass/ocean/global_ocean/SO60to10wISC/init/define_base_mesh.py
  testing_and_setup/compass/ocean/global_ocean/SO60to10wISC/init/high_res_region.geojson
  testing_and_setup/compass/ocean/jigsaw_to_MPAS/coastal_tools.py
Labels: COMPASS, Ocean

#468 Create mask and mapping files for online MOC and MPAS-Analysis
  testing_and_setup/compass/ocean/global_ocean/config_files_ISC/config_e3sm_coupling.xml
  testing_and_setup/compass/ocean/global_ocean/scripts/config_E3SM_coupling_files.ini
  testing_and_setup/compass/ocean/global_ocean/scripts/create_E3SM_coupling_files.py
Labels: COMPASS, Don't merge, Ocean, clean-up

#469 Add COMPASS step for remapping prescribed ISMF
  testing_and_setup/compass/ocean/global_ocean/config_files_ISC/config_e3sm_coupling.xml
  testing_and_setup/compass/ocean/global_ocean/scripts/config_E3SM_coupling_files.ini
  testing_and_setup/compass/ocean/global_ocean/scripts/create_E3SM_coupling_files.py
Labels: COMPASS, Ocean

#482 Add a script for loading the compass conda env
  testing_and_setup/compass/load_compass_env.bash
Labels: COMPASS, Ocean

#487 Update maint1.2: 3D varying GM
  src/core_ocean/Registry.xml
  src/core_ocean/analysis_members/Registry_eddy_product_variables.xml
  src/core_ocean/analysis_members/Registry_time_series_stats_monthly.xml
  src/core_ocean/analysis_members/mpas_ocn_eddy_product_variables.F
  src/core_ocean/get_BGC.sh
  src/core_ocean/get_cvmix.sh
  src/core_ocean/mode_init/mpas_ocn_init_global_ocean.F
  src/core_ocean/shared/mpas_ocn_diagnostics.F
  src/core_ocean/shared/mpas_ocn_gm.F
  testing_and_setup/compass/ocean/global_ocean/template_forward.xml
Labels: Ocean

#484 Corrects error in carbon conservation (Issue #3489)
  src/core_seaice/column/ice_algae.F90
Labels: Sea ice, bug
