Repository MPAS-Dev/MPAS-Model, pull requests merged in 2020-12, with the labels that each got.

#769 Update halos to 3; set thermal thickness min to 0
  src/core_landice/Registry.xml
Labels: Land Ice, bug fix, clean-up

#770 Switch ocean freezing temperature to variable in MPAS-SI
  src/core_seaice/column/constants/cesm/ice_constants_colpkg.F90
  src/core_seaice/column/constants/cice/ice_constants_colpkg.F90
  src/core_seaice/column/ice_algae.F90
  src/core_seaice/column/ice_colpkg.F90
  src/core_seaice/column/ice_colpkg_tracers.F90
  src/core_seaice/column/ice_itd.F90
  src/core_seaice/column/ice_mechred.F90
  src/core_seaice/column/ice_therm_itd.F90
  src/core_seaice/shared/mpas_seaice_column.F
Labels: Sea ice, bug fix

#773 Fixed bug with high frequency coupling
  src/core_seaice/Registry.xml
  src/core_seaice/analysis_members/Registry_seaice_regional_statistics.xml
  src/core_seaice/analysis_members/mpas_seaice_regional_statistics.F
  src/core_seaice/shared/mpas_seaice_column.F
  testing_and_setup/seaice/testing/compare_mpas_files.py
Labels: Sea ice, bug fix

#771 Switch to blackbody coupling for sea ice in E3SM
  src/core_seaice/column/constants/cesm/ice_constants_colpkg.F90
Labels: Sea ice

#750 Parallel interpolation of annual max snow albedo
  src/core_init_atmosphere/mpas_geotile_manager.F
  src/core_init_atmosphere/mpas_init_atm_static.F
Labels: Atmosphere, feature
