Repository MPAS-Dev/MPAS-Model, pull requests merged in 2020-01, with the labels that each got.

#410 Autogenerate ocean config declarations and get commands
  src/core_ocean/mode_analysis/mpas_ocn_analysis_mode.F
  src/core_ocean/mode_forward/mpas_ocn_forward_mode.F
  src/core_ocean/mode_init/mpas_ocn_init_mode.F
  src/core_ocean/shared/Makefile
  src/core_ocean/shared/mpas_ocn_config.F
  src/core_ocean/shared/mpas_ocn_tracer_hmix.F
  src/core_ocean/shared/mpas_ocn_tracer_hmix_del2.F
Labels: Ocean, feature

#421 Correct misspelling of 'coefficients' and 'fields' in atmosphere Registry.xml
  src/core_atmosphere/Registry.xml
Labels: Atmosphere, clean-up

#396 Fix out-of-bounds array access when GWDO scheme was run with multiple threads
  src/core_atmosphere/physics/physics_wrf/module_bl_gwdo.F
Labels: Atmosphere, bug

#400 Add mpas_in_cell, mpas_mirror_point, and mpas_rotate_about_vector to operators
  src/operators/mpas_geometry_utils.F
Labels: Framework, feature

#426 Add a stack to the init_atmosphere core
  src/core_init_atmosphere/Makefile
  src/core_init_atmosphere/mpas_stack.F
Labels: Atmosphere, feature
