Repository MPAS-Dev/MPAS-Model, pull requests merged in 2020-05, with the labels that each got.

#543 fixes for redi to work for BGC
  src/core_ocean/shared/mpas_ocn_tendency.F
  src/core_ocean/shared/mpas_ocn_tracer_hmix.F
  src/core_ocean/shared/mpas_ocn_tracer_hmix_redi.F
  src/core_ocean/tracer_groups/Registry_activeTracers.xml
  src/core_ocean/tracer_groups/Registry_debugTracers.xml
  testing_and_setup/compass/ocean/global_ocean/QU240/bgc_ecosys_test/config_driver.xml
  testing_and_setup/compass/ocean/global_ocean/QU240/bgc_ecosys_test/config_forward.xml
  testing_and_setup/compass/ocean/global_ocean/QU240/bgc_ecosys_test/config_initial_state.xml
  testing_and_setup/compass/ocean/regression_suites/nightly.xml
Labels: Ocean, bug

#547 Fully Removes RediPool
  src/core_ocean/mode_forward/mpas_ocn_time_integration_rk4.F
  src/core_ocean/mode_forward/mpas_ocn_time_integration_split.F
  src/core_ocean/shared/mpas_ocn_tendency.F
Labels: Ocean, bug

#548 Remove unused variables from mpas_atm_core.F
  src/core_atmosphere/mpas_atm_core.F
Labels: Atmosphere, clean-up

#561 Fix land-ice fluxes regression suite
  testing_and_setup/compass/ocean/regression_suites/land_ice_fluxes.xml
  testing_and_setup/compass/ocean/regression_suites/light.xml
Labels: COMPASS, Ocean, bug

#545 Revert some COMPASS changes intended to support conda MPI
  testing_and_setup/compass/README_ocean.md
  testing_and_setup/compass/load_compass_env.sh
  testing_and_setup/compass/ocean/baroclinic_channel/10km/rpe_test/config_mpas_mesh.xml
  testing_and_setup/compass/ocean/baroclinic_channel/1km/rpe_test/config_mpas_mesh.xml
  testing_and_setup/compass/ocean/baroclinic_channel/4km/rpe_test/config_mpas_mesh.xml
  testing_and_setup/compass/ocean/dam_break/default/004m/config_init1.xml
  testing_and_setup/compass/ocean/dam_break/default/012m/config_init1.xml
  testing_and_setup/compass/ocean/drying_slope/meshes/1km/config_init.xml
  testing_and_setup/compass/ocean/drying_slope/meshes/250m/config_init.xml
  testing_and_setup/compass/ocean/internal_waves/5km/rpe_test/config_mpas_mesh.xml
  testing_and_setup/compass/ocean/lock_exchange/0.5km/default/config_init1.xml
  testing_and_setup/compass/ocean/lock_exchange/0.5km/rpe_test/config_mpas_mesh.xml
  testing_and_setup/compass/ocean/overflow/1km/rpe_test/config_mpas_mesh.xml
  testing_and_setup/compass/ocean/surface_waves/direct/1km/config_init1.xml
  testing_and_setup/compass/ocean/surface_waves/thickness_source/1km/config_init1.xml
  testing_and_setup/compass/setup_testcase.py
Labels: COMPASS, Ocean

#546 Fix and update in ISOMIP+ Ocean0 tutorial
  testing_and_setup/compass/ocean/isomip_plus/README_Ocean0_IC.md
Labels: COMPASS, Documentation only, clean-up

#566 Fixes implicitCd computation bug in mpas_ocn_vmix.F
  src/core_ocean/shared/mpas_ocn_vmix.F
Labels: bug, coastal

#565 Fixes B(N) computation bugs in mpas_ocn_vmix.F
  src/core_ocean/shared/mpas_ocn_vmix.F
Labels: COMPASS, Ocean, bug

#536 Added build support for Summit at OLCF and OpenACC for GPU acceleration
  Makefile
Labels: Framework, performance

#472 Add Travis CI and skeleton COMPASS docs
  .travis.yml
  docs/Makefile
  docs/compass/clean_testcase.rst
  docs/compass/config.rst
  docs/compass/details.rst
  docs/compass/driver_script.rst
  docs/compass/index.rst
  docs/compass/list_testcases.rst
  docs/compass/manage_regression_suite.rst
  docs/compass/ocean.rst
  docs/compass/ocean_testcases/baroclinic_channel.rst
  docs/compass/ocean_testcases/global_ocean.rst
  docs/compass/ocean_testcases/index.rst
  docs/compass/ocean_testcases/isomip_plus.rst
  docs/compass/ocean_testcases/isomip_plus_at_lanl.rst
  docs/compass/regression_suite.rst
  docs/compass/run_config.rst
  docs/compass/scripts.rst
  docs/compass/setup_testcase.rst
  docs/compass/template.rst
  docs/conf.py
  docs/index.rst
  docs/ocean/design_docs/index.rst
  docs/ocean/index.rst
  travis_ci/get_docs_version.bash
  travis_ci/install_compass.bash
  travis_ci/install_docs.bash
  travis_ci/test_compass.bash
  travis_ci/test_docs.bash
Labels: COMPASS, Framework, feature

#575 Fix bad docs path in Travis CI
  .travis.yml
  travis_ci/test_docs.bash
Labels: CI only
