Repository MPAS-Dev/MPAS-Model, pull requests merged in 2020-04, with the labels that each got.

#499 Fix landIceMask in EC60to30wISC
  testing_and_setup/compass/ocean/global_ocean/EC60to30wISC/init/config_initial_state.xml
Labels: COMPASS, Ocean, bug

#498 Fix tidal potential for RK4
  src/core_ocean/mode_forward/mpas_ocn_forward_mode.F
  src/core_ocean/shared/Makefile
  src/core_ocean/shared/mpas_ocn_tendency.F
  src/core_ocean/shared/mpas_ocn_vel_tidal_potential.F
  testing_and_setup/compass/ocean/hurricane/forward_template.xml
Labels: bug, coastal

#495 Add script to compute vertical coordinate for initial condition
  src/core_ocean/mode_init/Registry_global_ocean.xml
  testing_and_setup/compass/ocean/global_ocean/ARM60to10/init/config_initial_state.xml
  testing_and_setup/compass/ocean/global_ocean/ARM60to10/init/config_initial_state_60_layers.xml
  testing_and_setup/compass/ocean/global_ocean/ARM60to10/init/define_vertical_grid.py
  testing_and_setup/compass/ocean/global_ocean/ARM60to6/init/config_initial_state.xml
  testing_and_setup/compass/ocean/global_ocean/ARM60to6/init/config_initial_state_60_layers.xml
  testing_and_setup/compass/ocean/global_ocean/ARM60to6/init/define_vertical_grid.py
  testing_and_setup/compass/ocean/global_ocean/CUSP12/init/config_initial_state_60_layers.xml
  testing_and_setup/compass/ocean/global_ocean/CUSP12/init/define_vertical_grid.py
  testing_and_setup/compass/ocean/global_ocean/CUSP8/init/config_initial_state_60_layers.xml
  testing_and_setup/compass/ocean/global_ocean/CUSP8/init/define_vertical_grid.py
  testing_and_setup/compass/ocean/global_ocean/EC60to30/init/config_initial_state.xml
  testing_and_setup/compass/ocean/global_ocean/EC60to30/init/config_initial_state_60_layers.xml
  testing_and_setup/compass/ocean/global_ocean/EC60to30/init/define_vertical_grid.py
  testing_and_setup/compass/ocean/global_ocean/EC60to30wISC/init/config_initial_state.xml
  testing_and_setup/compass/ocean/global_ocean/EC60to30wISC/init/define_vertical_grid.py
  testing_and_setup/compass/ocean/global_ocean/QU240/init/config_initial_state_60_layers.xml
  testing_and_setup/compass/ocean/global_ocean/QU240/init/define_vertical_grid.py
  testing_and_setup/compass/ocean/global_ocean/QU240wISC/init/define_vertical_grid.py
  testing_and_setup/compass/ocean/global_ocean/SO60to10wISC/init/define_vertical_grid.py
  testing_and_setup/compass/ocean/global_ocean/config_files/config_base_mesh.xml
  testing_and_setup/compass/ocean/global_ocean/config_files/config_initial_state.xml
  testing_and_setup/compass/ocean/global_ocean/config_files/config_initial_state_60_layers.xml
  testing_and_setup/compass/ocean/global_ocean/config_files_ISC/config_initial_state.xml
  testing_and_setup/compass/ocean/global_ocean/config_files_ISC/config_ssh_adjustment.xml
  testing_and_setup/compass/ocean/isomip_plus/2km/Ocean0/config_adjust_ssh.xml
  testing_and_setup/compass/ocean/isomip_plus/2km/Ocean1/config_adjust_ssh.xml
  testing_and_setup/compass/ocean/isomip_plus/2km/Ocean2/config_adjust_ssh.xml
  testing_and_setup/compass/ocean/isomip_plus/2km/time_varying_Ocean0/config_adjust_ssh.xml
  testing_and_setup/compass/ocean/isomip_plus/5km/Ocean0/config_adjust_ssh.xml
  testing_and_setup/compass/ocean/jigsaw_to_MPAS/build_mesh.py
  testing_and_setup/compass/ocean/scripts/plots/plot_globalStats.py
  testing_and_setup/compass/ocean/scripts/plots/plot_initial_state.py
  testing_and_setup/compass/ocean/scripts/vertical_grid/define_vertical_grid_16_layers.py
  testing_and_setup/compass/ocean/scripts/vertical_grid/define_vertical_grid_64_layers.py
  testing_and_setup/compass/ocean/scripts/vertical_grid/define_vertical_grid_80_layers.py
  testing_and_setup/compass/ocean/scripts/vertical_grid/make_vertical_grid.py
Labels: COMPASS, Ocean

#502 Fix 60-layer initial state for EC60to30wISC
  testing_and_setup/compass/ocean/global_ocean/EC60to30wISC/init/config_initial_state_60_layers.xml
Labels: COMPASS, Ocean, bug

#504 Switch COMPASS from basemap to cartopy in ocean/develop
  testing_and_setup/compass/ocean/hurricane/interpolate_time_varying_forcing.py
  testing_and_setup/compass/ocean/jigsaw_to_MPAS/coastal_tools.py
Labels: COMPASS, Ocean

#503 Rename 60-layer initial state for EC60to30wISC
  testing_and_setup/compass/ocean/global_ocean/EC60to30wISC/init/config_initial_state_60_layers.xml
Labels: COMPASS, Ocean, bug

#501 Adds depth-variable bottom drag to hurricane cases
  src/core_ocean/mode_init/Registry_hurricane.xml
  src/core_ocean/mode_init/mpas_ocn_init_hurricane.F
  src/core_ocean/mode_init/mpas_ocn_init_tidal_boundary.F
  testing_and_setup/compass/ocean/hurricane/forward_template.xml
  testing_and_setup/compass/ocean/hurricane/init_template.xml
Labels: COMPASS, coastal, feature

#491 Add hurricane Sandy test case with synthetic winds
  src/core_ocean/Registry.xml
  src/core_ocean/shared/mpas_ocn_time_varying_forcing.F
  testing_and_setup/compass/ocean/hurricane/USDEQU120at30cr10rr2/synthetic_sandy/NOAA-COOPS_stations.txt
  testing_and_setup/compass/ocean/hurricane/USDEQU120at30cr10rr2/synthetic_sandy/SANDY_017771.json
  testing_and_setup/compass/ocean/hurricane/USDEQU120at30cr10rr2/synthetic_sandy/USGS_stations.txt
  testing_and_setup/compass/ocean/hurricane/USDEQU120at30cr10rr2/synthetic_sandy/config_driver.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU120at30cr10rr2/synthetic_sandy/config_forward.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU120at30cr10rr2/synthetic_sandy/config_init.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU120at30cr10rr2/synthetic_sandy/config_spinup.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU120at30cr10rr2/synthetic_sandy/hurricane_inputs.txt
  testing_and_setup/compass/ocean/hurricane/concatenate_cfsr.py
  testing_and_setup/compass/ocean/hurricane/create_pointstats_file.py
  testing_and_setup/compass/ocean/hurricane/hurricane_wind_pressure/README
  testing_and_setup/compass/ocean/hurricane/hurricane_wind_pressure/ad_hoc/__init__.py
  testing_and_setup/compass/ocean/hurricane/hurricane_wind_pressure/ad_hoc/matplotlib_demo.py
  testing_and_setup/compass/ocean/hurricane/hurricane_wind_pressure/ad_hoc/simple_vector_example.py
  testing_and_setup/compass/ocean/hurricane/hurricane_wind_pressure/ad_hoc/wind_vector_example.py
  testing_and_setup/compass/ocean/hurricane/hurricane_wind_pressure/hurricane_inputs.txt
  testing_and_setup/compass/ocean/hurricane/hurricane_wind_pressure/hurricane_model/__init__.py
  testing_and_setup/compass/ocean/hurricane/hurricane_wind_pressure/hurricane_model/hurricane.py
  testing_and_setup/compass/ocean/hurricane/hurricane_wind_pressure/main.py
  testing_and_setup/compass/ocean/hurricane/hurricane_wind_pressure/plot_winds_on_mpaso_mesh.py
  testing_and_setup/compass/ocean/hurricane/hurricane_wind_pressure/profile_model/__init__.py
  testing_and_setup/compass/ocean/hurricane/hurricane_wind_pressure/profile_model/radialprofiles.py
  testing_and_setup/compass/ocean/hurricane/hurricane_wind_pressure/structures/__init__.py
  testing_and_setup/compass/ocean/hurricane/hurricane_wind_pressure/structures/geogrid.py
  testing_and_setup/compass/ocean/hurricane/hurricane_wind_pressure/surface_model/__init__.py
  testing_and_setup/compass/ocean/hurricane/hurricane_wind_pressure/tests/hurricane/test_hurricane.py
  testing_and_setup/compass/ocean/hurricane/hurricane_wind_pressure/tests/structures/test_geogrid.py
  testing_and_setup/compass/ocean/hurricane/hurricane_wind_pressure/tests/utils/test_gis.py
  testing_and_setup/compass/ocean/hurricane/hurricane_wind_pressure/tests/winds/test_parameters.py
  testing_and_setup/compass/ocean/hurricane/hurricane_wind_pressure/tests/winds/test_velocities.py
  testing_and_setup/compass/ocean/hurricane/hurricane_wind_pressure/tests/winds/test_velocities_out.csv
  testing_and_setup/compass/ocean/hurricane/hurricane_wind_pressure/tests/winds/test_velocity_grid.py
  testing_and_setup/compass/ocean/hurricane/hurricane_wind_pressure/utils/__init__.py
  testing_and_setup/compass/ocean/hurricane/hurricane_wind_pressure/utils/gis.py
  testing_and_setup/compass/ocean/hurricane/hurricane_wind_pressure/utils/math.py
  testing_and_setup/compass/ocean/hurricane/hurricane_wind_pressure/winds/__init__.py
  testing_and_setup/compass/ocean/hurricane/hurricane_wind_pressure/winds/parameters.py
  testing_and_setup/compass/ocean/hurricane/hurricane_wind_pressure/winds/velocities.py
  testing_and_setup/compass/ocean/hurricane/hurricane_wind_pressure/winds/wind_model.py
  testing_and_setup/compass/ocean/hurricane/hurricane_wind_pressure/winds_io/__init__.py
  testing_and_setup/compass/ocean/hurricane/hurricane_wind_pressure/winds_io/import_data.py
  testing_and_setup/compass/ocean/hurricane/hurricane_wind_pressure/winds_io/output_data.py
  testing_and_setup/compass/ocean/hurricane/interpolate_time_varying_forcing.py
  testing_and_setup/compass/ocean/hurricane/spinup_time_varying_forcing.py
  testing_and_setup/compass/ocean/hurricane/write_forcing_file.py
Labels: coastal, feature

#510 Configuration updates to SO_wISC_10to60km_64L
  testing_and_setup/compass/ocean/global_ocean/EC60to30wISC/template_initial_state.xml
  testing_and_setup/compass/ocean/global_ocean/QU240wISC/template_initial_state.xml
  testing_and_setup/compass/ocean/global_ocean/SO60to10wISC/spin_up/config_prep_spin_up1.xml
  testing_and_setup/compass/ocean/global_ocean/SO60to10wISC/spin_up/config_simulation.xml
  testing_and_setup/compass/ocean/global_ocean/SO60to10wISC/template_forward.xml
  testing_and_setup/compass/ocean/global_ocean/SO60to10wISC/template_initial_state.xml
  testing_and_setup/compass/ocean/global_ocean/config_files_ISC/config_initial_state.xml
  testing_and_setup/compass/ocean/global_ocean/config_files_ISC/template_initial_state.xml
  testing_and_setup/compass/ocean/global_ocean/template_init_with_land_ice.xml
Labels: COMPASS, Ocean, clean-up

#508 Copy define_base_mesh.py in 3 test cases
  testing_and_setup/compass/ocean/global_ocean/CUSP12/init/config_base_mesh.xml
  testing_and_setup/compass/ocean/global_ocean/CUSP8/init/config_base_mesh.xml
  testing_and_setup/compass/ocean/global_ocean/SO60to10wISC/init/config_base_mesh.xml
Labels: COMPASS, Ocean, bug

#506 Clean up e3sm_coupling script and config
  testing_and_setup/compass/ocean/global_ocean/config_files/config_culled_mesh.xml
  testing_and_setup/compass/ocean/global_ocean/config_files/config_e3sm_coupling.xml
  testing_and_setup/compass/ocean/global_ocean/config_files_ISC/config_culled_mesh.xml
  testing_and_setup/compass/ocean/global_ocean/config_files_ISC/config_e3sm_coupling.xml
  testing_and_setup/compass/ocean/global_ocean/scripts/config_E3SM_coupling_files.ini
  testing_and_setup/compass/ocean/global_ocean/scripts/create_E3SM_coupling_files.py
  testing_and_setup/compass/ocean/global_ocean/scripts/cull_mesh.py
Labels: COMPASS, Ocean, clean-up

#511 Fixes bug in tracer read in for global init
  src/core_ocean/mode_init/mpas_ocn_init_global_ocean.F
  testing_and_setup/compass/ocean/global_ocean/EC60to30wISC/init/config_initial_state_60_layers.xml
  testing_and_setup/compass/ocean/global_ocean/config_files/config_initial_state_60_layers.xml
  testing_and_setup/compass/ocean/scripts/plots/plot_initial_state.py
Labels: Ocean, bug

#512 Fix masking for initial state plotting
  testing_and_setup/compass/ocean/scripts/plots/plot_initial_state.py
Labels: COMPASS, Ocean, bug

#459 Add static data set index file parser
  src/core_init_atmosphere/Makefile
  src/core_init_atmosphere/mpas_parse_geoindex.F
Labels: Atmosphere

#515 Switch ARM creation to signed distance function
  testing_and_setup/compass/ocean/global_ocean/ARM60to10/init/Americas_land_mask.geojson
  testing_and_setup/compass/ocean/global_ocean/ARM60to10/init/Atlantic_region.geojson
  testing_and_setup/compass/ocean/global_ocean/ARM60to10/init/Europe_Africa_land_mask.geojson
  testing_and_setup/compass/ocean/global_ocean/ARM60to10/init/define_base_mesh.py
  testing_and_setup/compass/ocean/global_ocean/ARM60to10/init/link_SO_define_base_mesh.py
  testing_and_setup/compass/ocean/global_ocean/config_files/config_base_mesh.xml
Labels: COMPASS, Ocean

#514 Fix several broken COMPASS test cases
  testing_and_setup/compass/ocean/Gaussian_hump/USDEQU120cr10rr2/build_mesh/config_base_mesh.xml
  testing_and_setup/compass/ocean/coastal/Maine/init/config_base_mesh.xml
  testing_and_setup/compass/ocean/coastal/Maine/init/define_vertical_grid.py
  testing_and_setup/compass/ocean/coastal/USDEQU120cr10rr2/build_mesh/config_base_mesh.xml
  testing_and_setup/compass/ocean/drying_slope/hybrid/1km/config_analysis.xml
  testing_and_setup/compass/ocean/drying_slope/hybrid/250m/config_analysis.xml
  testing_and_setup/compass/ocean/drying_slope/sigma/1km/config_analysis.xml
  testing_and_setup/compass/ocean/drying_slope/sigma/250m/config_analysis.xml
  testing_and_setup/compass/ocean/drying_slope/zstar/1km/config_analysis.xml
  testing_and_setup/compass/ocean/drying_slope/zstar/250m/config_analysis.xml
  testing_and_setup/compass/ocean/global_ocean/QU60/init/define_vertical_grid.py
  testing_and_setup/compass/ocean/global_ocean/SOQU60to15/init/define_vertical_grid.py
  testing_and_setup/compass/ocean/hurricane/USDEQU120at30cr10rr2/build_mesh/config_base_mesh.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU60at15cr5rr1/build_mesh/config_base_mesh.xml
  testing_and_setup/compass/ocean/soma/4km/broken/32to4km/config_driver.xml
  testing_and_setup/compass/ocean/soma/4km/broken/32to4km/config_forward.xml
  testing_and_setup/compass/ocean/soma/4km/broken/32to4km/config_init1.xml
  testing_and_setup/compass/ocean/soma/4km/broken/32to4km/config_init2.xml
  testing_and_setup/compass/ocean/soma/8km/broken/32to8km/config_driver.xml
  testing_and_setup/compass/ocean/soma/8km/broken/32to8km/config_forward.xml
  testing_and_setup/compass/ocean/soma/8km/broken/32to8km/config_init1.xml
  testing_and_setup/compass/ocean/soma/8km/broken/32to8km/config_init2.xml
  testing_and_setup/compass/ocean/surface_waves/direct/1km/config_analysis.xml
  testing_and_setup/compass/ocean/surface_waves/thickness_source/1km/config_analysis.xml
  testing_and_setup/compass/ocean/surface_waves/thickness_source/1km/config_forward.xml
Labels: COMPASS, Ocean, bug

#507 Add metadata to MPAS Meshes
  testing_and_setup/compass/ocean/global_ocean/CUSP12/init/config_E3SM_coupling_files.ini
  testing_and_setup/compass/ocean/global_ocean/CUSP8/init/config_E3SM_coupling_files.ini
  testing_and_setup/compass/ocean/global_ocean/EC60to30/init/config_E3SM_coupling_files.ini
  testing_and_setup/compass/ocean/global_ocean/EC60to30wISC/init/config_E3SM_coupling_files.ini
  testing_and_setup/compass/ocean/global_ocean/QU240/init/config_E3SM_coupling_files.ini
  testing_and_setup/compass/ocean/global_ocean/QU240wISC/init/config_E3SM_coupling_files.ini
  testing_and_setup/compass/ocean/global_ocean/SO60to10wISC/init/config_E3SM_coupling_files.ini
  testing_and_setup/compass/ocean/global_ocean/config_files/config_e3sm_coupling.xml
  testing_and_setup/compass/ocean/global_ocean/config_files_ISC/config_e3sm_coupling.xml
  testing_and_setup/compass/ocean/global_ocean/scripts/config_E3SM_coupling_files.ini
  testing_and_setup/compass/ocean/global_ocean/scripts/create_E3SM_coupling_files.py
Labels: COMPASS, Ocean

#405 Fixed config_soma_surface_temperature from 15 to 20 deg C
  testing_and_setup/compass/ocean/soma/16km/3layer/config_init2.xml
  testing_and_setup/compass/ocean/soma/16km/default/config_init2.xml
  testing_and_setup/compass/ocean/soma/16km/surface_restoring/config_init2.xml
  testing_and_setup/compass/ocean/soma/32km/3layer/config_init2.xml
  testing_and_setup/compass/ocean/soma/32km/default/config_init2.xml
  testing_and_setup/compass/ocean/soma/32km/surface_restoring/config_init2.xml
  testing_and_setup/compass/ocean/soma/4km/3layer/config_init2.xml
  testing_and_setup/compass/ocean/soma/4km/broken/32to4km/config_init2.xml
  testing_and_setup/compass/ocean/soma/4km/default/config_init2.xml
  testing_and_setup/compass/ocean/soma/4km/surface_restoring/config_init2.xml
  testing_and_setup/compass/ocean/soma/8km/3layer/config_init2.xml
  testing_and_setup/compass/ocean/soma/8km/broken/32to8km/config_init2.xml
  testing_and_setup/compass/ocean/soma/8km/default/config_init2.xml
  testing_and_setup/compass/ocean/soma/8km/surface_restoring/config_init2.xml
Labels: COMPASS, Ocean, bug

#477 Add error if velocity solver does not converge
  src/core_landice/Registry.xml
  src/core_landice/external_albany_version
  src/core_landice/mode_forward/mpas_li_velocity_external.F
Labels: Land Ice, clean-up

#476 Allow spatially variable mu
  src/core_landice/Registry.xml
  src/core_landice/Registry_subglacial_hydro.xml
  src/core_landice/external_albany_version
  src/core_landice/external_trilinos_version
  src/core_landice/mode_forward/Interface_velocity_solver.cpp
  src/core_landice/mode_forward/Interface_velocity_solver.hpp
  src/core_landice/mode_forward/mpas_li_subglacial_hydro.F
  src/core_landice/mode_forward/mpas_li_thermal.F
  src/core_landice/mode_forward/mpas_li_velocity.F
  src/core_landice/mode_forward/mpas_li_velocity_external.F
  src/core_landice/shared/mpas_li_setup.F
Labels: Land Ice, feature, in progress

#527 Buffer mask for signed distance by dlat
  testing_and_setup/compass/ocean/jigsaw_to_MPAS/coastal_tools.py
Labels: COMPASS, Ocean, bug

#524 Fix missing MLD and globalStats streams
  testing_and_setup/compass/ocean/global_ocean/CUSP12/spin_up/config_spin_up1.xml
  testing_and_setup/compass/ocean/global_ocean/CUSP12/spin_up/config_spin_up2.xml
  testing_and_setup/compass/ocean/global_ocean/CUSP12/spin_up/config_spin_up3.xml
  testing_and_setup/compass/ocean/global_ocean/CUSP12/spin_up/config_spin_up4.xml
  testing_and_setup/compass/ocean/global_ocean/CUSP12/spin_up/config_spin_up5.xml
  testing_and_setup/compass/ocean/global_ocean/CUSP12/spin_up/config_spin_up6.xml
  testing_and_setup/compass/ocean/global_ocean/CUSP12/spin_up/config_test_final_settings.xml
  testing_and_setup/compass/ocean/global_ocean/CUSP8/spin_up/config_spin_up1.xml
  testing_and_setup/compass/ocean/global_ocean/CUSP8/spin_up/config_spin_up2.xml
  testing_and_setup/compass/ocean/global_ocean/CUSP8/spin_up/config_spin_up3.xml
  testing_and_setup/compass/ocean/global_ocean/CUSP8/spin_up/config_spin_up4.xml
  testing_and_setup/compass/ocean/global_ocean/CUSP8/spin_up/config_spin_up5.xml
  testing_and_setup/compass/ocean/global_ocean/CUSP8/spin_up/config_spin_up6.xml
  testing_and_setup/compass/ocean/global_ocean/CUSP8/spin_up/config_test_final_settings.xml
  testing_and_setup/compass/ocean/global_ocean/EC60to30/spin_up/config_prep_spin_up1.xml
  testing_and_setup/compass/ocean/global_ocean/EC60to30/spin_up/config_simulation.xml
  testing_and_setup/compass/ocean/global_ocean/EC60to30wISC/spin_up/config_prep_spin_up1.xml
  testing_and_setup/compass/ocean/global_ocean/EC60to30wISC/spin_up/config_simulation.xml
  testing_and_setup/compass/ocean/global_ocean/QU240/test/config_test.xml
  testing_and_setup/compass/ocean/global_ocean/QU240/thread_test/config_1thread.xml
  testing_and_setup/compass/ocean/global_ocean/QU240/thread_test/config_2thread.xml
  testing_and_setup/compass/ocean/global_ocean/QU240wISC/init/config_ssh_adjustment.xml
  testing_and_setup/compass/ocean/global_ocean/QU240wISC/init/config_test.xml
  testing_and_setup/compass/ocean/global_ocean/QU60/spin_up/config_prep_spin_up1.xml
  testing_and_setup/compass/ocean/global_ocean/QU60/spin_up/config_simulation.xml
  testing_and_setup/compass/ocean/global_ocean/SO60to10wISC/spin_up/config_prep_spin_up1.xml
  testing_and_setup/compass/ocean/global_ocean/SO60to10wISC/spin_up/config_simulation.xml
  testing_and_setup/compass/ocean/global_ocean/SOQU60to15/spin_up/config_forward.xml
  testing_and_setup/compass/ocean/global_ocean/SOQU60to15/spin_up/config_spin_up1.xml
  testing_and_setup/compass/ocean/global_ocean/SOQU60to15/spin_up/config_spin_up2.xml
  testing_and_setup/compass/ocean/global_ocean/SOQU60to15/spin_up/config_spin_up3.xml
  testing_and_setup/compass/ocean/global_ocean/SOQU60to15/spin_up/config_spin_up4.xml
  testing_and_setup/compass/ocean/global_ocean/config_files_ISC/config_ssh_adjustment.xml
  testing_and_setup/compass/ocean/global_ocean/config_files_ISC/config_test.xml
Labels: COMPASS, Ocean, bug

#526 Generalize EC cell widths function
  testing_and_setup/compass/ocean/jigsaw_to_MPAS/3Wbgy5.xml
  testing_and_setup/compass/ocean/jigsaw_to_MPAS/build_mesh.py
  testing_and_setup/compass/ocean/jigsaw_to_MPAS/mesh_definition_tools.py
Labels: COMPASS, Ocean, clean-up

#518 SOwISC12to60E2r02 mesh: coarser Southern Ocean, high res Arctic and North Atlantic
  testing_and_setup/compass/ocean/global_ocean/SO60to10wISC/init/config_E3SM_coupling_files.ini
  testing_and_setup/compass/ocean/global_ocean/SO60to10wISC/init/config_base_mesh.xml
  testing_and_setup/compass/ocean/global_ocean/SO60to10wISC/init/define_base_mesh.py
  testing_and_setup/compass/ocean/global_ocean/SO60to10wISC/init/greenland.geojson
  testing_and_setup/compass/ocean/global_ocean/SO60to10wISC/init/north_mid_res_region.geojson
  testing_and_setup/compass/ocean/global_ocean/config_files_ISC/config_test.xml
  testing_and_setup/compass/ocean/global_ocean/scripts/create_E3SM_coupling_files.py
Labels: COMPASS, For discussion, Ocean, mesh

#529 Fix COMPASS links from ARM mesh
  testing_and_setup/compass/ocean/global_ocean/ARM60to10/init/config_base_mesh.xml
  testing_and_setup/compass/ocean/global_ocean/config_files/config_base_mesh.xml
Labels: COMPASS, clean-up

#531 Change ARM colormap
  testing_and_setup/compass/ocean/global_ocean/ARM60to10/init/define_base_mesh.py
  testing_and_setup/compass/ocean/jigsaw_to_MPAS/SciVisColorColormaps/3Wbgy5.xml
  testing_and_setup/compass/ocean/jigsaw_to_MPAS/SciVisColorColormaps/3wave-yellow-grey-blue.xml
  testing_and_setup/compass/ocean/jigsaw_to_MPAS/SciVisColorColormaps/4wave-grey-red-green-mgreen.xml
  testing_and_setup/compass/ocean/jigsaw_to_MPAS/SciVisColorColormaps/5wave-yellow-brown-blue.xml
  testing_and_setup/compass/ocean/jigsaw_to_MPAS/SciVisColorColormaps/Publications.bib
  testing_and_setup/compass/ocean/jigsaw_to_MPAS/SciVisColorColormaps/blue-1.xml
  testing_and_setup/compass/ocean/jigsaw_to_MPAS/SciVisColorColormaps/blue-3.xml
  testing_and_setup/compass/ocean/jigsaw_to_MPAS/SciVisColorColormaps/blue-6.xml
  testing_and_setup/compass/ocean/jigsaw_to_MPAS/SciVisColorColormaps/blue-8.xml
  testing_and_setup/compass/ocean/jigsaw_to_MPAS/SciVisColorColormaps/blue-orange-div.xml
  testing_and_setup/compass/ocean/jigsaw_to_MPAS/SciVisColorColormaps/brown-2.xml
  testing_and_setup/compass/ocean/jigsaw_to_MPAS/SciVisColorColormaps/brown-5.xml
  testing_and_setup/compass/ocean/jigsaw_to_MPAS/SciVisColorColormaps/brown-8.xml
  testing_and_setup/compass/ocean/jigsaw_to_MPAS/SciVisColorColormaps/green-1.xml
  testing_and_setup/compass/ocean/jigsaw_to_MPAS/SciVisColorColormaps/green-4.xml
  testing_and_setup/compass/ocean/jigsaw_to_MPAS/SciVisColorColormaps/green-7.xml
  testing_and_setup/compass/ocean/jigsaw_to_MPAS/SciVisColorColormaps/green-8.xml
  testing_and_setup/compass/ocean/jigsaw_to_MPAS/SciVisColorColormaps/orange-5.xml
  testing_and_setup/compass/ocean/jigsaw_to_MPAS/SciVisColorColormaps/orange-6.xml
  testing_and_setup/compass/ocean/jigsaw_to_MPAS/SciVisColorColormaps/orange-green-blue-gray.xml
  testing_and_setup/compass/ocean/jigsaw_to_MPAS/SciVisColorColormaps/purple-7.xml
  testing_and_setup/compass/ocean/jigsaw_to_MPAS/SciVisColorColormaps/purple-8.xml
  testing_and_setup/compass/ocean/jigsaw_to_MPAS/SciVisColorColormaps/red-1.xml
  testing_and_setup/compass/ocean/jigsaw_to_MPAS/SciVisColorColormaps/red-3.xml
  testing_and_setup/compass/ocean/jigsaw_to_MPAS/SciVisColorColormaps/red-4.xml
  testing_and_setup/compass/ocean/jigsaw_to_MPAS/SciVisColorColormaps/yellow-1.xml
  testing_and_setup/compass/ocean/jigsaw_to_MPAS/SciVisColorColormaps/yellow-7.xml
  testing_and_setup/compass/ocean/jigsaw_to_MPAS/build_mesh.py
  testing_and_setup/compass/ocean/jigsaw_to_MPAS/mesh_definition_tools.py
Labels: COMPASS, Ocean

#535 Add a daily output test case to QU240
  testing_and_setup/compass/ocean/global_ocean/QU240/daily_output_test/config_driver.xml
  testing_and_setup/compass/ocean/global_ocean/QU240/daily_output_test/config_test.xml
  testing_and_setup/compass/ocean/global_ocean/template_daily_output.xml
Labels: COMPASS, Ocean

#530 Remove unused cases
  testing_and_setup/compass/ocean/global_ocean/ARM60to6/init/config_base_mesh.xml
  testing_and_setup/compass/ocean/global_ocean/ARM60to6/init/config_culled_mesh.xml
  testing_and_setup/compass/ocean/global_ocean/ARM60to6/init/config_driver.xml
  testing_and_setup/compass/ocean/global_ocean/ARM60to6/init/config_initial_state.xml
  testing_and_setup/compass/ocean/global_ocean/ARM60to6/init/config_initial_state_60_layers.xml
  testing_and_setup/compass/ocean/global_ocean/ARM60to6/init/define_base_mesh.py
  testing_and_setup/compass/ocean/global_ocean/ARM60to6/init/define_vertical_grid.py
  testing_and_setup/compass/ocean/global_ocean/CUSP8/init/config_E3SM_coupling_files.ini
  testing_and_setup/compass/ocean/global_ocean/CUSP8/init/config_base_mesh.xml
  testing_and_setup/compass/ocean/global_ocean/CUSP8/init/config_culled_mesh.xml
  testing_and_setup/compass/ocean/global_ocean/CUSP8/init/config_driver.xml
  testing_and_setup/compass/ocean/global_ocean/CUSP8/init/config_e3sm_coupling.xml
  testing_and_setup/compass/ocean/global_ocean/CUSP8/init/config_initial_state.xml
  testing_and_setup/compass/ocean/global_ocean/CUSP8/init/config_initial_state_60_layers.xml
  testing_and_setup/compass/ocean/global_ocean/CUSP8/init/config_mesh_metrics.xml
  testing_and_setup/compass/ocean/global_ocean/CUSP8/init/define_base_mesh.py
  testing_and_setup/compass/ocean/global_ocean/CUSP8/init/define_vertical_grid.py
  testing_and_setup/compass/ocean/global_ocean/CUSP8/spin_up/config_driver.xml
  testing_and_setup/compass/ocean/global_ocean/CUSP8/spin_up/config_spin_up1.xml
  testing_and_setup/compass/ocean/global_ocean/CUSP8/spin_up/config_spin_up2.xml
  testing_and_setup/compass/ocean/global_ocean/CUSP8/spin_up/config_spin_up3.xml
  testing_and_setup/compass/ocean/global_ocean/CUSP8/spin_up/config_spin_up4.xml
  testing_and_setup/compass/ocean/global_ocean/CUSP8/spin_up/config_spin_up5.xml
  testing_and_setup/compass/ocean/global_ocean/CUSP8/spin_up/config_spin_up6.xml
  testing_and_setup/compass/ocean/global_ocean/CUSP8/spin_up/config_test_final_settings.xml
  testing_and_setup/compass/ocean/global_ocean/CUSP8/template_forward.xml
  testing_and_setup/compass/ocean/global_ocean/QU60/init/config_base_mesh.xml
  testing_and_setup/compass/ocean/global_ocean/QU60/init/config_culled_mesh.xml
  testing_and_setup/compass/ocean/global_ocean/QU60/init/config_driver.xml
  testing_and_setup/compass/ocean/global_ocean/QU60/init/config_initial_state.xml
  testing_and_setup/compass/ocean/global_ocean/QU60/init/define_base_mesh.py
  testing_and_setup/compass/ocean/global_ocean/QU60/init/define_vertical_grid.py
  testing_and_setup/compass/ocean/global_ocean/QU60/spin_up/config_driver.xml
  testing_and_setup/compass/ocean/global_ocean/QU60/spin_up/config_prep_spin_up1.xml
  testing_and_setup/compass/ocean/global_ocean/QU60/spin_up/config_simulation.xml
  testing_and_setup/compass/ocean/global_ocean/QU60/template_forward.xml
  testing_and_setup/compass/ocean/global_ocean/SOQU60to15/init/config_base_mesh.xml
  testing_and_setup/compass/ocean/global_ocean/SOQU60to15/init/config_culled_mesh.xml
  testing_and_setup/compass/ocean/global_ocean/SOQU60to15/init/config_driver.xml
  testing_and_setup/compass/ocean/global_ocean/SOQU60to15/init/config_initial_state.xml
  testing_and_setup/compass/ocean/global_ocean/SOQU60to15/init/define_base_mesh.py
  testing_and_setup/compass/ocean/global_ocean/SOQU60to15/init/define_vertical_grid.py
  testing_and_setup/compass/ocean/global_ocean/SOQU60to15/spin_up/config_driver.xml
  testing_and_setup/compass/ocean/global_ocean/SOQU60to15/spin_up/config_forward.xml
  testing_and_setup/compass/ocean/global_ocean/SOQU60to15/spin_up/config_spin_up1.xml
  testing_and_setup/compass/ocean/global_ocean/SOQU60to15/spin_up/config_spin_up2.xml
  testing_and_setup/compass/ocean/global_ocean/SOQU60to15/spin_up/config_spin_up3.xml
  testing_and_setup/compass/ocean/global_ocean/SOQU60to15/spin_up/config_spin_up4.xml
  testing_and_setup/compass/ocean/global_ocean/SOQU60to15/template_forward.xml
Labels: COMPASS, Ocean, clean-up

#523 Convert CUSP to signed distance
  testing_and_setup/compass/ocean/global_ocean/ARM60to10/init/define_base_mesh.py
  testing_and_setup/compass/ocean/global_ocean/CUSP12/init/coastline_CUSP.geojson
  testing_and_setup/compass/ocean/global_ocean/CUSP12/init/config_base_mesh.xml
  testing_and_setup/compass/ocean/global_ocean/CUSP12/init/define_base_mesh.py
  testing_and_setup/compass/ocean/global_ocean/CUSP12/init/land_mask_Kamchatka.geojson
  testing_and_setup/compass/ocean/global_ocean/CUSP12/init/land_mask_Mexico.geojson
  testing_and_setup/compass/ocean/global_ocean/CUSP12/init/region_Arctic_Ocean.geojson
  testing_and_setup/compass/ocean/global_ocean/CUSP12/init/region_Bering_Sea.geojson
  testing_and_setup/compass/ocean/global_ocean/CUSP12/init/region_Central_America.geojson
  testing_and_setup/compass/ocean/global_ocean/CUSP12/init/region_Gulf_Stream_extension.geojson
  testing_and_setup/compass/ocean/global_ocean/CUSP12/init/region_Gulf_of_Mexico.geojson
  testing_and_setup/compass/ocean/jigsaw_to_MPAS/coastal_tools.py
  testing_and_setup/compass/ocean/jigsaw_to_MPAS/inject_meshDensity.py
Labels: COMPASS, Ocean

#494 fixed incorrect path for ocean cvmix after submodule change
  src/core_ocean/build_options.mk
Labels: Ocean, bug

#542 Update the compass conda env to 0.1.4
  testing_and_setup/compass/README_ocean.md
  testing_and_setup/compass/load_compass_env.sh
Labels: COMPASS, Ocean

#540 SOwISC12to60E2r03: Version of SOwISC with 60 vertical levels
  testing_and_setup/compass/ocean/global_ocean/SO60to10wISC/init/config_E3SM_coupling_files.ini
  testing_and_setup/compass/ocean/global_ocean/SO60to10wISC/init/config_initial_state.xml
Labels: COMPASS, Ocean

#520 Adds in coastal flooding cases (Hurricane Sandy)
  src/core_ocean/mode_init/mpas_ocn_init_hurricane.F
  testing_and_setup/compass/ocean/hurricane/USDEQU120at30cr10rr2WD/build_mesh/config_base_mesh.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU120at30cr10rr2WD/build_mesh/config_culled_mesh.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU120at30cr10rr2WD/build_mesh/config_driver_init.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU120at30cr10rr2WD/build_mesh/define_base_mesh.py
  testing_and_setup/compass/ocean/hurricane/USDEQU120at30cr10rr2WD/sandy/config_driver.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU120at30cr10rr2WD/sandy/config_forward_RK4.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU120at30cr10rr2WD/sandy/config_init.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU240at60cr20rr4WD/build_mesh/config_base_mesh.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU240at60cr20rr4WD/build_mesh/config_culled_mesh.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU240at60cr20rr4WD/build_mesh/config_driver_init.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU240at60cr20rr4WD/build_mesh/define_base_mesh.py
  testing_and_setup/compass/ocean/hurricane/USDEQU240at60cr20rr4WD/sandy/config_driver.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU240at60cr20rr4WD/sandy/config_forward_RK4.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU240at60cr20rr4WD/sandy/config_init.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU60at15cr5rr1WD/build_mesh/config_base_mesh.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU60at15cr5rr1WD/build_mesh/config_culled_mesh.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU60at15cr5rr1WD/build_mesh/config_driver_init.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU60at15cr5rr1WD/build_mesh/define_base_mesh.py
  testing_and_setup/compass/ocean/hurricane/USDEQU60at15cr5rr1WD/sandy/config_driver.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU60at15cr5rr1WD/sandy/config_forward.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU60at15cr5rr1WD/sandy/config_init.xml
  testing_and_setup/compass/ocean/hurricane/forward_variable_drag.xml
  testing_and_setup/compass/ocean/hurricane/forward_wetting_drying_template.xml
  testing_and_setup/compass/ocean/hurricane/init_variable_drag.xml
  testing_and_setup/compass/ocean/hurricane/init_wetting_drying_template.xml
  testing_and_setup/compass/ocean/hurricane/maxwaterlevel_template.xml
Labels: COMPASS, coastal, feature
