Repository MPAS-Dev/MPAS-Model, pull requests merged in 2020-11, with the labels that each got.

#737 Fix cmake for tool exes
  src/build_core.cmake
  src/tools/CMakeLists.txt
Labels: Framework

#735 Add missing initialization of some scalars field members in atm_allocate_scalars (atmosphere/cam)
  src/core_atmosphere/mpas_atm_core_interface.F
Labels: Atmosphere, bug fix

#707 Update test for libpio to skip libpio.settings
  Makefile
Labels: Framework, bug

#741 Use an explicit format when converting dt to a string in mpas_set_timeInterval (atmosphere/cam)
  src/framework/mpas_timekeeping.F
Labels: Atmosphere, Framework, bug fix

#740 New Mesh: EC15to60E2r4
  testing_and_setup/compass/ocean/global_ocean/EC15to60/build_mesh/arctic_high_res_region.geojson
  testing_and_setup/compass/ocean/global_ocean/EC15to60/build_mesh/build_base_mesh.py
  testing_and_setup/compass/ocean/global_ocean/EC15to60/build_mesh/config_base_mesh.xml
  testing_and_setup/compass/ocean/global_ocean/EC15to60/build_mesh/config_culled_mesh.xml
  testing_and_setup/compass/ocean/global_ocean/EC15to60/build_mesh/config_driver.xml
  testing_and_setup/compass/ocean/global_ocean/EC15to60/build_mesh/north_mid_res_region.geojson
  testing_and_setup/compass/ocean/global_ocean/EC15to60/files_for_e3sm/config_E3SM_coupling_files.ini
  testing_and_setup/compass/ocean/global_ocean/EC15to60/files_for_e3sm/config_driver.xml
  testing_and_setup/compass/ocean/global_ocean/EC15to60/files_for_e3sm/config_files_for_e3sm.xml
  testing_and_setup/compass/ocean/global_ocean/EC15to60/spin_up_EN4_1900/config_driver.xml
  testing_and_setup/compass/ocean/global_ocean/EC15to60/spin_up_EN4_1900/config_initial_state.xml
  testing_and_setup/compass/ocean/global_ocean/EC15to60/spin_up_EN4_1900/config_initial_state_64_layers.xml
  testing_and_setup/compass/ocean/global_ocean/EC15to60/spin_up_EN4_1900/config_simulation.xml
  testing_and_setup/compass/ocean/global_ocean/EC15to60/spin_up_EN4_1900/define_vertical_grid_64_layers.py
  testing_and_setup/compass/ocean/global_ocean/EC15to60/spin_up_PHC/config_driver.xml
  testing_and_setup/compass/ocean/global_ocean/EC15to60/spin_up_PHC/config_initial_state.xml
  testing_and_setup/compass/ocean/global_ocean/EC15to60/spin_up_PHC/config_initial_state_64_layer.xml
  testing_and_setup/compass/ocean/global_ocean/EC15to60/spin_up_PHC/config_simulation.xml
  testing_and_setup/compass/ocean/global_ocean/EC15to60/spin_up_PHC/define_vertical_grid_64_layers.py
  testing_and_setup/compass/ocean/global_ocean/EC15to60/template_GEBCO_bathymetry.xml
  testing_and_setup/compass/ocean/global_ocean/EC15to60/template_forward.xml
  testing_and_setup/compass/ocean/global_ocean/config_files/config_base_mesh.xml
Labels: COMPASS, Ocean, mesh

#720 Parallel interpolation of the categorical fields soilcat, landuse
  src/core_init_atmosphere/mpas_geotile_manager.F
  src/core_init_atmosphere/mpas_init_atm_static.F
Labels: Atmosphere

#627 Add script to setup a run directory for the atmosphere cores
  testing_and_setup/atmosphere/setup_atm_run_dir
Labels: Atmosphere, feature

#719 Breakup the diagnostic_solve routine
  src/core_ocean/mode_forward/mpas_ocn_time_integration_split.F
  src/core_ocean/shared/Makefile
  src/core_ocean/shared/mpas_ocn_diagnostics.F
  src/core_ocean/shared/mpas_ocn_init_routines.F
  src/core_ocean/shared/mpas_ocn_mesh.F
Labels: Ocean, performance

#745 New module for ocean diagnostics variables
  src/core_ocean/mode_forward/mpas_ocn_forward_mode.F
  src/core_ocean/mode_forward/mpas_ocn_time_integration_rk4.F
  src/core_ocean/mode_forward/mpas_ocn_time_integration_split.F
  src/core_ocean/shared/Makefile
  src/core_ocean/shared/mpas_ocn_diagnostics.F
  src/core_ocean/shared/mpas_ocn_diagnostics_variables.F
Labels: Ocean, performance

#753 Fix parameters in enthalpy and hydro modules
  src/core_landice/Registry_subglacial_hydro.xml
  src/core_landice/shared/mpas_li_constants.F
Labels: Land Ice, clean-up

#756 Bugfix for PGI failure after diagnostic solve breakup
  src/core_ocean/shared/mpas_ocn_diagnostics.F
Labels: Ocean

#744 Move domain_ptr and corelist from module variables to arguments in subdriver
  src/driver/mpas.F
  src/driver/mpas_subdriver.F
Labels: Framework

#748 After closing log units, release the unit numbers
  src/framework/mpas_log.F
Labels: Framework, clean-up

#755 Align atmospheric coupling with CIME and Icepack for E3SM V2
  src/core_seaice/Registry.xml
  src/core_seaice/column/ice_atmo.F90
Labels: Sea ice

#759 Consolidate ocean diagnostics modules
  src/core_ocean/analysis_members/mpas_ocn_TEMPLATE.F
  src/core_ocean/analysis_members/mpas_ocn_debug_diagnostics.F
  src/core_ocean/analysis_members/mpas_ocn_eddy_product_variables.F
  src/core_ocean/analysis_members/mpas_ocn_eliassen_palm.F
  src/core_ocean/analysis_members/mpas_ocn_global_stats.F
  src/core_ocean/analysis_members/mpas_ocn_harmonic_analysis.F
  src/core_ocean/analysis_members/mpas_ocn_high_frequency_output.F
  src/core_ocean/analysis_members/mpas_ocn_layer_volume_weighted_averages.F
  src/core_ocean/analysis_members/mpas_ocn_meridional_heat_transport.F
  src/core_ocean/analysis_members/mpas_ocn_mixed_layer_depths.F
  src/core_ocean/analysis_members/mpas_ocn_mixed_layer_heat_budget.F
  src/core_ocean/analysis_members/mpas_ocn_moc_streamfunction.F
  src/core_ocean/analysis_members/mpas_ocn_ocean_heat_content.F
  src/core_ocean/analysis_members/mpas_ocn_okubo_weiss.F
  src/core_ocean/analysis_members/mpas_ocn_pointwise_stats.F
  src/core_ocean/analysis_members/mpas_ocn_regional_stats.F
  src/core_ocean/analysis_members/mpas_ocn_rpn_calculator.F
  src/core_ocean/analysis_members/mpas_ocn_sediment_flux_index.F
  src/core_ocean/analysis_members/mpas_ocn_sediment_transport.F
  src/core_ocean/analysis_members/mpas_ocn_surface_area_weighted_averages.F
  src/core_ocean/analysis_members/mpas_ocn_test_compute_interval.F
  src/core_ocean/analysis_members/mpas_ocn_time_filters.F
  src/core_ocean/analysis_members/mpas_ocn_time_series_stats.F
  src/core_ocean/analysis_members/mpas_ocn_transect_transport.F
  src/core_ocean/analysis_members/mpas_ocn_water_mass_census.F
  src/core_ocean/analysis_members/mpas_ocn_zonal_mean.F
  src/core_ocean/ocean.cmake
  src/core_ocean/shared/Makefile
  src/core_ocean/shared/mpas_ocn_diagnostics.F
  src/core_ocean/shared/mpas_ocn_diagnostics_routines.F
Labels: Ocean, clean-up

#746 Reset pointer to mpas_log_info at the start of each call to mpas_{run,finalize}
  src/driver/mpas_subdriver.F
Labels: Framework

#736 Fix non-standard BOZ-literal integer constant in module_ra_cam_support
  src/core_atmosphere/physics/physics_wrf/module_ra_cam_support.F
Labels: Atmosphere, bug fix

#743 Use appropriate units for core_atmosphere file I/O
  src/core_atmosphere/physics/mpas_atmphys_camrad_init.F
  src/core_atmosphere/physics/mpas_atmphys_landuse.F
  src/core_atmosphere/physics/mpas_atmphys_lsm_noahinit.F
  src/core_atmosphere/physics/mpas_atmphys_rrtmg_lwinit.F
  src/core_atmosphere/physics/mpas_atmphys_rrtmg_swinit.F
Labels: Atmosphere

#749 Assign each domain instance a unique ID, and include the domain ID in log files
  src/driver/mpas_subdriver.F
  src/framework/mpas_domain_types.inc
  src/framework/mpas_log.F
  src/framework/mpas_log_types.inc
Labels: Framework

#757 Remove scaling from read_geogrid
  src/core_init_atmosphere/mpas_geotile_manager.F
  src/core_init_atmosphere/mpas_init_atm_gwd.F
  src/core_init_atmosphere/mpas_init_atm_static.F
  src/core_init_atmosphere/read_geogrid.c
Labels: Atmosphere

#734 Use an explicit format when converting dt to a string in mpas_set_timeInterval
  src/framework/mpas_timekeeping.F
Labels: Framework, bug fix

#722 Add support for building with NAG compilers
  Makefile
  src/external/Makefile
  src/operators/mpas_spline_interpolation.F
  src/tools/registry/gen_inc.c
Labels: Framework, bug fix, feature
