Repository MPAS-Dev/MPAS-Model, pull requests merged in 2020-08, with the labels that each got.

#621 Add tidal harmonic decomposition analysis member
  docs/ocean/design_docs/harmonic_analysis/main.tex
  docs/ocean/design_docs/harmonic_analysis/tides.bib
  src/core_ocean/Registry.xml
  src/core_ocean/analysis_members/Makefile
  src/core_ocean/analysis_members/Registry_analysis_members.xml
  src/core_ocean/analysis_members/Registry_harmonic_analysis.xml
  src/core_ocean/analysis_members/mpas_ocn_analysis_driver.F
  src/core_ocean/analysis_members/mpas_ocn_harmonic_analysis.F
  src/core_ocean/shared/mpas_ocn_vel_tidal_potential.F
  testing_and_setup/compass/ocean/tides/USDEQU120at30cr10/build_mesh/config_base_mesh.xml
  testing_and_setup/compass/ocean/tides/USDEQU120at30cr10/build_mesh/config_culled_mesh.xml
  testing_and_setup/compass/ocean/tides/USDEQU120at30cr10/build_mesh/config_driver_init.xml
  testing_and_setup/compass/ocean/tides/USDEQU120at30cr10/build_mesh/define_base_mesh.py
  testing_and_setup/compass/ocean/tides/USDEQU120at30cr10/harmonic_analysis_test/config_driver.xml
  testing_and_setup/compass/ocean/tides/USDEQU120at30cr10/harmonic_analysis_test/config_forward.xml
  testing_and_setup/compass/ocean/tides/USDEQU120at30cr10/harmonic_analysis_test/config_init.xml
  testing_and_setup/compass/ocean/tides/forward_template.xml
  testing_and_setup/compass/ocean/tides/init_template.xml
  testing_and_setup/compass/ocean/tides/scripts/create_pointstats_file.py
Labels: Ocean, coastal, feature

#643 Ocean/gm ismf fixes
  src/core_ocean/Registry.xml
  src/core_ocean/shared/mpas_ocn_gm.F
Labels: Ocean, bug

#647 Bug fix to snow melt for E3SM V2
  src/core_seaice/column/ice_therm_vertical.F90
Labels: Sea ice, bug fix

#641 Update Albany to fix reversed vertical layering, other issues
  src/core_landice/Registry.xml
  src/core_landice/external_albany_version
  src/core_landice/external_trilinos_version
  src/core_landice/mode_forward/Interface_velocity_solver.cpp
  src/core_landice/mode_forward/Interface_velocity_solver.hpp
  src/core_landice/mode_forward/mpas_li_velocity.F
  src/core_landice/mode_forward/mpas_li_velocity_external.F
  src/core_landice/shared/mpas_li_mask.F
  testing_and_setup/compass/landice/MISMIP+/albany_input.yaml
  testing_and_setup/compass/landice/MISMIP3D/albany_input.yaml
  testing_and_setup/compass/landice/MISMIP3D/plot_GL_Stnd_MISMIP3D.py
  testing_and_setup/compass/landice/Thwaites_variability/albany_input.yaml
  testing_and_setup/compass/landice/circular-shelf/albany_input.yaml
  testing_and_setup/compass/landice/confined-shelf/5000m/decomposition_test/config_setup_mesh_step.xml
  testing_and_setup/compass/landice/confined-shelf/5000m/smoketest/config_setup_mesh_step.xml
  testing_and_setup/compass/landice/confined-shelf/albany_input.yaml
  testing_and_setup/compass/landice/confined-shelf/setup_confined_shelf_initial_conditions.py
  testing_and_setup/compass/landice/dome/albany_input.yaml
  testing_and_setup/compass/landice/greenland/albany_input.yaml
  testing_and_setup/compass/landice/greenland/albany_schoof_input.yaml
Labels: Land Ice, bug, clean-up, in progress

#457 Ocean: Remove scratch allocates and calls to get_config
  src/core_ocean/Registry.xml
  src/core_ocean/analysis_members/mpas_ocn_eliassen_palm.F
  src/core_ocean/driver/mpas_ocn_core.F
  src/core_ocean/driver/mpas_ocn_core_interface.F
  src/core_ocean/mode_forward/mpas_ocn_forward_mode.F
  src/core_ocean/mode_forward/mpas_ocn_time_integration_rk4.F
  src/core_ocean/mode_forward/mpas_ocn_time_integration_split.F
  src/core_ocean/mode_init/Makefile
  src/core_ocean/mode_init/mpas_ocn_init_global_ocean.F
  src/core_ocean/mode_init/mpas_ocn_init_ssh_and_landIcePressure.F
  src/core_ocean/shared/Makefile
  src/core_ocean/shared/mpas_ocn_diagnostics.F
  src/core_ocean/shared/mpas_ocn_effective_density_in_land_ice.F
  src/core_ocean/shared/mpas_ocn_equation_of_state.F
  src/core_ocean/shared/mpas_ocn_equation_of_state_linear.F
  src/core_ocean/shared/mpas_ocn_frazil_forcing.F
  src/core_ocean/shared/mpas_ocn_gm.F
  src/core_ocean/shared/mpas_ocn_high_freq_thickness_hmix_del2.F
  src/core_ocean/shared/mpas_ocn_init_routines.F
  src/core_ocean/shared/mpas_ocn_sea_ice.F
  src/core_ocean/shared/mpas_ocn_surface_bulk_forcing.F
  src/core_ocean/shared/mpas_ocn_surface_land_ice_fluxes.F
  src/core_ocean/shared/mpas_ocn_tendency.F
  src/core_ocean/shared/mpas_ocn_test.F
  src/core_ocean/shared/mpas_ocn_thick_ale.F
  src/core_ocean/shared/mpas_ocn_thick_hadv.F
  src/core_ocean/shared/mpas_ocn_thick_surface_flux.F
  src/core_ocean/shared/mpas_ocn_thick_vadv.F
  src/core_ocean/shared/mpas_ocn_tidal_forcing.F
  src/core_ocean/shared/mpas_ocn_tidal_potential_forcing.F
  src/core_ocean/shared/mpas_ocn_time_average_coupled.F
  src/core_ocean/shared/mpas_ocn_time_varying_forcing.F
  src/core_ocean/shared/mpas_ocn_tracer_advection.F
  src/core_ocean/shared/mpas_ocn_tracer_advection_std.F
  src/core_ocean/shared/mpas_ocn_tracer_ecosys.F
  src/core_ocean/shared/mpas_ocn_tracer_hmix.F
  src/core_ocean/shared/mpas_ocn_tracer_hmix_del4.F
  src/core_ocean/shared/mpas_ocn_tracer_hmix_redi.F
  src/core_ocean/shared/mpas_ocn_tracer_nonlocalflux.F
  src/core_ocean/shared/mpas_ocn_tracer_short_wave_absorption.F
  src/core_ocean/shared/mpas_ocn_tracer_short_wave_absorption_jerlov.F
  src/core_ocean/shared/mpas_ocn_tracer_short_wave_absorption_variable.F
  src/core_ocean/shared/mpas_ocn_tracer_surface_flux_to_tend.F
  src/core_ocean/shared/mpas_ocn_tracer_surface_restoring.F
  src/core_ocean/shared/mpas_ocn_vel_forcing_explicit_bottom_drag.F
  src/core_ocean/shared/mpas_ocn_vel_forcing_surface_stress.F
  src/core_ocean/shared/mpas_ocn_vel_hadv_coriolis.F
  src/core_ocean/shared/mpas_ocn_vel_hmix.F
  src/core_ocean/shared/mpas_ocn_vel_hmix_del2.F
  src/core_ocean/shared/mpas_ocn_vel_hmix_del4.F
  src/core_ocean/shared/mpas_ocn_vel_hmix_leith.F
  src/core_ocean/shared/mpas_ocn_vel_pressure_grad.F
  src/core_ocean/shared/mpas_ocn_vel_vadv.F
  src/core_ocean/shared/mpas_ocn_vmix.F
  src/core_ocean/shared/mpas_ocn_vmix_coefs_redi.F
  src/core_ocean/shared/mpas_ocn_vmix_cvmix.F
  src/core_ocean/shared/mpas_ocn_wetting_drying.F
Labels: Ocean, performance

#639 Add vegetation drag to hurricane case
  src/core_ocean/mode_init/mpas_ocn_init_hurricane.F
  testing_and_setup/compass/ocean/hurricane/USDEQU120at30cr10rr2WD_veg/build_mesh/config_base_mesh.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU120at30cr10rr2WD_veg/build_mesh/config_culled_mesh.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU120at30cr10rr2WD_veg/build_mesh/config_driver_init.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU120at30cr10rr2WD_veg/build_mesh/define_base_mesh.py
  testing_and_setup/compass/ocean/hurricane/USDEQU120at30cr10rr2WD_veg/sandy/config_driver.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU120at30cr10rr2WD_veg/sandy/config_forward_RK4.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU120at30cr10rr2WD_veg/sandy/config_init.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU120at30cr10rr2WD_veg/sandy/vegetation_tif_to_mpas.config
  testing_and_setup/compass/ocean/hurricane/USDEQU240at60cr20rr4WD_veg/build_mesh/config_base_mesh.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU240at60cr20rr4WD_veg/build_mesh/config_culled_mesh.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU240at60cr20rr4WD_veg/build_mesh/config_driver_init.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU240at60cr20rr4WD_veg/build_mesh/define_base_mesh.py
  testing_and_setup/compass/ocean/hurricane/USDEQU240at60cr20rr4WD_veg/sandy/config_driver.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU240at60cr20rr4WD_veg/sandy/config_forward_RK4.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU240at60cr20rr4WD_veg/sandy/config_init.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU240at60cr20rr4WD_veg/sandy/vegetation_tif_to_mpas.config
  testing_and_setup/compass/ocean/hurricane/USDEQU60at15cr5rr1WD_veg/build_mesh/config_base_mesh.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU60at15cr5rr1WD_veg/build_mesh/config_culled_mesh.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU60at15cr5rr1WD_veg/build_mesh/config_driver_init.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU60at15cr5rr1WD_veg/build_mesh/define_base_mesh.py
  testing_and_setup/compass/ocean/hurricane/USDEQU60at15cr5rr1WD_veg/sandy/config_driver.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU60at15cr5rr1WD_veg/sandy/config_forward_RK4.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU60at15cr5rr1WD_veg/sandy/config_init.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU60at15cr5rr1WD_veg/sandy/vegetation_tif_to_mpas.config
  testing_and_setup/compass/ocean/hurricane/forward_vegetation_drag.xml
  testing_and_setup/compass/ocean/hurricane/scripts/vegetation_tif_to_mpas.py
Labels: COMPASS, coastal

#637 Add a class to help manage and interpolate static datasets
  src/core_init_atmosphere/Makefile
  src/core_init_atmosphere/mpas_geotile_manager.F
Labels: Atmosphere, feature

#644 Fix path to docs in Travis CI
  travis_ci/test_docs.bash
Labels: CI only

#653 Update ISOMIP+ docs, including tutorial for Ocean0 on LANL IC
  docs/compass/ocean_testcases/isomip_plus.rst
  docs/compass/ocean_testcases/isomip_plus_at_lanl.rst
  testing_and_setup/compass/ocean/isomip_plus/README_Ocean0_IC.md
Labels: COMPASS, Documentation only, Ocean

#618 Move load_compass_env.sh to the ocean dir
  testing_and_setup/compass/ocean/load_compass_env.sh
Labels: COMPASS, Ocean

#624 Adds synthetic hurricane to 4km Delaware
  testing_and_setup/compass/ocean/hurricane/USDEQU240at60cr20rr4/synthetic_sandy/config_driver.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU240at60cr20rr4/synthetic_sandy/config_forward.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU240at60cr20rr4/synthetic_sandy/config_init.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU240at60cr20rr4/synthetic_sandy/config_spinup.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU240at60cr20rr4WD/synthetic_sandy/config_driver.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU240at60cr20rr4WD/synthetic_sandy/config_forward.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU240at60cr20rr4WD/synthetic_sandy/config_init.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU240at60cr20rr4WD/synthetic_sandy/config_spinup.xml
Labels: COMPASS, Ocean, coastal

#596 Adds higher resolution hurricanne cases
  testing_and_setup/compass/ocean/hurricane/USDEQU60at15cr5rr100WD/build_mesh/config_base_mesh.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU60at15cr5rr100WD/build_mesh/config_culled_mesh.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU60at15cr5rr100WD/build_mesh/config_driver_init.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU60at15cr5rr100WD/build_mesh/define_base_mesh.py
  testing_and_setup/compass/ocean/hurricane/USDEQU60at15cr5rr100WD/sandy/config_driver.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU60at15cr5rr100WD/sandy/config_forward.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU60at15cr5rr100WD/sandy/config_init.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU60at15cr5rr250WD/build_mesh/config_base_mesh.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU60at15cr5rr250WD/build_mesh/config_culled_mesh.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU60at15cr5rr250WD/build_mesh/config_driver_init.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU60at15cr5rr250WD/build_mesh/define_base_mesh.py
  testing_and_setup/compass/ocean/hurricane/USDEQU60at15cr5rr250WD/sandy/config_driver.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU60at15cr5rr250WD/sandy/config_forward.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU60at15cr5rr250WD/sandy/config_init.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU60at15cr5rr500WD/build_mesh/config_base_mesh.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU60at15cr5rr500WD/build_mesh/config_culled_mesh.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU60at15cr5rr500WD/build_mesh/config_driver_init.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU60at15cr5rr500WD/build_mesh/define_base_mesh.py
  testing_and_setup/compass/ocean/hurricane/USDEQU60at15cr5rr500WD/sandy/config_driver.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU60at15cr5rr500WD/sandy/config_forward.xml
  testing_and_setup/compass/ocean/hurricane/USDEQU60at15cr5rr500WD/sandy/config_init.xml
  testing_and_setup/compass/ocean/hurricane/scripts/interpolate_time_varying_forcing.py
Labels: COMPASS, Ocean, coastal

#642 Fix ISOMIP+ viz scripts
  testing_and_setup/compass/ocean/isomip_plus/viz/__main__.py
  testing_and_setup/compass/ocean/isomip_plus/viz/plot.py
  testing_and_setup/compass/ocean/isomip_plus/viz/streamfunction.py
Labels: COMPASS, Ocean, clean-up

#586 Add support for custom critical passages and land blockages
  testing_and_setup/compass/ocean/global_ocean/scripts/cull_mesh.py
Labels: COMPASS, Ocean

#555 New Mesh: WC12to60kmL60E3SMv2r01
  testing_and_setup/compass/ocean/global_ocean/WC12/init/coastline_CUSP.geojson
  testing_and_setup/compass/ocean/global_ocean/WC12/init/config_E3SM_coupling_files.ini
  testing_and_setup/compass/ocean/global_ocean/WC12/init/config_base_mesh.xml
  testing_and_setup/compass/ocean/global_ocean/WC12/init/config_culled_mesh.xml
  testing_and_setup/compass/ocean/global_ocean/WC12/init/config_driver.xml
  testing_and_setup/compass/ocean/global_ocean/WC12/init/config_e3sm_coupling.xml
  testing_and_setup/compass/ocean/global_ocean/WC12/init/config_initial_state.xml
  testing_and_setup/compass/ocean/global_ocean/WC12/init/config_initial_state_60_layers.xml
  testing_and_setup/compass/ocean/global_ocean/WC12/init/config_mesh_metrics.xml
  testing_and_setup/compass/ocean/global_ocean/WC12/init/define_base_mesh.py
  testing_and_setup/compass/ocean/global_ocean/WC12/init/define_vertical_grid.py
  testing_and_setup/compass/ocean/global_ocean/WC12/init/land_mask_Kamchatka.geojson
  testing_and_setup/compass/ocean/global_ocean/WC12/init/land_mask_Mexico.geojson
  testing_and_setup/compass/ocean/global_ocean/WC12/init/region_Arctic_Ocean.geojson
  testing_and_setup/compass/ocean/global_ocean/WC12/init/region_Bering_Sea.geojson
  testing_and_setup/compass/ocean/global_ocean/WC12/init/region_Central_America.geojson
  testing_and_setup/compass/ocean/global_ocean/WC12/init/region_Gulf_Stream_extension.geojson
  testing_and_setup/compass/ocean/global_ocean/WC12/init/region_Gulf_of_Mexico.geojson
  testing_and_setup/compass/ocean/global_ocean/WC12/spin_up/config_driver.xml
  testing_and_setup/compass/ocean/global_ocean/WC12/spin_up/config_spin_up1.xml
  testing_and_setup/compass/ocean/global_ocean/WC12/spin_up/config_spin_up2.xml
  testing_and_setup/compass/ocean/global_ocean/WC12/spin_up/config_spin_up3.xml
  testing_and_setup/compass/ocean/global_ocean/WC12/spin_up/config_spin_up4.xml
  testing_and_setup/compass/ocean/global_ocean/WC12/spin_up/config_spin_up5.xml
  testing_and_setup/compass/ocean/global_ocean/WC12/spin_up/config_spin_up6.xml
  testing_and_setup/compass/ocean/global_ocean/WC12/spin_up/config_test_final_settings.xml
  testing_and_setup/compass/ocean/global_ocean/WC12/template_forward.xml
Labels: COMPASS, Ocean, mesh

#651 Add idealized marsh flooding case with vegetation drag
  src/core_ocean/Registry.xml
  src/core_ocean/mode_init/Registry_tidal_boundary.xml
  src/core_ocean/mode_init/mpas_ocn_init_tidal_boundary.F
  src/core_ocean/shared/mpas_ocn_tidal_forcing.F
  testing_and_setup/compass/ocean/drying_slope/forward_idealized_transect.xml
  testing_and_setup/compass/ocean/drying_slope/forward_vegetation_properties.xml
  testing_and_setup/compass/ocean/drying_slope/init_idealized_transect.xml
  testing_and_setup/compass/ocean/drying_slope/init_vegetation_properties.xml
  testing_and_setup/compass/ocean/drying_slope/marsh_flooding/idealized_transect/comparison.py
  testing_and_setup/compass/ocean/drying_slope/marsh_flooding/idealized_transect/config_analysis.xml
  testing_and_setup/compass/ocean/drying_slope/marsh_flooding/idealized_transect/config_driver.xml
  testing_and_setup/compass/ocean/drying_slope/marsh_flooding/idealized_transect/config_forward1.xml
  testing_and_setup/compass/ocean/drying_slope/marsh_flooding/idealized_transect/config_forward2.xml
  testing_and_setup/compass/ocean/drying_slope/marsh_flooding/idealized_transect/config_forward3.xml
  testing_and_setup/compass/ocean/drying_slope/marsh_flooding/idealized_transect/config_init1.xml
  testing_and_setup/compass/ocean/drying_slope/marsh_flooding/idealized_transect/config_init2.xml
  testing_and_setup/compass/ocean/drying_slope/marsh_flooding/idealized_transect/config_init3.xml
  testing_and_setup/compass/ocean/drying_slope/meshes/idealized_transect/config_driver.xml
  testing_and_setup/compass/ocean/drying_slope/meshes/idealized_transect/config_init.xml
Labels: coastal

#513 Localized OpenMP Threading
  src/core_ocean/mode_forward/mpas_ocn_forward_mode.F
  src/core_ocean/mode_forward/mpas_ocn_time_integration.F
  src/core_ocean/mode_forward/mpas_ocn_time_integration_rk4.F
  src/core_ocean/mode_forward/mpas_ocn_time_integration_split.F
  src/core_ocean/shared/mpas_ocn_diagnostics.F
  src/core_ocean/shared/mpas_ocn_diagnostics_routines.F
  src/core_ocean/shared/mpas_ocn_effective_density_in_land_ice.F
  src/core_ocean/shared/mpas_ocn_equation_of_state_jm.F
  src/core_ocean/shared/mpas_ocn_equation_of_state_linear.F
  src/core_ocean/shared/mpas_ocn_frazil_forcing.F
  src/core_ocean/shared/mpas_ocn_gm.F
  src/core_ocean/shared/mpas_ocn_high_freq_thickness_hmix_del2.F
  src/core_ocean/shared/mpas_ocn_mesh.F
  src/core_ocean/shared/mpas_ocn_sea_ice.F
  src/core_ocean/shared/mpas_ocn_surface_bulk_forcing.F
  src/core_ocean/shared/mpas_ocn_surface_land_ice_fluxes.F
  src/core_ocean/shared/mpas_ocn_tendency.F
  src/core_ocean/shared/mpas_ocn_test.F
  src/core_ocean/shared/mpas_ocn_thick_ale.F
  src/core_ocean/shared/mpas_ocn_thick_hadv.F
  src/core_ocean/shared/mpas_ocn_thick_surface_flux.F
  src/core_ocean/shared/mpas_ocn_thick_vadv.F
  src/core_ocean/shared/mpas_ocn_tidal_forcing.F
  src/core_ocean/shared/mpas_ocn_time_average_coupled.F
  src/core_ocean/shared/mpas_ocn_time_varying_forcing.F
  src/core_ocean/shared/mpas_ocn_tracer_TTD.F
  src/core_ocean/shared/mpas_ocn_tracer_advection_mono.F
  src/core_ocean/shared/mpas_ocn_tracer_advection_std.F
  src/core_ocean/shared/mpas_ocn_tracer_exponential_decay.F
  src/core_ocean/shared/mpas_ocn_tracer_hmix_del2.F
  src/core_ocean/shared/mpas_ocn_tracer_hmix_del4.F
  src/core_ocean/shared/mpas_ocn_tracer_hmix_redi.F
  src/core_ocean/shared/mpas_ocn_tracer_ideal_age.F
  src/core_ocean/shared/mpas_ocn_tracer_interior_restoring.F
  src/core_ocean/shared/mpas_ocn_tracer_nonlocalflux.F
  src/core_ocean/shared/mpas_ocn_tracer_short_wave_absorption_jerlov.F
  src/core_ocean/shared/mpas_ocn_tracer_short_wave_absorption_variable.F
  src/core_ocean/shared/mpas_ocn_tracer_surface_flux_to_tend.F
  src/core_ocean/shared/mpas_ocn_tracer_surface_restoring.F
  src/core_ocean/shared/mpas_ocn_vel_forcing_explicit_bottom_drag.F
  src/core_ocean/shared/mpas_ocn_vel_forcing_surface_stress.F
  src/core_ocean/shared/mpas_ocn_vel_hadv_coriolis.F
  src/core_ocean/shared/mpas_ocn_vel_hmix_del2.F
  src/core_ocean/shared/mpas_ocn_vel_hmix_del4.F
  src/core_ocean/shared/mpas_ocn_vel_hmix_leith.F
  src/core_ocean/shared/mpas_ocn_vel_pressure_grad.F
  src/core_ocean/shared/mpas_ocn_vel_vadv.F
  src/core_ocean/shared/mpas_ocn_vmix.F
  src/core_ocean/shared/mpas_ocn_vmix_coefs_redi.F
  src/core_ocean/shared/mpas_ocn_vmix_cvmix.F
  src/core_ocean/shared/mpas_ocn_wetting_drying.F
  testing_and_setup/compass/ocean/global_ocean/QU240/rk4_thread_test/config_1thread.xml
  testing_and_setup/compass/ocean/global_ocean/QU240/rk4_thread_test/config_2thread.xml
  testing_and_setup/compass/ocean/global_ocean/QU240/rk4_thread_test/config_driver.xml
  testing_and_setup/compass/ocean/regression_suites/nightly.xml
Labels: Ocean, performance

#661 Clean up config flag calls
  src/core_ocean/mode_forward/mpas_ocn_time_integration.F
  src/core_ocean/mode_init/mpas_ocn_init_TEMPLATE.F
  src/core_ocean/ocean.cmake
  src/core_ocean/shared/mpas_ocn_vmix.F
  src/core_ocean/shared/mpas_ocn_vmix_coefs_redi.F
Labels: Ocean, clean-up

#670 Openmp pgi compiler bug workaround
  src/core_ocean/shared/mpas_ocn_tracer_short_wave_absorption_jerlov.F
  src/core_ocean/shared/mpas_ocn_vel_vadv.F
Labels: Ocean, bug

#654 Update MPAS framework for E3SM builds with machine- and/or compiler-specific flags
  src/CMakeLists.txt
  src/Makefile.in.E3SM
  src/build_core.cmake
Labels: Framework

#673 Remove gpu flags from ocean.cmake
  src/core_ocean/ocean.cmake
Labels: Ocean

#580 Add seaice mesh pool for OpenACC- and OpenMP-based GPU offloading
  src/core_seaice/model_forward/mpas_seaice_core.F
  src/core_seaice/seaice.cmake
  src/core_seaice/shared/Makefile
  src/core_seaice/shared/gpu_macros.inc
  src/core_seaice/shared/mpas_seaice_initialize.F
  src/core_seaice/shared/mpas_seaice_mesh_pool.F
  src/core_seaice/shared/mpas_seaice_velocity_solver.F
  src/core_seaice/shared/mpas_seaice_velocity_solver_constitutive_relation.F
  src/core_seaice/shared/mpas_seaice_velocity_solver_variational.F
  src/core_seaice/shared/mpas_seaice_velocity_solver_variational_shared.F
  src/core_seaice/shared/mpas_seaice_velocity_solver_wachspress.F
Labels: Sea ice, performance
