Repository MPAS-Dev/MPAS-Model, pull requests merged in 2020-06, with the labels that each got.

#574 Update compass env to v0.1.6
  testing_and_setup/compass/README_ocean.md
  testing_and_setup/compass/load_compass_env.sh
Labels: COMPASS, Ocean

#544 Adds normalVelocity arrays to eddy products
  src/core_ocean/analysis_members/Registry_eddy_product_variables.xml
  src/core_ocean/analysis_members/mpas_ocn_eddy_product_variables.F
Labels: Ocean, feature

#455 Adds Ocean Heat Content AM
  src/core_ocean/analysis_members/Makefile
  src/core_ocean/analysis_members/Registry_analysis_members.xml
  src/core_ocean/analysis_members/Registry_ocean_heat_content.xml
  src/core_ocean/analysis_members/mpas_ocn_analysis_driver.F
  src/core_ocean/analysis_members/mpas_ocn_ocean_heat_content.F
  testing_and_setup/compass/ocean/templates/analysis_members/ocean_heat_content.xml
Labels: Ocean, feature

#589 Fixes to AM updates.
  src/core_ocean/analysis_members/Registry_ocean_heat_content.xml
  src/core_ocean/analysis_members/mpas_ocn_analysis_driver.F
  src/core_ocean/analysis_members/mpas_ocn_ocean_heat_content.F
  src/core_ocean/shared/mpas_ocn_vmix.F
  testing_and_setup/compass/ocean/global_ocean/QU240/analysis_test/config_driver.xml
  testing_and_setup/compass/ocean/global_ocean/QU240/analysis_test/config_forward.xml
  testing_and_setup/compass/ocean/templates/analysis_members/ocean_heat_content.xml
Labels: Ocean, bug

#582 Fix atmosphere mpas_timekeeping dependencies
  src/core_atmosphere/diagnostics/soundings.F
  src/core_atmosphere/dynamics/mpas_atm_time_integration.F
Labels: Atmosphere, clean-up

#559 Add support for a prerequisite tag in COMPASS
  testing_and_setup/compass/manage_regression_suite.py
Labels: COMPASS

#579 Fix threading flag typo for XL compiler in CMake builds
  src/build_core.cmake
Labels: Framework, clean-up

#556 Fixes cvmix driver area weighted average bugs
  src/core_ocean/Registry.xml
  src/core_ocean/shared/mpas_ocn_diagnostics.F
  src/core_ocean/shared/mpas_ocn_init_routines.F
  src/core_ocean/shared/mpas_ocn_tracer_hmix_redi.F
  src/core_ocean/shared/mpas_ocn_vmix_cvmix.F
Labels: Ocean, bug

#602 Remove RediKappa from gm package
  src/core_ocean/Registry.xml
Labels: Ocean, bug

#598 fixed bad array sizes in local ocean arrays
  src/core_ocean/shared/mpas_ocn_mesh.F
  src/core_ocean/shared/mpas_ocn_tracer_advection_mono.F
Labels: Ocean, bug

#587 Fixes bugs in tracer_advection_std
  src/core_ocean/shared/mpas_ocn_tracer_advection.F
  src/core_ocean/shared/mpas_ocn_tracer_advection_std.F
Labels: Ocean, bug

#449 Remove private attribute for pointers in threaded framework for PGI
  Makefile
  src/framework/mpas_dmpar.F
Labels: Framework

#599 Add reference cell width to del2 and del4 scaling
  src/core_ocean/Registry.xml
  src/core_ocean/shared/mpas_ocn_init_routines.F
  src/core_ocean/shared/mpas_ocn_mesh.F
  src/core_ocean/shared/mpas_ocn_vel_hmix_leith.F
  testing_and_setup/compass/ocean/global_ocean/QU240/template_forward.xml
Labels: Ocean

#479 Add surfaceAirTemperature, basalHeatFlux to ascii mesh converter
  src/core_landice/Registry.xml
  src/core_landice/mode_forward/Interface_velocity_solver.cpp
  src/core_landice/mode_forward/Interface_velocity_solver.hpp
  src/core_landice/mode_forward/mpas_li_velocity_external.F
  testing_and_setup/compass/landice/dome/albany_input.yaml
Labels: Land Ice, clean-up

#592 Adds support for lib vs lib64
  Makefile
Labels: Framework, clean-up, feature

#562 Enable missing_value to override default_value for fields
  src/tools/registry/gen_inc.c
Labels: Framework, feature

#594 Set SHELL explicitly in the Makefile
  Makefile
Labels: Framework

#603 Update flags in Makefile.in.E3SM
  src/Makefile.in.E3SM
Labels: Framework, bug

#537 Ocean/alter3 dgm
  src/core_ocean/Registry.xml
  src/core_ocean/shared/mpas_ocn_gm.F
  src/core_ocean/shared/mpas_ocn_tendency.F
  src/core_ocean/shared/mpas_ocn_tracer_hmix.F
  src/core_ocean/shared/mpas_ocn_tracer_hmix_redi.F
Labels: Ocean, feature

#605 Corrections to namelist and streams for time series stats restart
  testing_and_setup/seaice/configurations/standard_physics/namelist.seaice
  testing_and_setup/seaice/configurations/standard_physics/streams.seaice
Labels: bug

#604 Replace old variable maxMeshDensity with new config_maxMeshDensity
  src/core_ocean/shared/mpas_ocn_init_routines.F
Labels: Ocean, bug

#578 Fix framework field deallocation errors for XL compiler
  src/framework/mpas_field_routines.F
  src/framework/mpas_pool_routines.F
  src/tools/registry/gen_inc.c
  src/tools/registry/gen_inc.h
Labels: Framework, bug

#610 Seaice/njeffery carbon cons
  src/core_seaice/Registry.xml
  src/core_seaice/analysis_members/Registry_seaice_conservation_check.xml
  src/core_seaice/analysis_members/mpas_seaice_conservation_check.F
  src/core_seaice/column/constants/cesm/ice_constants_colpkg.F90
  src/core_seaice/column/constants/cice/ice_constants_colpkg.F90
  src/core_seaice/column/ice_algae.F90
  src/core_seaice/column/ice_brine.F90
  src/core_seaice/column/ice_colpkg.F90
  src/core_seaice/column/ice_colpkg_shared.F90
  src/core_seaice/column/ice_itd.F90
  src/core_seaice/column/ice_shortwave.F90
  src/core_seaice/column/ice_therm_itd.F90
  src/core_seaice/column/ice_zbgc.F90
  src/core_seaice/shared/mpas_seaice_column.F
  src/core_seaice/shared/mpas_seaice_constants.F
  testing_and_setup/seaice/configurations/standard_bgc/namelist.seaice
  testing_and_setup/seaice/configurations/standard_bgc/streams.seaice
Labels: Sea ice

#613 Add option for LAPACK library
  Makefile
Labels: Framework
