Repository MPAS-Dev/MPAS-Model, pull requests merged in 2020-07, with the labels that each got.

#567 Fix B(N) computation bugs in shared/mpas_ocn_vmix.F
  src/core_ocean/shared/mpas_ocn_vmix.F
Labels: Ocean, bug

#620 Fixes decomposition error in k33
  src/core_ocean/Registry.xml
  src/core_ocean/analysis_members/mpas_ocn_mixed_layer_heat_budget.F
  src/core_ocean/analysis_members/mpas_ocn_ocean_heat_content.F
  src/core_ocean/shared/mpas_ocn_gm.F
  src/core_ocean/shared/mpas_ocn_tendency.F
  src/core_ocean/shared/mpas_ocn_tracer_hmix.F
  src/core_ocean/shared/mpas_ocn_tracer_hmix_redi.F
  src/core_ocean/shared/mpas_ocn_vmix_coefs_redi.F
  testing_and_setup/compass/ocean/global_ocean/QU240/daily_output_test/config_test.xml
Labels: Ocean, bug

#616 Change name of missing value attribute from missing_value to _FillValue
  src/tools/registry/gen_inc.c
Labels: Framework

#608 Fixes CVMix surface layer averaging routine
  src/core_ocean/shared/mpas_ocn_vmix_cvmix.F
Labels: Ocean, bug

#631 Fix some bugs on intel compilers
  src/core_landice/shared/mpas_li_setup.F
Labels: Land Ice, bug

#553 Remove scratch allocates and config. Part 2: Init mode
  src/core_ocean/mode_init/Makefile
  src/core_ocean/mode_init/Registry_periodic_planar.xml
  src/core_ocean/mode_init/mpas_ocn_init_TEMPLATE.F
  src/core_ocean/mode_init/mpas_ocn_init_baroclinic_channel.F
  src/core_ocean/mode_init/mpas_ocn_init_cvmix_WSwSBF.F
  src/core_ocean/mode_init/mpas_ocn_init_ecosys_column.F
  src/core_ocean/mode_init/mpas_ocn_init_global_ocean.F
  src/core_ocean/mode_init/mpas_ocn_init_hurricane.F
  src/core_ocean/mode_init/mpas_ocn_init_internal_waves.F
  src/core_ocean/mode_init/mpas_ocn_init_iso.F
  src/core_ocean/mode_init/mpas_ocn_init_isomip.F
  src/core_ocean/mode_init/mpas_ocn_init_isomip_plus.F
  src/core_ocean/mode_init/mpas_ocn_init_lock_exchange.F
  src/core_ocean/mode_init/mpas_ocn_init_mode.F
  src/core_ocean/mode_init/mpas_ocn_init_overflow.F
  src/core_ocean/mode_init/mpas_ocn_init_periodic_planar.F
  src/core_ocean/mode_init/mpas_ocn_init_sea_mount.F
  src/core_ocean/mode_init/mpas_ocn_init_soma.F
  src/core_ocean/mode_init/mpas_ocn_init_spherical_utils.F
  src/core_ocean/mode_init/mpas_ocn_init_ssh_and_landIcePressure.F
  src/core_ocean/mode_init/mpas_ocn_init_sub_ice_shelf_2D.F
  src/core_ocean/mode_init/mpas_ocn_init_tidal_boundary.F
  src/core_ocean/mode_init/mpas_ocn_init_vertical_grids.F
  src/core_ocean/mode_init/mpas_ocn_init_ziso.F
  testing_and_setup/compass/ocean/templates/analysis_members/mixed_layer_depths.xml
Labels: Ocean, performance

#539 Remove scratch allocates and config. Part 1: analysis members
  src/core_ocean/analysis_members/mpas_ocn_TEMPLATE.F
  src/core_ocean/analysis_members/mpas_ocn_analysis_driver.F
  src/core_ocean/analysis_members/mpas_ocn_debug_diagnostics.F
  src/core_ocean/analysis_members/mpas_ocn_eliassen_palm.F
  src/core_ocean/analysis_members/mpas_ocn_global_stats.F
  src/core_ocean/analysis_members/mpas_ocn_high_frequency_output.F
  src/core_ocean/analysis_members/mpas_ocn_lagrangian_particle_tracking.F
  src/core_ocean/analysis_members/mpas_ocn_lagrangian_particle_tracking_interpolations.F
  src/core_ocean/analysis_members/mpas_ocn_lagrangian_particle_tracking_reset.F
  src/core_ocean/analysis_members/mpas_ocn_layer_volume_weighted_averages.F
  src/core_ocean/analysis_members/mpas_ocn_meridional_heat_transport.F
  src/core_ocean/analysis_members/mpas_ocn_mixed_layer_depths.F
  src/core_ocean/analysis_members/mpas_ocn_mixed_layer_heat_budget.F
  src/core_ocean/analysis_members/mpas_ocn_moc_streamfunction.F
  src/core_ocean/analysis_members/mpas_ocn_ocean_heat_content.F
  src/core_ocean/analysis_members/mpas_ocn_okubo_weiss.F
  src/core_ocean/analysis_members/mpas_ocn_surface_area_weighted_averages.F
  src/core_ocean/analysis_members/mpas_ocn_test_compute_interval.F
  src/core_ocean/analysis_members/mpas_ocn_time_filters.F
  src/core_ocean/analysis_members/mpas_ocn_transect_transport.F
  src/core_ocean/analysis_members/mpas_ocn_water_mass_census.F
  src/core_ocean/analysis_members/mpas_ocn_zonal_mean.F
Labels: Ocean, performance

#612 Add warning messages for snow and ice layers
  src/core_seaice/shared/mpas_seaice_column.F
Labels: Sea ice

#630 Update mpas_kd_tree.F to break ties on equidistant queries
  src/core_init_atmosphere/mpas_kd_tree.F
Labels: Atmosphere, clean-up

#636 generate vegetation file for hurricane cases
  testing_and_setup/compass/ocean/hurricane/scripts/vegetation_tif_to_mpas.config
  testing_and_setup/compass/ocean/hurricane/scripts/vegetation_tif_to_mpas.py
Labels: COMPASS, coastal

#632 Add formulae to compute vegetation-induced bottom Manning roughness coefficient
  src/core_ocean/Registry.xml
  src/core_ocean/driver/mpas_ocn_core_interface.F
  src/core_ocean/shared/mpas_ocn_vmix.F
Labels: coastal, feature

#595 Fixes surface waves case
  src/core_ocean/mode_init/mpas_ocn_init_tidal_boundary.F
Labels: COMPASS, bug, coastal

#626 Ensures windSpeed(U,V) fields are defined
  testing_and_setup/compass/ocean/hurricane/hurricane_wind_pressure/winds_io/output_data.py
Labels: coastal

#629 Update CMake builds for pre-built MPAS tools
  src/build_core.cmake
  src/tools/CMakeLists.txt
Labels: Framework

#633 Improves buoyancy gradient calculation in GM
  src/core_ocean/Registry.xml
  src/core_ocean/shared/mpas_ocn_gm.F
Labels: Ocean, bug

#617 Optionally add links to load_compass_env.sh in test cases
  testing_and_setup/compass/setup_testcase.py
Labels: COMPASS, Framework

#623 Add GPU compiler flags for OpenACC and OpenMP_offload
  Makefile
  src/build_core.cmake
  src/core_ocean/ocean.cmake
Labels: Framework

#635 Clone submodules over HTTPS, not SSH
  .gitmodules
Labels: Ocean
