Repository MPAS-Dev/MPAS-Model, pull requests merged in 2020-09, with the labels that each got.

#672 Remove landIceMask from diagnostics computation
  src/core_ocean/shared/mpas_ocn_diagnostics.F
Labels: Ocean, bug

#656 Correct sign in FCT 3rd order advection coefficients
  src/operators/mpas_tracer_advection_helpers.F
Labels: Framework, bug fix

#681 Switch from Travis-CI to Azure Pipelines
  .travis.yml
  azure-pipelines.yml
  travis_ci/get_docs_version.bash
  travis_ci/install_compass.bash
  travis_ci/install_docs.bash
  travis_ci/test_compass.bash
  travis_ci/test_docs.bash
Labels: CI only, Documentation only

#676 fix Rayleigh drag logic on implicit vertical mix
  src/core_ocean/shared/mpas_ocn_vmix.F
Labels: Ocean, bug fix

#669 New mesh: EC30to60kmL60E3SMv2r03 and change to gebco bathymetry
  testing_and_setup/compass/ocean/global_ocean/EC60to30/init/config_E3SM_coupling_files.ini
  testing_and_setup/compass/ocean/global_ocean/EC60to30/init/config_initial_state.xml
  testing_and_setup/compass/ocean/global_ocean/EC60to30/init/config_initial_state_64_layer.xml
  testing_and_setup/compass/ocean/global_ocean/EC60to30/template_GEBCO_bathymetry.xml
Labels: COMPASS, Ocean, mesh

#675 fixed bad continuation character in ocn init tidal boundary
  src/core_ocean/mode_init/mpas_ocn_init_tidal_boundary.F
Labels: Ocean, bug fix

#660 Fix validation for QU240 test step
  testing_and_setup/compass/ocean/global_ocean/config_files/config_driver_test.xml
Labels: COMPASS, Ocean, bug

#688 Update to version 0.1.11 of the compass environment
  testing_and_setup/compass/README_ocean.md
  testing_and_setup/compass/ocean/load_compass_env.sh
Labels: COMPASS, Ocean

#679 Made seaice_mesh_pool use more explicit
  src/core_seaice/model_forward/mpas_seaice_core.F
  src/core_seaice/shared/mpas_seaice_initialize.F
  src/core_seaice/shared/mpas_seaice_velocity_solver.F
  src/core_seaice/shared/mpas_seaice_velocity_solver_variational.F
Labels: Sea ice, clean-up

#690 Fixes surface buoyancy forcing calculation
  src/core_ocean/Registry.xml
  src/core_ocean/shared/mpas_ocn_diagnostics.F
Labels: Ocean, bug

#687 Revert GM buoyancy gradient calculation to v1 form
  src/core_ocean/shared/mpas_ocn_gm.F
Labels: Ocean

#684 Fixes limiting on redi k33
  src/core_ocean/shared/mpas_ocn_gm.F
Labels: Ocean

#693 Protect OpenMP-offload pragmas in CPU-only threading runs in Seaice
  src/core_seaice/shared/mpas_seaice_mesh_pool.F
  src/core_seaice/shared/mpas_seaice_velocity_solver.F
Labels: Sea ice

#696 Improved MPAS sea ice testing
  testing_and_setup/seaice/testing/README.rst
  testing_and_setup/seaice/testing/compare_mpas_files.py
  testing_and_setup/seaice/testing/test_mpas-seaice.py
  testing_and_setup/seaice/testing/testing_utils.py
  testing_and_setup/seaice/testing/tests/parallelism.py
  testing_and_setup/seaice/testing/tests/regression.py
  testing_and_setup/seaice/testing/tests/restartability.py
  testing_and_setup/seaice/testing/testsuites/testsuite.aerosol_shortwave.xml
  testing_and_setup/seaice/testing/testsuites/testsuite.all.xml
  testing_and_setup/seaice/testing/testsuites/testsuite.snow_tracer_physics.xml
  testing_and_setup/seaice/testing/testsuites/testsuite.standard_bgc.xml
Labels: Sea ice

#698 Fix OMP Directives and Loop Bounds in Ocean
  src/core_ocean/analysis_members/mpas_ocn_eliassen_palm.F
  src/core_ocean/analysis_members/mpas_ocn_high_frequency_output.F
  src/core_ocean/analysis_members/mpas_ocn_layer_volume_weighted_averages.F
  src/core_ocean/analysis_members/mpas_ocn_mixed_layer_depths.F
  src/core_ocean/analysis_members/mpas_ocn_okubo_weiss.F
  src/core_ocean/analysis_members/mpas_ocn_surface_area_weighted_averages.F
  src/core_ocean/shared/mpas_ocn_thick_ale.F
Labels: Ocean, bug fix

#699 Alter vertical transport in stage 1 of split explicit
  src/core_ocean/mode_forward/mpas_ocn_time_integration_split.F
Labels: Ocean

#705 adds new GM option -- eden greatbatch
  src/core_ocean/Registry.xml
  src/core_ocean/shared/mpas_ocn_diagnostics.F
  src/core_ocean/shared/mpas_ocn_gm.F
Labels: Ocean, feature

#703 Fixes and Updates to CVMix
  src/core_ocean/Registry.xml
  src/core_ocean/shared/mpas_ocn_diagnostics.F
  src/core_ocean/shared/mpas_ocn_vmix_cvmix.F
Labels: Ocean

#528 Modify freezing temperature to match MPAS-Seaice
  src/core_ocean/Registry.xml
  src/core_ocean/shared/mpas_ocn_equation_of_state.F
Labels: Ocean
