Repository MPAS-Dev/MPAS-Model, pull requests merged in 2020-10, with the labels that each got.

#655 Parallel interpolation of the terrain field
  src/core_init_atmosphere/mpas_init_atm_static.F
Labels: Atmosphere, feature

#666 Fix distribute calving method
  src/core_landice/Registry.xml
  src/core_landice/Registry_subglacial_hydro.xml
  src/core_landice/mode_forward/mpas_li_advection.F
  src/core_landice/mode_forward/mpas_li_calving.F
  src/core_landice/mode_forward/mpas_li_time_integration_fe.F
  src/core_landice/shared/mpas_li_mask.F
Labels: Land Ice, bug fix, feature

#290 Add bed topo module with data uplift method
  src/core_landice/Registry.xml
  src/core_landice/mode_forward/Makefile
  src/core_landice/mode_forward/mpas_li_bedtopo.F
  src/core_landice/mode_forward/mpas_li_time_integration_fe.F
Labels: Land Ice, feature

#716 Added prescribed ice namelist group
  src/core_seaice/Registry.xml
Labels: Sea ice

#714 Adds modifications to the E&G length scale
  src/core_ocean/Registry.xml
  src/core_ocean/shared/mpas_ocn_gm.F
Labels: Ocean

#717 changes GM config option names for clarity
  src/core_ocean/Registry.xml
  src/core_ocean/shared/mpas_ocn_gm.F
  src/core_ocean/shared/mpas_ocn_test.F
  src/core_ocean/shared/mpas_ocn_tracer_hmix_redi.F
  testing_and_setup/compass/ocean/Redi_verification/template_forward.xml
  testing_and_setup/compass/ocean/tendency_verification/all/Redi/template_forward.xml
Labels: Ocean, clean-up

#721 Fixed bug with category thickness limits in prescribed ice mode
  src/core_seaice/shared/mpas_seaice_prescribed.F
Labels: Sea ice, bug

#723 Fixed bug with index in prescribed ice mode
  src/core_seaice/shared/mpas_seaice_prescribed.F
Labels: Sea ice, bug

#726 Adds saving of GM induced MOC streamfunction
  src/core_ocean/analysis_members/Registry_moc_streamfunction.xml
  src/core_ocean/analysis_members/mpas_ocn_moc_streamfunction.F
Labels: Ocean, feature

#729 Add support for building with NAG compilers (atmosphere/cam)
  Makefile
  src/external/Makefile
  src/operators/mpas_spline_interpolation.F
  src/tools/registry/gen_inc.c
Labels: Atmosphere, Framework

#730 Add missing 'recursive' attribute to MPAS_log_write(...) routine (atmosphere/cam)
  src/framework/mpas_log.F
Labels: Atmosphere, Framework

#731 Correct order of argument declarations in atm_time_integration module
  src/core_atmosphere/dynamics/mpas_atm_time_integration.F
Labels: Atmosphere, bug fix
