Repository MPAS-Dev/MPAS-Model, pull requests merged in 2021-06, with the labels that each got.

#864 Use RKIND kind type parameter for real constants defined in mpas_constants
  src/framework/mpas_constants.F
Labels: Framework, bug fix

#876 Correct order of argument declarations based on NAG compiler errors
  src/core_atmosphere/dynamics/mpas_atm_time_integration.F
Labels: Atmosphere, bug fix

#865 Make several stream manager routines public: postread_reindex, prewrite_reindex, and postwrite_reindex
  src/framework/mpas_stream_manager.F
Labels: Framework

#863 Enable bootstrapping from an externally provided PIO file descriptor
  src/framework/mpas_bootstrapping.F
  src/framework/mpas_io.F
  src/framework/mpas_io_types.inc
Labels: Framework

#878 Sea ice index allocation bug
  src/core_seaice/shared/mpas_seaice_column.F
Labels: Sea ice

#880 Remove layerThickness from ocn_thick_surface_flux_tend
  src/core_ocean/shared/mpas_ocn_tendency.F
  src/core_ocean/shared/mpas_ocn_thick_surface_flux.F
Labels: bug fix
