Repository MPAS-Dev/MPAS-Model, pull requests merged in 2021-07, with the labels that each got.

#881 Ignore errors from PIO_enddef if a file uses an external file descriptor
  src/framework/mpas_io.F
Labels: Framework

#882 Permit creation of streams from existing PIO file descriptors
  src/framework/mpas_io_streams.F
Labels: Framework

#883 Enable CAM to override constants when MPAS-A is compiled as a CAM dycore
  src/framework/mpas_constants.F
Labels: Atmosphere, Framework

#886 Remove pointer attribute from several PIO file descriptor dummy arguments
  src/framework/mpas_bootstrapping.F
  src/framework/mpas_io.F
  src/framework/mpas_io_streams.F
Labels: Atmosphere, clean-up

#884 Enable more flexibility in PIO namelist settings
  src/framework/mpas_framework.F
Labels: Framework

#890 Remove warnings in mpas_init_atm_static.F
  src/core_init_atmosphere/mpas_init_atm_static.F
Labels: Atmosphere, clean-up

#889 Extend Makefile support to include Ampere GPU
  Makefile
Labels: Framework, OpenACC

#867 Refactor and clean up calls to scalar transport routines
  src/core_atmosphere/dynamics/mpas_atm_time_integration.F
Labels: Atmosphere, clean-up

#887 Revert all physics schemes to match those in the v7.0 release
  src/core_atmosphere/Registry.xml
  src/core_atmosphere/physics/mpas_atmphys_driver.F
  src/core_atmosphere/physics/mpas_atmphys_driver_cloudiness.F
  src/core_atmosphere/physics/mpas_atmphys_driver_convection.F
  src/core_atmosphere/physics/mpas_atmphys_driver_gwdo.F
  src/core_atmosphere/physics/mpas_atmphys_driver_lsm.F
  src/core_atmosphere/physics/mpas_atmphys_driver_microphysics.F
  src/core_atmosphere/physics/mpas_atmphys_driver_pbl.F
  src/core_atmosphere/physics/mpas_atmphys_driver_radiation_lw.F
  src/core_atmosphere/physics/mpas_atmphys_driver_radiation_sw.F
  src/core_atmosphere/physics/mpas_atmphys_driver_sfclayer.F
  src/core_atmosphere/physics/mpas_atmphys_functions.F
  src/core_atmosphere/physics/mpas_atmphys_init.F
  src/core_atmosphere/physics/mpas_atmphys_interface.F
  src/core_atmosphere/physics/mpas_atmphys_todynamics.F
  src/core_atmosphere/physics/mpas_atmphys_vars.F
  src/core_atmosphere/physics/physics_wrf/Makefile
  src/core_atmosphere/physics/physics_wrf/module_cu_kfeta.F
  src/core_atmosphere/physics/physics_wrf/module_cu_kfetams.F
  src/core_atmosphere/physics/physics_wrf/module_cu_tiedtke.F
  src/core_atmosphere/physics/physics_wrf/module_mp_radar.F
Labels: Atmosphere, OpenACC

#891 Modify role condition in the mpas_pool_get_array_gpu routines
  src/framework/mpas_pool_routines.F
Labels: Atmosphere, Framework, OpenACC

#885 Update level-dependent coefficients used in CAM-MPAS absorbing layer
  src/core_atmosphere/dynamics/mpas_atm_time_integration.F
Labels: Atmosphere
