Repository MPAS-Dev/MPAS-Model, pull requests merged in 2021-02, with the labels that each got.

#800 Propagate ocn_diagnostics_variables to remainder of MPAS-O routines.
  src/core_ocean/analysis_members/mpas_ocn_TEMPLATE.F
  src/core_ocean/analysis_members/mpas_ocn_debug_diagnostics.F
  src/core_ocean/analysis_members/mpas_ocn_eddy_product_variables.F
  src/core_ocean/analysis_members/mpas_ocn_eliassen_palm.F
  src/core_ocean/analysis_members/mpas_ocn_global_stats.F
  src/core_ocean/analysis_members/mpas_ocn_harmonic_analysis.F
  src/core_ocean/analysis_members/mpas_ocn_high_frequency_output.F
  src/core_ocean/analysis_members/mpas_ocn_lagrangian_particle_tracking.F
  src/core_ocean/analysis_members/mpas_ocn_layer_volume_weighted_averages.F
  src/core_ocean/analysis_members/mpas_ocn_meridional_heat_transport.F
  src/core_ocean/analysis_members/mpas_ocn_mixed_layer_depths.F
  src/core_ocean/analysis_members/mpas_ocn_mixed_layer_heat_budget.F
  src/core_ocean/analysis_members/mpas_ocn_moc_streamfunction.F
  src/core_ocean/analysis_members/mpas_ocn_ocean_heat_content.F
  src/core_ocean/analysis_members/mpas_ocn_okubo_weiss.F
  src/core_ocean/analysis_members/mpas_ocn_sediment_flux_index.F
  src/core_ocean/analysis_members/mpas_ocn_sediment_transport.F
  src/core_ocean/analysis_members/mpas_ocn_surface_area_weighted_averages.F
  src/core_ocean/analysis_members/mpas_ocn_test_compute_interval.F
  src/core_ocean/analysis_members/mpas_ocn_time_filters.F
  src/core_ocean/analysis_members/mpas_ocn_transect_transport.F
  src/core_ocean/analysis_members/mpas_ocn_water_mass_census.F
  src/core_ocean/analysis_members/mpas_ocn_zonal_mean.F
  src/core_ocean/mode_analysis/mpas_ocn_analysis_mode.F
  src/core_ocean/mode_forward/mpas_ocn_forward_mode.F
  src/core_ocean/mode_forward/mpas_ocn_time_integration.F
  src/core_ocean/mode_forward/mpas_ocn_time_integration_rk4.F
  src/core_ocean/mode_forward/mpas_ocn_time_integration_si.F
  src/core_ocean/mode_forward/mpas_ocn_time_integration_split.F
  src/core_ocean/mode_init/mpas_ocn_init_cosine_bell.F
  src/core_ocean/mode_init/mpas_ocn_init_cvmix_WSwSBF.F
  src/core_ocean/mode_init/mpas_ocn_init_ecosys_column.F
  src/core_ocean/mode_init/mpas_ocn_init_global_ocean.F
  src/core_ocean/mode_init/mpas_ocn_init_hurricane.F
  src/core_ocean/mode_init/mpas_ocn_init_isomip.F
  src/core_ocean/mode_init/mpas_ocn_init_isomip_plus.F
  src/core_ocean/mode_init/mpas_ocn_init_mode.F
  src/core_ocean/mode_init/mpas_ocn_init_soma.F
  src/core_ocean/mode_init/mpas_ocn_init_ssh_and_landIcePressure.F
  src/core_ocean/mode_init/mpas_ocn_init_sub_ice_shelf_2D.F
  src/core_ocean/mode_init/mpas_ocn_init_tidal_boundary.F
  src/core_ocean/mode_init/mpas_ocn_init_vertical_grids.F
  src/core_ocean/shared/mpas_ocn_diagnostics_variables.F
Labels: Ocean, performance

#796 Move surface pressure and zMid before EOS
  src/core_ocean/Registry.xml
  src/core_ocean/shared/mpas_ocn_diagnostics.F
  src/core_ocean/shared/mpas_ocn_diagnostics_variables.F
Labels: Ocean

#798 Add missing err initialization
  src/core_landice/shared/mpas_li_setup.F
Labels: Land Ice, bug

#797 Remove unneeded uses of specific ESMF Fortran modules in MPAS infrastructure
  src/framework/mpas_derived_types.F
  src/framework/mpas_timekeeping.F
Labels: Framework, clean-up

#764 Parallel Interpolation of monthly vegetation fraction and monthly climatological albedo
  src/core_init_atmosphere/mpas_geotile_manager.F
  src/core_init_atmosphere/mpas_init_atm_cases.F
  src/core_init_atmosphere/mpas_init_atm_static.F
Labels: Atmosphere, feature

#801 Improved vertical thermo error messages
  src/core_seaice/column/ice_therm_mushy.F90
  src/core_seaice/column/ice_therm_vertical.F90
  src/core_seaice/shared/mpas_seaice_column.F
Labels: Sea ice

#802 Minor updates and clean-up to 'gfortran' build target
  Makefile
Labels: Framework, clean-up

#808 Fix core_ocean submodule checks
  src/core_ocean/ocean.cmake
Labels: Ocean

#600 Optional compile flag to exclude init mode
  src/core_ocean/Makefile
  src/core_ocean/Registry.xml
  src/core_ocean/driver/Makefile
  src/core_ocean/driver/mpas_ocn_core.F
  src/core_ocean/driver/mpas_ocn_core_interface.F
  src/core_ocean/mode_init/Registry.xml
  src/core_ocean/ocean.cmake
Labels: Ocean, clean-up

#810 Add landice ismip6 calving & melting params., phase 1
  src/core_landice/Registry.xml
  src/core_landice/mode_forward/mpas_li_calving.F
  src/core_landice/mode_forward/mpas_li_core_interface.F
  src/core_landice/mode_forward/mpas_li_iceshelf_melt.F
  src/core_landice/mode_forward/mpas_li_velocity.F
Labels: Land Ice, feature

#812 Simplify computing landIcePressure and vertical grid in ocean init mode
  src/core_ocean/Registry.xml
  src/core_ocean/mode_init/Registry.xml
  src/core_ocean/mode_init/mpas_ocn_init_global_ocean.F
  src/core_ocean/mode_init/mpas_ocn_init_isomip.F
  src/core_ocean/mode_init/mpas_ocn_init_isomip_plus.F
  src/core_ocean/mode_init/mpas_ocn_init_ssh_and_landIcePressure.F
  src/core_ocean/mode_init/mpas_ocn_init_sub_ice_shelf_2D.F
  src/core_ocean/mode_init/mpas_ocn_init_vertical_grids.F
  src/core_ocean/shared/mpas_ocn_diagnostics_variables.F
Labels: Ocean

#817 Fix BMB restart problem
  src/core_landice/Registry.xml
  src/core_landice/mode_forward/mpas_li_thermal.F
Labels: Land Ice, bug fix, clean-up

#313 Add Wright (1997) equation of state
  src/core_ocean/Registry.xml
  src/core_ocean/ocean.cmake
  src/core_ocean/shared/Makefile
  src/core_ocean/shared/mpas_ocn_equation_of_state.F
  src/core_ocean/shared/mpas_ocn_equation_of_state_wright.F
Labels: Ocean, feature

#806 fix for a PGI array syntax problem in ocean tracer tend routine
  src/core_ocean/shared/mpas_ocn_tendency.F
Labels: Ocean, bug fix

#820 Removes shortwave energy conservation fix
  src/core_ocean/Registry.xml
  src/core_ocean/shared/mpas_ocn_diagnostics_variables.F
  src/core_ocean/shared/mpas_ocn_tendency.F
  src/core_ocean/shared/mpas_ocn_tracer_short_wave_absorption.F
  src/core_ocean/shared/mpas_ocn_tracer_short_wave_absorption_jerlov.F
  src/core_ocean/shared/mpas_ocn_tracer_short_wave_absorption_variable.F
Labels: Ocean

#816 Add intel-mpi to top Makefile
  Makefile
Labels: Framework
