Repository MPAS-Dev/MPAS-Model, pull requests merged in 2021-05, with the labels that each got.

#607 Internal wave drag implementation
  src/core_ocean/Registry.xml
  src/core_ocean/driver/mpas_ocn_core_interface.F
  src/core_ocean/ocean.cmake
  src/core_ocean/shared/Makefile
  src/core_ocean/shared/mpas_ocn_diagnostics_variables.F
  src/core_ocean/shared/mpas_ocn_vel_forcing.F
  src/core_ocean/shared/mpas_ocn_vel_forcing_topographic_wave_drag.F
  src/core_ocean/shared/mpas_ocn_vel_tidal_potential.F
  src/core_ocean/shared/mpas_ocn_vmix.F
Labels: Ocean

#821 Fix memory leaks in mpas_geotile_manager and mpas_parse_index
  src/core_init_atmosphere/mpas_geotile_manager.F
  src/core_init_atmosphere/mpas_parse_geoindex.F
Labels: Atmosphere, bug fix, clean-up

#866 Add scratch arrays in tend_physics pool for zonal and meridional wind tendencies
  src/core_atmosphere/Registry.xml
Labels: Atmosphere

#871 Zero out very small negative masses generated by IR
  src/core_seaice/shared/mpas_seaice_advection_incremental_remap.F
Labels: Sea ice

#869 Enable building of "dynamics-only" MPAS-Atmosphere
  src/core_atmosphere/Makefile
  src/core_atmosphere/Registry.xml
  src/core_atmosphere/diagnostics/Registry_pv.xml
  src/core_atmosphere/diagnostics/pv_diagnostics.F
  src/core_atmosphere/dynamics/mpas_atm_time_integration.F
  src/core_atmosphere/mpas_atm_core.F
  src/core_atmosphere/utils/Makefile
Labels: Atmosphere

#870 Support runtime definition of scalars when MPAS-A is a CAM dycore
  src/core_atmosphere/Registry.xml
  src/core_atmosphere/mpas_atm_core_interface.F
Labels: Atmosphere
