Repository MPAS-Dev/MPAS-Model, pull requests merged in 2021-08, with the labels that each got.

#900 Remove unused 'used_by="cam"' attributes from atmosphere Registry.xml [atmosphere/cam]
  src/core_atmosphere/Registry.xml
Labels: Atmosphere, clean-up

#901 Revert "update NF_ to NF90_ in mpas_io.F" [atmosphere/cam]
  src/framework/mpas_io.F
Labels: Atmosphere, clean-up

#899 Add comment explaining default initialization choice for att_list_type % attType
  src/framework/mpas_attlist_types.inc
Labels: Framework, clean-up

#913 Add empty mpas_atm_dynamics_init and mpas_atm_dynamics_finalize routines
  src/core_atmosphere/dynamics/mpas_atm_time_integration.F
  src/core_atmosphere/mpas_atm_core.F
Labels: Atmosphere

#917 If MPAS-Atmosphere is run as a CAM dycore, don't zero-out physics tenencies
  src/core_atmosphere/dynamics/mpas_atm_time_integration.F
Labels: Atmosphere

#914 Ignore libpio.settings file when detecting PIO libraries
  Makefile
Labels: Framework, bug fix

#919 Remove unnecessary nullification of field members in atm_allocate_scalars [atmosphere/cam]
  src/core_atmosphere/mpas_atm_core_interface.F
Labels: Atmosphere, clean-up

#829 Bugfix for calculating moist air density in init_atm_core
  src/core_init_atmosphere/mpas_init_atm_cases.F
Labels: Atmosphere, bug fix

#893 Added OpenACC directives and Role checks, to enable running on CPU with other Physics on GPUs.
  src/core_atmosphere/physics/mpas_atmphys_driver_cloudiness.F
Labels: Atmosphere, OpenACC

#896 Modified lagged_radiation_lw to run on CPUs during an OpenACC run.
  src/core_atmosphere/physics/mpas_atmphys_driver_radiation_lw.F
Labels: Atmosphere, OpenACC

#902 Modified MPAS_to_physics to run on CPUs during an OpenACC run.
  src/core_atmosphere/physics/mpas_atmphys_driver.F
  src/core_atmosphere/physics/mpas_atmphys_interface.F
Labels: Atmosphere, OpenACC

#903 Modified driver_radiation_sw to run on CPUs during an OpenACC run.
  src/core_atmosphere/physics/mpas_atmphys_driver_radiation_sw.F
Labels: Atmosphere, OpenACC

#904 Modified driver_radiation_lw to run on CPUs during an OpenACC run.
  src/core_atmosphere/physics/mpas_atmphys_driver_radiation_lw.F
Labels: Atmosphere, OpenACC

#905 Modified driver_sfclayer to run on CPUs during an OpenACC run.
  src/core_atmosphere/physics/mpas_atmphys_driver_sfclayer.F
Labels: Atmosphere, OpenACC

#906 Modified driver_lsm to run on CPUs during an OpenACC run.
  src/core_atmosphere/physics/mpas_atmphys_driver_lsm.F
Labels: Atmosphere, OpenACC

#907 Modified driver_pbl to run on CPUs during an OpenACC run.
  src/core_atmosphere/physics/mpas_atmphys_driver_pbl.F
Labels: Atmosphere, OpenACC

#908 Modified driver_gwdo to run on CPUs during an OpenACC run.
  src/core_atmosphere/physics/mpas_atmphys_driver_gwdo.F
Labels: Atmosphere, OpenACC

#909 Modified driver_convection to run on CPUs during an OpenACC run.
  src/core_atmosphere/physics/mpas_atmphys_driver_convection.F
Labels: Atmosphere, OpenACC

#910 Modified update_convection_step1/step2 to run on CPUs during an OpenA…
  src/core_atmosphere/physics/mpas_atmphys_driver_convection.F
Labels: Atmosphere, OpenACC

#911 Modified driver_microphysics to run on CPUs during an OpenACC run.
  src/core_atmosphere/physics/mpas_atmphys_driver_microphysics.F
  src/core_atmosphere/physics/mpas_atmphys_interface.F
Labels: Atmosphere, OpenACC

#894 Address unused variable and unused argument warnings in mpas_init_atm_cases.F
  src/core_init_atmosphere/mpas_init_atm_cases.F
Labels: Atmosphere, clean-up

#895 Modified lagged_radiation_sw to run on CPUs during an OpenACC run.
  src/core_atmosphere/physics/mpas_atmphys_driver_radiation_sw.F
Labels: Atmosphere, OpenACC

#912 Create Physics variables on the GPU.
  src/core_atmosphere/physics/mpas_atmphys_vars.F
Labels: Atmosphere, OpenACC

#918 Changed array-handling of u & v to GPU-compatible form in mpas_atm_time_integration.F
  src/core_atmosphere/dynamics/mpas_atm_time_integration.F
Labels: Atmosphere, OpenACC

#921 Added scalars_1 and scalars_2 variables to acc present clause in atm_rk_integration_setup_work
  src/core_atmosphere/dynamics/mpas_atm_time_integration.F
Labels: Atmosphere, OpenACC

#922 Adjusted loop-bounds in module_bl_gwdo.F to prevent illegal index operation.
  src/core_atmosphere/physics/physics_wrf/module_bl_gwdo.F
Labels: Atmosphere, OpenACC
