Repository MPAS-Dev/MPAS-Model, pull requests merged in 2021-04, with the labels that each got.

#838 Fixed missing _RKIND bug
  src/core_seaice/shared/mpas_seaice_velocity_solver_variational.F
Labels: Sea ice, bug

#837 Add freshwater temperature flux field to pass to the atm
  src/core_ocean/Registry.xml
  src/core_ocean/shared/mpas_ocn_diagnostics.F
  src/core_ocean/shared/mpas_ocn_surface_bulk_forcing.F
  src/core_ocean/shared/mpas_ocn_time_average_coupled.F
Labels: Ocean

#842 Added area analysis to seaice conservation check
  src/core_seaice/analysis_members/Registry_seaice_conservation_check.xml
  src/core_seaice/analysis_members/mpas_seaice_conservation_check.F
Labels: Sea ice

#831 Seaice threading bugfix
  src/core_seaice/shared/mpas_seaice_column.F
Labels: Sea ice, bug fix

#846 Refactor of variational code
  src/core_seaice/shared/mpas_seaice_mesh.F
  src/core_seaice/shared/mpas_seaice_velocity_solver_pwl.F
  src/core_seaice/shared/mpas_seaice_velocity_solver_variational.F
  src/core_seaice/shared/mpas_seaice_velocity_solver_variational_shared.F
  src/core_seaice/shared/mpas_seaice_velocity_solver_wachspress.F
Labels: Sea ice, clean-up

#840 Enhance inactive top cells feature
  src/core_ocean/mode_forward/mpas_ocn_time_integration_rk4.F
  src/core_ocean/mode_forward/mpas_ocn_time_integration_si.F
  src/core_ocean/mode_init/mpas_ocn_init_isomip_plus.F
  src/core_ocean/shared/mpas_ocn_diagnostics.F
  src/core_ocean/shared/mpas_ocn_frazil_forcing.F
  src/core_ocean/shared/mpas_ocn_gm.F
  src/core_ocean/shared/mpas_ocn_surface_bulk_forcing.F
  src/core_ocean/shared/mpas_ocn_tendency.F
  src/core_ocean/shared/mpas_ocn_tidal_forcing.F
  src/core_ocean/shared/mpas_ocn_tracer_DMS.F
  src/core_ocean/shared/mpas_ocn_tracer_MacroMolecules.F
  src/core_ocean/shared/mpas_ocn_tracer_advection.F
  src/core_ocean/shared/mpas_ocn_tracer_advection_std.F
  src/core_ocean/shared/mpas_ocn_tracer_ecosys.F
  src/core_ocean/shared/mpas_ocn_tracer_exponential_decay.F
  src/core_ocean/shared/mpas_ocn_tracer_hmix_del2.F
  src/core_ocean/shared/mpas_ocn_tracer_hmix_del4.F
  src/core_ocean/shared/mpas_ocn_tracer_hmix_redi.F
  src/core_ocean/shared/mpas_ocn_tracer_ideal_age.F
  src/core_ocean/shared/mpas_ocn_tracer_interior_restoring.F
  src/core_ocean/shared/mpas_ocn_tracer_nonlocalflux.F
  src/core_ocean/shared/mpas_ocn_tracer_short_wave_absorption_jerlov.F
  src/core_ocean/shared/mpas_ocn_tracer_short_wave_absorption_variable.F
  src/core_ocean/shared/mpas_ocn_tracer_surface_flux_to_tend.F
  src/core_ocean/shared/mpas_ocn_vel_hmix_del4.F
  src/core_ocean/shared/mpas_ocn_vel_hmix_leith.F
  src/core_ocean/shared/mpas_ocn_vmix.F
  src/core_ocean/shared/mpas_ocn_vmix_cvmix.F
  src/core_ocean/shared/mpas_ocn_wetting_drying.F
Labels: Ocean

#854 Enable mpas_timekeeping module to work with the full, external ESMF library [atmosphere/cam]
  src/framework/mpas_derived_types.F
  src/framework/mpas_timekeeping.F
Labels: Atmosphere, Framework

#856 Delint landice files
  src/core_landice/Registry.xml
  src/core_landice/mode_forward/mpas_li_bedtopo.F
  src/core_landice/mode_forward/mpas_li_calving.F
  src/core_landice/mode_forward/mpas_li_core_interface.F
  src/core_landice/mode_forward/mpas_li_iceshelf_melt.F
  src/core_landice/mode_forward/mpas_li_subglacial_hydro.F
  src/core_landice/mode_forward/mpas_li_velocity.F
Labels: Land Ice, clean-up

#857 Fix intel e3sm errors
  src/core_landice/landice.cmake
  src/core_landice/mode_forward/mpas_li_calving.F
  src/core_landice/mode_forward/mpas_li_velocity.F
Labels: Land Ice, bug fix

#859 Check num halos during init
  src/core_landice/mode_forward/mpas_li_velocity_external.F
  src/core_landice/shared/mpas_li_mask.F
Labels: Land Ice, clean-up

#860 Remove isnan from calving routine
  src/core_landice/mode_forward/mpas_li_calving.F
Labels: Land Ice, clean-up
