Repository MPAS-Dev/MPAS-Model, pull requests merged in 2021-12, with the labels that each got.

#950 Optimized parallel kernels in the scalars/scalars_mono
  src/core_atmosphere/dynamics/mpas_atm_time_integration.F
Labels: Atmosphere, OpenACC

#951 Port the code snippet above the driver_microphysics call
  src/core_atmosphere/dynamics/mpas_atm_time_integration.F
Labels: Atmosphere, OpenACC

#949 Port of MPAS_to_Physics to GPUs using OpenACC.
  src/core_atmosphere/physics/mpas_atmphys_interface.F
Labels: Atmosphere, OpenACC

#928 Added OpenACC directives to Surface Layer model, for GPU excecution
  src/core_atmosphere/physics/mpas_atmphys_driver_lsm.F
  src/core_atmosphere/physics/mpas_atmphys_driver_sfclayer.F
  src/core_atmosphere/physics/physics_wrf/module_sf_sfclay.F
Labels: Atmosphere, OpenACC

#943 Port of GWDO to GPUs using OpenACC.
  src/core_atmosphere/physics/mpas_atmphys_driver_gwdo.F
  src/core_atmosphere/physics/physics_wrf/module_bl_gwdo.F
Labels: Atmosphere, OpenACC

#945 Create common variables across cloudiness and radiation on GPU.
  src/core_atmosphere/physics/mpas_atmphys_vars.F
Labels: Atmosphere, OpenACC

#946 Port of Cloudiness to GPUs using OpenACC.
  src/core_atmosphere/physics/mpas_atmphys_driver_cloudiness.F
  src/core_atmosphere/physics/mpas_atmphys_driver_radiation_sw.F
Labels: Atmosphere, OpenACC

#944 Port of PBL to GPUs using OpenACC.
  src/core_atmosphere/physics/mpas_atmphys_driver_pbl.F
  src/core_atmosphere/physics/physics_wrf/module_bl_ysu.F
Labels: Atmosphere, OpenACC

#927 Added OpenACC directives to Convection and New Tiedtke model, for GPU execution
  src/core_atmosphere/physics/mpas_atmphys_driver_convection.F
  src/core_atmosphere/physics/physics_wrf/module_cu_ntiedtke.F
Labels: Atmosphere, OpenACC

#929 Ported update_convection_step1/step2 subroutines.
  src/core_atmosphere/physics/mpas_atmphys_driver_convection.F
Labels: Atmosphere, OpenACC

#934 Add missing dtheta_dt_mp computation
  src/core_atmosphere/physics/mpas_atmphys_driver_microphysics.F
Labels: Atmosphere, bug fix

#937 Correct check on availability of dtheta_dt_mix when computing depv_dt_mix
  src/core_atmosphere/diagnostics/pv_diagnostics.F
Labels: Atmosphere, bug fix

#925 Fix lagged radiation time
  src/core_atmosphere/mpas_atm_core.F
  src/core_atmosphere/physics/mpas_atmphys_driver.F
  src/core_atmosphere/physics/mpas_atmphys_driver_radiation_sw.F
  src/core_atmosphere/physics/mpas_atmphys_manager.F
Labels: Atmosphere, bug fix, OpenACC
