Repository MPAS-Dev/MPAS-Model, pull requests merged in 2021-03, with the labels that each got.

#819 Fixes missing edgeSignOnCell in redi_term2
  src/core_ocean/shared/mpas_ocn_tracer_hmix_redi.F
Labels: Ocean, bug

#814 Add landice ismip6 calving & melting params., phase 2
  src/core_landice/Registry.xml
  src/core_landice/mode_forward/Makefile
  src/core_landice/mode_forward/mpas_li_calving.F
  src/core_landice/mode_forward/mpas_li_iceshelf_melt.F
  src/core_landice/mode_forward/mpas_li_time_integration_fe.F
  src/core_landice/shared/mpas_li_mask.F
Labels: Land Ice, clean-up

#414 Change output to single precision in stand-alone default streams files
  src/core_ocean/Registry.xml
  src/core_ocean/analysis_members/Registry_TEMPLATE.xml
  src/core_ocean/analysis_members/Registry_eddy_product_variables.xml
  src/core_ocean/analysis_members/Registry_eliassen_palm.xml
  src/core_ocean/analysis_members/Registry_harmonic_analysis.xml
  src/core_ocean/analysis_members/Registry_high_frequency_output.xml
  src/core_ocean/analysis_members/Registry_lagrangian_particle_tracking.xml
  src/core_ocean/analysis_members/Registry_layer_volume_weighted_averages.xml
  src/core_ocean/analysis_members/Registry_meridional_heat_transport.xml
  src/core_ocean/analysis_members/Registry_mixed_layer_depths.xml
  src/core_ocean/analysis_members/Registry_moc_streamfunction.xml
  src/core_ocean/analysis_members/Registry_ocean_heat_content.xml
  src/core_ocean/analysis_members/Registry_okubo_weiss.xml
  src/core_ocean/analysis_members/Registry_pointwise_stats.xml
  src/core_ocean/analysis_members/Registry_regional_stats_custom.xml
  src/core_ocean/analysis_members/Registry_regional_stats_daily.xml
  src/core_ocean/analysis_members/Registry_regional_stats_monthly.xml
  src/core_ocean/analysis_members/Registry_regional_stats_weekly.xml
  src/core_ocean/analysis_members/Registry_sediment_flux_index.xml
  src/core_ocean/analysis_members/Registry_sediment_transport.xml
  src/core_ocean/analysis_members/Registry_surface_area_weighted_averages.xml
  src/core_ocean/analysis_members/Registry_time_series_stats_climatology.xml
  src/core_ocean/analysis_members/Registry_time_series_stats_custom.xml
  src/core_ocean/analysis_members/Registry_time_series_stats_daily.xml
  src/core_ocean/analysis_members/Registry_time_series_stats_monthly_max.xml
  src/core_ocean/analysis_members/Registry_time_series_stats_monthly_min.xml
  src/core_ocean/analysis_members/Registry_transect_transport.xml
  src/core_ocean/analysis_members/Registry_water_mass_census.xml
  src/core_ocean/analysis_members/Registry_zonal_mean.xml
Labels: Ocean

#822 Simplifies the shortwave fixer formulation
  src/core_ocean/shared/mpas_ocn_tracer_short_wave_absorption_jerlov.F
  src/core_ocean/shared/mpas_ocn_tracer_short_wave_absorption_variable.F
Labels: Ocean

#793 Ocean/sediment transport design doc
  docs/ocean/design_docs/index.rst
  docs/ocean/design_docs/prognostic-sediment-transport.rst
Labels: Documentation only, Ocean

#824 Fix ismip6 package error
  src/core_landice/mode_forward/mpas_li_core_interface.F
Labels: Land Ice, bug fix

#781 cleanup of ocean split-explicit driver
  src/core_ocean/Registry.xml
  src/core_ocean/mode_forward/mpas_ocn_forward_mode.F
  src/core_ocean/mode_forward/mpas_ocn_time_integration_split.F
Labels: Ocean

#818 Bug fixes to enable aerosols & dust in multi-layer snow with Snicar-ad
  src/core_seaice/Registry.xml
  src/core_seaice/column/ice_aerosol.F90
  src/core_seaice/column/ice_algae.F90
  src/core_seaice/column/ice_colpkg.F90
  src/core_seaice/column/ice_colpkg_shared.F90
  src/core_seaice/column/ice_itd.F90
  src/core_seaice/column/ice_shortwave.F90
  src/core_seaice/column/ice_therm_itd.F90
  src/core_seaice/shared/mpas_seaice_column.F
  testing_and_setup/seaice/configurations/aerosol_shortwave_physics/namelist.seaice
  testing_and_setup/seaice/configurations/aerosol_shortwave_physics/streams.seaice
Labels: Sea ice

#724 1km Delaware Bay hurricane case with synthetic winds and vegetation
  src/core_ocean/mode_init/Registry_hurricane.xml
  src/core_ocean/mode_init/mpas_ocn_init_hurricane.F
Labels: Ocean

#828 Landice/ismip6 calving melting phase3
  src/core_landice/mode_forward/mpas_li_calving.F
Labels: Land Ice

#826 E3SM issue4152 bugfix
  src/core_ocean/mode_forward/mpas_ocn_time_integration_split.F
Labels: Ocean, bug fix

#827 Remove unused sea ice modules
  src/core_ocean/mode_forward/mpas_ocn_forward_mode.F
  src/core_ocean/ocean.cmake
  src/core_ocean/shared/Makefile
  src/core_ocean/shared/mpas_ocn_sea_ice.F
Labels: Ocean

#830 Landice/specified calving velocity
  src/core_landice/mode_forward/mpas_li_calving.F
Labels: Land Ice, bug fix

#825 Add the option for inactive top cells
  src/core_ocean/Registry.xml
  src/core_ocean/mode_analysis/mpas_ocn_analysis_mode.F
  src/core_ocean/mode_forward/mpas_ocn_forward_mode.F
  src/core_ocean/mode_forward/mpas_ocn_time_integration_split.F
  src/core_ocean/mode_init/Registry.xml
  src/core_ocean/mode_init/mpas_ocn_init_global_ocean.F
  src/core_ocean/mode_init/mpas_ocn_init_isomip.F
  src/core_ocean/mode_init/mpas_ocn_init_isomip_plus.F
  src/core_ocean/mode_init/mpas_ocn_init_ssh_and_landIcePressure.F
  src/core_ocean/mode_init/mpas_ocn_init_sub_ice_shelf_2D.F
  src/core_ocean/mode_init/mpas_ocn_init_tidal_boundary.F
  src/core_ocean/mode_init/mpas_ocn_init_vertical_grids.F
  src/core_ocean/shared/mpas_ocn_diagnostics.F
  src/core_ocean/shared/mpas_ocn_forcing.F
  src/core_ocean/shared/mpas_ocn_init_routines.F
  src/core_ocean/shared/mpas_ocn_mesh.F
  src/core_ocean/shared/mpas_ocn_thick_ale.F
  src/core_ocean/shared/mpas_ocn_thick_hadv.F
  src/core_ocean/shared/mpas_ocn_thick_surface_flux.F
  src/core_ocean/shared/mpas_ocn_thick_vadv.F
  src/core_ocean/shared/mpas_ocn_tracer_advection.F
  src/core_ocean/shared/mpas_ocn_tracer_advection_mono.F
  src/core_ocean/shared/mpas_ocn_vel_forcing_surface_stress.F
  src/core_ocean/shared/mpas_ocn_vel_hadv_coriolis.F
  src/core_ocean/shared/mpas_ocn_vel_hmix_del2.F
  src/core_ocean/shared/mpas_ocn_vel_pressure_grad.F
  src/core_ocean/shared/mpas_ocn_vel_vadv.F
  src/core_ocean/shared/mpas_ocn_vmix.F
  src/core_ocean/shared/mpas_ocn_vmix_cvmix.F
Labels: Ocean, feature

#832 Modifications to standalone test cases
  testing_and_setup/seaice/testcases/README
  testing_and_setup/seaice/testcases/advection/run_model.py
  testing_and_setup/seaice/testcases/error_analysis/run_model.py
  testing_and_setup/seaice/testcases/ridging_island/run_model.py
  testing_and_setup/seaice/testcases/spherical_operators/spherical_operators_hist.py
  testing_and_setup/seaice/testcases/spherical_operators/spherical_operators_map.py
  testing_and_setup/seaice/testcases/spherical_operators/spherical_operators_scaling.py
  testing_and_setup/seaice/testcases/spherical_operators/strain/run_model.py
  testing_and_setup/seaice/testcases/spherical_operators/strain/strain_hist.py
  testing_and_setup/seaice/testcases/spherical_operators/strain_stress_divergence/run_model.py
  testing_and_setup/seaice/testcases/spherical_operators/strain_stress_divergence/strain_stress_divergence_hist.py
  testing_and_setup/seaice/testcases/spherical_operators/strain_stress_divergence/strain_stress_divergence_map.py
  testing_and_setup/seaice/testcases/spherical_operators/stress_divergence/run_model.py
  testing_and_setup/seaice/testcases/spherical_operators/stress_divergence/stress_divergence_hist.py
  testing_and_setup/seaice/testcases/square/operators_strain/run_model.py
  testing_and_setup/seaice/testcases/square/operators_strain_stress_divergence/run_model.py
  testing_and_setup/seaice/testcases/square/operators_stress_divergence/run_model.py
  testing_and_setup/seaice/testcases/square/square_quadhex/run_model.py
Labels: Sea ice

#833 Corrections for running on E3SM
  src/core_seaice/Registry.xml
  src/core_seaice/model_forward/mpas_seaice_core_interface.F
  src/core_seaice/seaice.cmake
Labels: Sea ice, bug
