Repository MPAS-Dev/MPAS-Model, pull requests merged in 2021-01, with the labels that each got.

#782 Add two new upper absorbing layer options [atmosphere/cam]
  src/core_atmosphere/Registry.xml
  src/core_atmosphere/dynamics/mpas_atm_time_integration.F
Labels: Atmosphere

#780 Widen Redi halo in hmix, correct OpenMP private variables
  src/core_ocean/shared/mpas_ocn_gm.F
  src/core_ocean/shared/mpas_ocn_tracer_hmix_redi.F
Labels: Ocean, bug fix

#787 Update level-dependent coefficients used in CAM-MPAS absorbing layer [atmosphere/cam]
  src/core_atmosphere/dynamics/mpas_atm_time_integration.F
Labels: Atmosphere

#422 Codes for a semi implicit barotropic mode solver
  Makefile
  src/core_ocean/Registry.xml
  src/core_ocean/analysis_members/mpas_ocn_high_frequency_output.F
  src/core_ocean/driver/mpas_ocn_core_interface.F
  src/core_ocean/mode_forward/Makefile
  src/core_ocean/mode_forward/mpas_ocn_forward_mode.F
  src/core_ocean/mode_forward/mpas_ocn_time_integration.F
  src/core_ocean/mode_forward/mpas_ocn_time_integration_si.F
  src/core_ocean/ocean.cmake
  src/core_ocean/shared/mpas_ocn_diagnostics.F
  src/core_ocean/shared/mpas_ocn_vel_hadv_coriolis.F
  src/core_ocean/shared/mpas_ocn_wetting_drying.F
Labels: Ocean, performance

#790 Correct scaling of thermal thickness limit
  src/core_landice/mode_forward/Interface_velocity_solver.cpp
Labels: Land Ice, bug fix

#752 Remove COMPASS from CI and Docs
  azure-pipelines.yml
  docs/compass/clean_testcase.rst
  docs/compass/config.rst
  docs/compass/details.rst
  docs/compass/driver_script.rst
  docs/compass/index.rst
  docs/compass/list_testcases.rst
  docs/compass/manage_regression_suite.rst
  docs/compass/ocean.rst
  docs/compass/ocean_testcases/baroclinic_channel.rst
  docs/compass/ocean_testcases/global_ocean.rst
  docs/compass/ocean_testcases/index.rst
  docs/compass/ocean_testcases/isomip_plus.rst
  docs/compass/ocean_testcases/isomip_plus_at_lanl.rst
  docs/compass/regression_suite.rst
  docs/compass/run_config.rst
  docs/compass/scripts.rst
  docs/compass/setup_testcase.rst
  docs/compass/template.rst
  docs/index.rst
Labels: CI only, COMPASS, Documentation only

#583 Add advection operator convergence test
  src/core_ocean/mode_init/Makefile
  src/core_ocean/mode_init/Registry.xml
  src/core_ocean/mode_init/Registry_cosine_bell.xml
  src/core_ocean/mode_init/mpas_ocn_init_cosine_bell.F
  src/core_ocean/mode_init/mpas_ocn_init_mode.F
  src/core_ocean/ocean.cmake
Labels: Ocean

#795 Fixed bug with threading in column messages
  src/core_seaice/column/ice_colpkg.F90
Labels: Sea ice, bug

#761 Add a template for MPAS-Ocean design docs
  docs/ocean/design_docs/small_images/ocean.jpg
  docs/ocean/design_docs/template.rst
Labels: Documentation only, Ocean

#783 Use ocn_diagnostics_variables in shared/
  src/core_ocean/analysis_members/mpas_ocn_eliassen_palm.F
  src/core_ocean/mode_analysis/mpas_ocn_analysis_mode.F
  src/core_ocean/mode_forward/mpas_ocn_forward_mode.F
  src/core_ocean/mode_forward/mpas_ocn_time_integration_rk4.F
  src/core_ocean/mode_forward/mpas_ocn_time_integration_si.F
  src/core_ocean/mode_forward/mpas_ocn_time_integration_split.F
  src/core_ocean/mode_init/mpas_ocn_init_ssh_and_landIcePressure.F
  src/core_ocean/shared/Makefile
  src/core_ocean/shared/mpas_ocn_diagnostics.F
  src/core_ocean/shared/mpas_ocn_diagnostics_variables.F
  src/core_ocean/shared/mpas_ocn_equation_of_state.F
  src/core_ocean/shared/mpas_ocn_forcing.F
  src/core_ocean/shared/mpas_ocn_frazil_forcing.F
  src/core_ocean/shared/mpas_ocn_gm.F
  src/core_ocean/shared/mpas_ocn_init_routines.F
  src/core_ocean/shared/mpas_ocn_surface_land_ice_fluxes.F
  src/core_ocean/shared/mpas_ocn_tendency.F
  src/core_ocean/shared/mpas_ocn_test.F
  src/core_ocean/shared/mpas_ocn_tidal_forcing.F
  src/core_ocean/shared/mpas_ocn_time_average_coupled.F
  src/core_ocean/shared/mpas_ocn_time_varying_forcing.F
  src/core_ocean/shared/mpas_ocn_tracer_advection.F
  src/core_ocean/shared/mpas_ocn_tracer_advection_mono.F
  src/core_ocean/shared/mpas_ocn_tracer_hmix.F
  src/core_ocean/shared/mpas_ocn_tracer_surface_restoring.F
  src/core_ocean/shared/mpas_ocn_vel_tidal_potential.F
  src/core_ocean/shared/mpas_ocn_vmix.F
  src/core_ocean/shared/mpas_ocn_vmix_coefs_redi.F
  src/core_ocean/shared/mpas_ocn_vmix_cvmix.F
  src/core_ocean/shared/mpas_ocn_wetting_drying.F
Labels: Ocean, performance
