Repository MPAS-Dev/MPAS-Model, pull requests merged in 2022-07, with the labels that each got.

#980 Automatically detect the PIO library version in the top-level Makefile
  Makefile
Labels: Framework

#979 Add OpenACC checks to top-level Makefile
  Makefile
Labels: Framework, OpenACC

#982 Change tabs to spaces in mpas_core_types.inc
  src/framework/mpas_core_types.inc
Labels: Framework, clean-up

#981 Report runtime settings for MPI and OpenMP in [init_]atmosphere log files
  src/core_atmosphere/mpas_atm_core_interface.F
  src/core_init_atmosphere/mpas_init_atm_core_interface.F
Labels: Atmosphere

#962 Correct Fortran 2008 non-conformance in atmosphere core
  src/core_atmosphere/diagnostics/convective_diagnostics.F
  src/core_atmosphere/physics/physics_wrf/libmassv.F
  src/core_atmosphere/physics/physics_wrf/module_cu_ntiedtke.F
  src/core_atmosphere/physics/physics_wrf/module_cu_tiedtke.F
  src/core_atmosphere/physics/physics_wrf/module_mp_radar.F
  src/core_atmosphere/physics/physics_wrf/module_mp_thompson.F
  src/core_atmosphere/physics/physics_wrf/module_ra_cam_support.F
Labels: Atmosphere, clean-up
