Repository MPAS-Dev/MPAS-Model, pull requests merged in 2022-08, with the labels that each got.

#986 Fix PV registry descriptions
  src/core_atmosphere/Registry.xml
Labels: Atmosphere, clean-up

#988 Eliminate the use of hard-coded Fortran unit numbers in atmosphere code
  src/core_atmosphere/diagnostics/soundings.F
  src/core_atmosphere/physics/mpas_atmphys_o3climatology.F
  src/core_atmosphere/physics/physics_wrf/module_mp_thompson.F
  src/core_atmosphere/physics/physics_wrf/module_ra_cam_support.F
  src/core_atmosphere/utils/atmphys_build_tables_thompson.F
  src/core_init_atmosphere/mpas_init_atm_read_met.F
Labels: Atmosphere, clean-up

#989 Fix memory leak in deallocate_microphysics for recloud_p, reice_p, and resnow_p
  src/core_atmosphere/physics/mpas_atmphys_driver_microphysics.F
Labels: Atmosphere, bug fix

#990 Add optional arguments for namelist and streams files to mpas_init
  src/driver/mpas_subdriver.F
Labels: feature, Framework

#991 Add cloud fraction diagnostics based on UPP code
  src/core_atmosphere/diagnostics/Makefile
  src/core_atmosphere/diagnostics/Registry_cloud.xml
  src/core_atmosphere/diagnostics/Registry_diagnostics.xml
  src/core_atmosphere/diagnostics/cloud_diagnostics.F
  src/core_atmosphere/diagnostics/mpas_atm_diagnostics_manager.F
Labels: Atmosphere
