Repository MPAS-Dev/MPAS-Model, pull requests merged in 2022-01, with the labels that each got.

#947 Create physics variables for NOAH LSM on GPU.
  src/core_atmosphere/physics/mpas_atmphys_vars.F
Labels: Atmosphere, OpenACC

#948 Port of NOAH LSM onto GPUs using OpenACC.
  src/core_atmosphere/physics/mpas_atmphys_driver_lsm.F
  src/core_atmosphere/physics/mpas_atmphys_lsm_noahinit.F
  src/core_atmosphere/physics/physics_wrf/module_sf_noah_seaice.F
  src/core_atmosphere/physics/physics_wrf/module_sf_noah_seaice_drv.F
  src/core_atmosphere/physics/physics_wrf/module_sf_noahdrv.F
  src/core_atmosphere/physics/physics_wrf/module_sf_noahlsm.F
  src/core_atmosphere/physics/physics_wrf/module_sf_noahlsm_glacial_only.F
  src/core_atmosphere/physics/physics_wrf/module_sf_sfcdiags.F
Labels: Atmosphere, OpenACC

#954 Define top-level build target for cores as both a macro and as a member of core_type
  Makefile
  src/framework/mpas_core_types.inc
  src/tools/registry/gen_inc.c
Labels: Framework

#955 Correct units and descriptions for GWDO fields var2d, con, oa[1-4], ol[1-4]
  src/core_atmosphere/Registry.xml
  src/core_init_atmosphere/Registry.xml
Labels: Atmosphere, bug fix
