Repository MPAS-Dev/MPAS-Model, pull requests merged in 2022-11, with the labels that each got.

#1004 Handle periodicity in latlon_to_pixel when pixel_x >= mgr % pixel_nx
  src/core_init_atmosphere/mpas_geotile_manager.F
Labels: Atmosphere, bug fix

#667 Improve comments in shallow water core
  src/core_sw/mpas_sw_time_integration.F
Labels: Documentation only, shallow water core

#1005 Improve performance of parallel static field remapping by bounding k-d tree searches
  src/core_init_atmosphere/mpas_init_atm_static.F
  src/core_init_atmosphere/mpas_kd_tree.F
Labels: feature, Atmosphere

#998 Add packages to fields in the init_atmosphere core Registry file
  src/core_init_atmosphere/Registry.xml
  src/core_init_atmosphere/mpas_init_atm_cases.F
  src/core_init_atmosphere/mpas_init_atm_core_interface.F
Labels: feature, Atmosphere
