Repository MPAS-Dev/MPAS-Model, pull requests merged in 2023-10, with the labels that each got.

#1116 Improve error message in MPAS I/O layer
  src/framework/mpas_io.F
  src/framework/mpas_io_streams.F
  src/framework/mpas_io_types.inc
Labels: Framework, clean-up

#1115 Update gen_inc.c to compile with Intel compilers
  src/tools/registry/gen_inc.c
Labels: Framework, clean-up

#1119 Set single-precision as the default build
  Makefile
Labels: Framework

#1117 Avoid modifying inactive indexing fields after reading input streams
  src/framework/mpas_stream_manager.F
Labels: Framework

#1111 Add Cf compliant time to core_atmosphere
  src/core_atmosphere/Registry.xml
  src/core_atmosphere/dynamics/mpas_atm_time_integration.F
  src/core_atmosphere/mpas_atm_core.F
  src/core_init_atmosphere/Registry.xml
  src/core_init_atmosphere/mpas_init_atm_cases.F
  src/core_init_atmosphere/mpas_init_atm_core.F
  src/core_init_atmosphere/mpas_init_atm_surface.F
Labels: feature, Atmosphere

#1120 Enable supersampling of 30" terrestrial fields: ter, ivgtyp, isltyp, greenfrac
  src/core_init_atmosphere/Registry.xml
  src/core_init_atmosphere/mpas_init_atm_static.F
Labels: feature, Atmosphere

#1118 Check for active packages for variables in prewrite_reindex
  src/framework/mpas_stream_manager.F
Labels: Framework

#1121 Move atm_{create,destroy}_halo_groups to mpas_atm_halos.F
  src/core_atmosphere/Makefile
  src/core_atmosphere/mpas_atm_core.F
  src/core_atmosphere/mpas_atm_halos.F
Labels: Atmosphere
