Repository MPAS-Dev/MPAS-Model, pull requests merged in 2023-06, with the labels that each got.

#1039 Add MPAS-Atmosphere layer interface projection option
  src/core_init_atmosphere/Registry.xml
  src/core_init_atmosphere/mpas_init_atm_cases.F
Labels: Atmosphere

#1042 Isobaric height diagnostic: use ln(p) interp of pressure to w points
  src/core_atmosphere/diagnostics/mpas_isobaric_diagnostics.F
Labels: Atmosphere

#1040 Allow variable number of levels for upper-level horizontal Laplacian filter
  src/core_atmosphere/Registry.xml
  src/core_atmosphere/dynamics/mpas_atm_time_integration.F
Labels: Atmosphere

#1037 speed up call to subroutine get_pblh
  src/core_atmosphere/physics/physics_wrf/module_bl_ysu.F
Labels: Atmosphere

#1041 moving dtheta dt mp out of subroutine driver_microphysics
  src/core_atmosphere/Registry.xml
  src/core_atmosphere/diagnostics/Registry_pv.xml
  src/core_atmosphere/physics/mpas_atmphys_driver_microphysics.F
  src/core_atmosphere/physics/mpas_atmphys_interface.F
Labels: Atmosphere

#975 fixed option for the seaice albedo
  src/core_atmosphere/Registry.xml
  src/core_atmosphere/physics/mpas_atmphys_driver_lsm.F
  src/core_atmosphere/physics/mpas_atmphys_landuse.F
  src/core_atmosphere/physics/mpas_atmphys_vars.F
Labels: Atmosphere

#968 Initialization of the annual maximum snow albedo over seaice points.
  src/core_atmosphere/physics/mpas_atmphys_initialize_real.F
Labels: Atmosphere, bug fix

#1051 Introduce new I/O layer option in MPAS: the Simple MPAS I/O Layer (SMIOL)
  Makefile
  src/core_atmosphere/mpas_atm_core_interface.F
  src/core_init_atmosphere/mpas_init_atm_core_interface.F
  src/external/Makefile
  src/external/SMIOL/Makefile
  src/external/SMIOL/gen_put_get.sh
  src/external/SMIOL/smiol.c
  src/external/SMIOL/smiol.h
  src/external/SMIOL/smiol_codes.inc
  src/external/SMIOL/smiol_types.h
  src/external/SMIOL/smiol_utils.c
  src/external/SMIOL/smiol_utils.h
  src/external/SMIOL/smiolf.F90
  src/external/SMIOL/smiolf_put_get_var.inc
  src/framework/mpas_bootstrapping.F
  src/framework/mpas_derived_types.F
  src/framework/mpas_framework.F
  src/framework/mpas_io.F
  src/framework/mpas_io_streams.F
  src/framework/mpas_io_types.inc
Labels: feature, Framework

#1057 Convert halo exchanges in MPAS-A to use group exchange routines from mpas_dmpar
  src/core_atmosphere/Registry.xml
  src/core_atmosphere/dynamics/mpas_atm_time_integration.F
  src/core_atmosphere/mpas_atm_core.F
  src/core_atmosphere/physics/mpas_atmphys_todynamics.F
Labels: Atmosphere

#1060 Add new module, mpas_halo, for group halo exchanges
  src/core_test/Makefile
  src/core_test/mpas_halo_testing.F
  src/core_test/mpas_test_core.F
  src/framework/Makefile
  src/framework/mpas_derived_types.F
  src/framework/mpas_domain_types.inc
  src/framework/mpas_halo.F
  src/framework/mpas_halo_types.inc
Labels: feature, Framework

#1052 Initial implementation of the CCPP-compliant parameterization of the gravity wave drag over orography
  src/core_atmosphere/physics/Makefile
  src/core_atmosphere/physics/ccpp_kinds.F
  src/core_atmosphere/physics/mpas_atmphys_driver_gwdo.F
  src/core_atmosphere/physics/physics_mmm/Makefile
  src/core_atmosphere/physics/physics_mmm/bl_gwdo.F
  src/core_atmosphere/physics/physics_wrf/Makefile
  src/core_atmosphere/physics/physics_wrf/module_bl_gwdo.F
Labels: Atmosphere

#1059 Reduce static field interpolation memory usage
  src/core_init_atmosphere/mpas_geotile_manager.F
  src/core_init_atmosphere/mpas_init_atm_static.F
Labels: Atmosphere, performance

#1023 Fix for coriolis parameter calculation in OML call
  src/core_atmosphere/physics/mpas_atmphys_driver_oml.F
Labels: Atmosphere, bug fix

#1043 V8 add 1.7 gradient coefficients
  src/core_atmosphere/Registry.xml
  src/core_init_atmosphere/Registry.xml
  src/core_init_atmosphere/mpas_atm_advection.F
Labels: Atmosphere

#1047 advective tendency of potential temperature
  src/core_atmosphere/Registry.xml
  src/core_atmosphere/dynamics/mpas_atm_time_integration.F
  src/core_atmosphere/physics/mpas_atmphys_todynamics.F
Labels: Atmosphere

#1053 Initial implementation of the CCPP-compliant parameterization of the YSU planetary boundary layer.
  src/core_atmosphere/physics/mpas_atmphys_driver_pbl.F
  src/core_atmosphere/physics/mpas_atmphys_vars.F
  src/core_atmosphere/physics/physics_mmm/Makefile
  src/core_atmosphere/physics/physics_mmm/bl_ysu.F
  src/core_atmosphere/physics/physics_wrf/module_bl_ysu.F
Labels: Atmosphere

#1055 Initial implementation of the CCPP-compliant parameterization of the nTiedtke deep convection
  src/core_atmosphere/physics/mpas_atmphys_driver_convection.F
  src/core_atmosphere/physics/physics_mmm/Makefile
  src/core_atmosphere/physics/physics_mmm/cu_ntiedtke.F
  src/core_atmosphere/physics/physics_wrf/module_cu_ntiedtke.F
Labels: Atmosphere

#1063 Update module_sf_sfclay.F to WRF version 4.5
  src/core_atmosphere/physics/physics_wrf/module_sf_sfclay.F
Labels: Atmosphere

#652 Fix GWDO check on all water regional simulations
  src/core_atmosphere/physics/mpas_atmphys_control.F
Labels: Atmosphere, bug fix

#1054 Initial implementation of the CCPP-compliant parameterization of the MM5 revised surface layer
  src/core_atmosphere/physics/mpas_atmphys_control.F
  src/core_atmosphere/physics/mpas_atmphys_driver_sfclayer.F
  src/core_atmosphere/physics/mpas_atmphys_vars.F
  src/core_atmosphere/physics/physics_mmm/Makefile
  src/core_atmosphere/physics/physics_mmm/sf_sfclayrev.F
  src/core_atmosphere/physics/physics_wrf/Makefile
  src/core_atmosphere/physics/physics_wrf/module_sf_sfclayrev.F
Labels: Atmosphere

#1061 Initial implementation of the CCPP-compliant parameterization of the WSM6 cloud microphysics
  src/core_atmosphere/physics/mpas_atmphys_constants.F
  src/core_atmosphere/physics/mpas_atmphys_driver_microphysics.F
  src/core_atmosphere/physics/physics_mmm/Makefile
  src/core_atmosphere/physics/physics_mmm/module_libmassv.F
  src/core_atmosphere/physics/physics_mmm/mp_radar.F
  src/core_atmosphere/physics/physics_mmm/mp_wsm6.F
  src/core_atmosphere/physics/physics_mmm/mp_wsm6_effectRad.F
  src/core_atmosphere/physics/physics_wrf/Makefile
  src/core_atmosphere/physics/physics_wrf/module_mp_thompson.F
  src/core_atmosphere/physics/physics_wrf/module_mp_wsm6.F
  src/core_atmosphere/utils/Makefile
Labels: Atmosphere

#1078 Bug fix in call to the parameterization of the gravity wave drag over orography
  src/core_atmosphere/physics/mpas_atmphys_driver_gwdo.F
Labels: Atmosphere, bug fix

#972 corrected the initialization of xice for "cold" sea-surface temperatures
  src/core_atmosphere/physics/mpas_atmphys_initialize_real.F
  src/core_init_atmosphere/Registry.xml
  src/core_init_atmosphere/mpas_init_atm_cases.F
Labels: Atmosphere

#1079 Eliminate the need to specify config_len_disp through the introduction of a new variable, nominalMinDc
  src/core_atmosphere/Registry.xml
  src/core_atmosphere/mpas_atm_core.F
  src/core_init_atmosphere/Registry.xml
  src/core_init_atmosphere/mpas_init_atm_cases.F
  src/core_init_atmosphere/mpas_init_atm_static.F
Labels: Atmosphere

#1049 Noah update to the WRF release 4.5
  src/core_atmosphere/Registry.xml
  src/core_atmosphere/physics/checkout_data_files.sh
  src/core_atmosphere/physics/mpas_atmphys_control.F
  src/core_atmosphere/physics/mpas_atmphys_driver_lsm.F
  src/core_atmosphere/physics/mpas_atmphys_driver_lsm_shared.F
  src/core_atmosphere/physics/mpas_atmphys_driver_radiation_sw.F
  src/core_atmosphere/physics/mpas_atmphys_landuse.F
  src/core_atmosphere/physics/mpas_atmphys_lsm_noahinit.F
  src/core_atmosphere/physics/mpas_atmphys_manager.F
  src/core_atmosphere/physics/mpas_atmphys_vars.F
  src/core_atmosphere/physics/physics_wrf/Makefile
  src/core_atmosphere/physics/physics_wrf/module_bep_bem_helper.F
  src/core_atmosphere/physics/physics_wrf/module_ra_rrtmg_sw.F
  src/core_atmosphere/physics/physics_wrf/module_sf_bem.F
  src/core_atmosphere/physics/physics_wrf/module_sf_bep.F
  src/core_atmosphere/physics/physics_wrf/module_sf_bep_bem.F
  src/core_atmosphere/physics/physics_wrf/module_sf_noah_seaice.F
  src/core_atmosphere/physics/physics_wrf/module_sf_noah_seaice_drv.F
  src/core_atmosphere/physics/physics_wrf/module_sf_noahdrv.F
  src/core_atmosphere/physics/physics_wrf/module_sf_noahlsm.F
  src/core_atmosphere/physics/physics_wrf/module_sf_noahlsm_glacial_only.F
  src/core_atmosphere/physics/physics_wrf/module_sf_urban.F
Labels: Atmosphere

#1080 Add missing dependency on core_physics_mmm in core_atmosphere/physics/Makefile
  src/core_atmosphere/physics/Makefile
Labels: Atmosphere, bug fix

#1082 Allow namelist control of coefficient used in Laplacian filter in relaxation zone
  src/core_atmosphere/Registry.xml
  src/core_atmosphere/dynamics/mpas_atm_time_integration.F
Labels: Atmosphere

#1083 Hide several dynamics options that are generally not changed by users
  src/core_atmosphere/Registry.xml
Labels: Atmosphere

#1084 Add new routine for checking consistency of dynamics options
  src/core_atmosphere/dynamics/mpas_atm_time_integration.F
  src/core_atmosphere/mpas_atm_core.F
Labels: Atmosphere

#1085 Always use geog_data_path with trailing slash in mpas_init_atm_static
  src/core_init_atmosphere/mpas_init_atm_static.F
Labels: Atmosphere, bug fix

#1086 Correct several Fortran 2008 compliance issues in physics_mmm
  src/core_atmosphere/physics/physics_mmm/cu_ntiedtke.F
  src/core_atmosphere/physics/physics_mmm/module_libmassv.F
  src/core_atmosphere/physics/physics_mmm/mp_radar.F
Labels: Atmosphere, bug fix

#1087 Remove debugging prints from lsm_from_MPAS() and ysu()
  src/core_atmosphere/physics/mpas_atmphys_driver_lsm.F
  src/core_atmosphere/physics/physics_wrf/module_bl_ysu.F
Labels: Atmosphere, bug fix

#1089 Fix PV registry descriptions (v8.0.1)
  src/core_atmosphere/Registry.xml
Labels: Atmosphere, bug fix

#1090 Fix memory leak in deallocate_microphysics for recloud_p, reice_p, and resnow_p (v8.0.1)
  src/core_atmosphere/physics/mpas_atmphys_driver_microphysics.F
Labels: Atmosphere, bug fix

#1092 Fix units and description for rt_diabatic_tend in atmosphere core Registry.xml
  src/core_atmosphere/Registry.xml
Labels: Atmosphere, bug fix

#1091 Allow real-valued attributes to be read with different precision using SMIOL
  src/framework/mpas_io.F
Labels: Framework, bug fix

#1096 Add missing physics_mmm module search path in atmosphere Makefiles
  src/core_atmosphere/Makefile
  src/core_atmosphere/dynamics/Makefile
Labels: Atmosphere, bug fix

#1098 Fix MPAS field tests
  src/core_test/mpas_test_core_field_tests.F
Labels: bug fix
