Repository MPAS-Dev/MPAS-Model, pull requests merged in 2023-08, with the labels that each got.

#1108 Trim strings before splitting
  src/framework/mpas_string_utils.F
Labels: Framework, clean-up

#1107 Add basic string utils tests
  src/core_test/Makefile
  src/core_test/mpas_test_core.F
  src/core_test/mpas_test_core_string_utils.F
Labels: Framework

#1109 Remove original CMake build files
  src/CMakeLists.txt
  src/build_core.cmake
  src/cmake_utils.cmake
  src/core_landice/landice.cmake
  src/core_ocean/ocean.cmake
  src/core_seaice/seaice.cmake
  src/framework/framework.cmake
  src/operators/operators.cmake
  src/tools/CMakeLists.txt
Labels: Framework, clean-up

#1110 Add mpas_string_replace to mpas_string_utils
  src/core_test/mpas_test_core_string_utils.F
  src/framework/mpas_string_utils.F
Labels: Framework

#1112 Add ability for `clean` target to check for CORE existence
  Makefile
Labels: Framework, bug fix
