Repository MPAS-Dev/MPAS-Model, pull requests merged in 2024-08, with the labels that each got.

#1216 Enable GPU execution of MPAS-Atmosphere initialization of coupled diagnostic fields via OpenACC
  src/core_atmosphere/dynamics/mpas_atm_time_integration.F
Labels: Atmosphere, OpenACC

#1204 Add core_physics dependencies for mpas_atmphys_lsm_noahmpfinalize module
  src/core_atmosphere/physics/Makefile
Labels: Atmosphere, bug fix

#1221 Fix MPAS-A dycore-only build in version 8.2.0
  src/core_atmosphere/Registry.xml
Labels: Atmosphere, bug fix

#1215 Bug fix to for MYNN PBL option with Thompson cloud microphysics
  src/core_atmosphere/Registry.xml
  src/core_atmosphere/physics/mpas_atmphys_interface.F
  src/core_atmosphere/physics/mpas_atmphys_todynamics.F
Labels: Atmosphere, bug fix

#1224 corrected print statements in mpas_init_atm_thompson_aerosols.F
  src/core_init_atmosphere/mpas_init_atm_thompson_aerosols.F
Labels: Atmosphere, clean-up

#1226 removed extra deallocate in mpas_atmphys_driver_radiation_sw.F
  src/core_atmosphere/physics/mpas_atmphys_driver_radiation_sw.F
Labels: Atmosphere, bug fix
