Repository MPAS-Dev/MPAS-Model, pull requests merged in 2024-09, with the labels that each got.

#1229 Fix portability issue in parse_macros function used by the MPAS registry
  src/tools/registry/utility.c
Labels: Framework, bug fix

#1230 Refactor mpas_atm_get_bdy_state to simplify MPAS-A treatment of LBC scalars
  src/core_atmosphere/dynamics/mpas_atm_boundaries.F
  src/core_atmosphere/dynamics/mpas_atm_time_integration.F
Labels: feature, Atmosphere, clean-up

#1231 Add support for 1-d real fields in the mpas_halo module
  src/core_test/mpas_halo_testing.F
  src/framework/mpas_halo.F
  src/framework/mpas_halo_types.inc
Labels: feature, Framework

#1232 add `brtemp` and `cldmask` under `diag` var_struct of `src/core_atmosphere/Registry.xml
  src/core_atmosphere/Registry.xml
Labels: Atmosphere, bug fix

#1236 Remove redundant query of nCellsSolve dimension in physics_run_init
  src/core_atmosphere/physics/mpas_atmphys_manager.F
Labels: Atmosphere, clean-up
