Repository MPAS-Dev/MPAS-Model, pull requests merged in 2024-06, with the labels that each got.

#1171 Implementation of manage_externals
  src/core_atmosphere/Externals.cfg
  src/core_atmosphere/physics/.gitignore
  src/core_atmosphere/physics/Makefile
  src/core_atmosphere/physics/ccpp_kind_types.F
  src/core_atmosphere/physics/ccpp_kinds.F
  src/core_atmosphere/physics/mpas_atmphys_driver_sfclayer.F
  src/core_atmosphere/physics/physics_mmm/Makefile
  src/core_atmosphere/physics/physics_mmm/bl_gwdo.F
  src/core_atmosphere/physics/physics_mmm/bl_mynn.F
  src/core_atmosphere/physics/physics_mmm/bl_mynn_subroutines.F
  src/core_atmosphere/physics/physics_mmm/bl_ysu.F
  src/core_atmosphere/physics/physics_mmm/cu_ntiedtke.F
  src/core_atmosphere/physics/physics_mmm/module_libmassv.F
  src/core_atmosphere/physics/physics_mmm/mp_radar.F
  src/core_atmosphere/physics/physics_mmm/mp_wsm6.F
  src/core_atmosphere/physics/physics_mmm/mp_wsm6_effectRad.F
  src/core_atmosphere/physics/physics_mmm/mynn_shared.F
  src/core_atmosphere/physics/physics_mmm/sf_mynn.F
  src/core_atmosphere/physics/physics_mmm/sf_sfclayrev.F
  src/core_atmosphere/physics/physics_wrf/Makefile
  src/core_atmosphere/physics/physics_wrf/bl_mynn_post.F
  src/core_atmosphere/physics/physics_wrf/bl_mynn_pre.F
  src/core_atmosphere/physics/physics_wrf/cu_ntiedtke_post.F
  src/core_atmosphere/physics/physics_wrf/cu_ntiedtke_pre.F
  src/core_atmosphere/physics/physics_wrf/module_bl_ysu.F
  src/core_atmosphere/physics/physics_wrf/module_cu_ntiedtke.F
  src/core_atmosphere/physics/physics_wrf/module_sf_sfclayrev.F
  src/core_atmosphere/physics/physics_wrf/sf_mynn_pre.F
  src/core_atmosphere/physics/physics_wrf/sf_sfclayrev_pre.F
  src/core_atmosphere/tools/manage_externals/.gitignore
  src/core_atmosphere/tools/manage_externals/LICENSE.txt
  src/core_atmosphere/tools/manage_externals/README.md
  src/core_atmosphere/tools/manage_externals/README_FIRST
  src/core_atmosphere/tools/manage_externals/checkout_externals
  src/core_atmosphere/tools/manage_externals/manic/__init__.py
  src/core_atmosphere/tools/manage_externals/manic/checkout.py
  src/core_atmosphere/tools/manage_externals/manic/externals_description.py
  src/core_atmosphere/tools/manage_externals/manic/externals_status.py
  src/core_atmosphere/tools/manage_externals/manic/global_constants.py
  src/core_atmosphere/tools/manage_externals/manic/repository.py
  src/core_atmosphere/tools/manage_externals/manic/repository_factory.py
  src/core_atmosphere/tools/manage_externals/manic/repository_git.py
  src/core_atmosphere/tools/manage_externals/manic/repository_svn.py
  src/core_atmosphere/tools/manage_externals/manic/sourcetree.py
  src/core_atmosphere/tools/manage_externals/manic/utils.py
  src/core_atmosphere/tools/manage_externals/version.txt
Labels: Atmosphere

#1180 Make the registry 'parse' tool core-independent
  src/core_atmosphere/Makefile
  src/core_init_atmosphere/Makefile
  src/core_landice/Makefile
  src/core_ocean/Makefile
  src/core_seaice/Makefile
  src/core_sw/Makefile
  src/core_test/Makefile
  src/tools/registry/gen_inc.c
  src/tools/registry/gen_inc.h
  src/tools/registry/parse.c
  src/tools/registry/utility.c
  src/tools/registry/utility.h
Labels: feature, Framework

#1179 Implement new Makefile logic for sharing framework builds across cores
  .gitignore
  Makefile
  src/Makefile
Labels: Framework

#1181 Change URL for MMM-physics external to use https rather than git
  src/core_atmosphere/Externals.cfg
Labels: Atmosphere, bug fix

#1182 Parallelize the remapping of Noah-MP static fields in init_atmosphere core
  src/core_init_atmosphere/mpas_init_atm_static.F
Labels: Atmosphere

#1183 Replaced sf_sfclay with sf_sfclayrev
  src/core_atmosphere/physics/mpas_atmphys_control.F
Labels: Atmosphere

#1177 Implementation of the aerosol-aware option in the Thompson MP
  src/core_atmosphere/Registry.xml
  src/core_atmosphere/dynamics/mpas_atm_time_integration.F
  src/core_atmosphere/physics/checkout_data_files.sh
  src/core_atmosphere/physics/mpas_atmphys_control.F
  src/core_atmosphere/physics/mpas_atmphys_driver_microphysics.F
  src/core_atmosphere/physics/mpas_atmphys_driver_pbl.F
  src/core_atmosphere/physics/mpas_atmphys_driver_radiation_lw.F
  src/core_atmosphere/physics/mpas_atmphys_driver_radiation_sw.F
  src/core_atmosphere/physics/mpas_atmphys_finalize.F
  src/core_atmosphere/physics/mpas_atmphys_init.F
  src/core_atmosphere/physics/mpas_atmphys_init_microphysics.F
  src/core_atmosphere/physics/mpas_atmphys_interface.F
  src/core_atmosphere/physics/mpas_atmphys_manager.F
  src/core_atmosphere/physics/mpas_atmphys_packages.F
  src/core_atmosphere/physics/mpas_atmphys_todynamics.F
  src/core_atmosphere/physics/mpas_atmphys_vars.F
  src/core_atmosphere/physics/physics_wrf/Makefile
  src/core_atmosphere/physics/physics_wrf/module_mp_thompson.F
  src/core_atmosphere/physics/physics_wrf/module_mp_thompson_aerosols.F
  src/core_atmosphere/physics/physics_wrf/module_ra_rrtmg_sw.F
  src/core_atmosphere/physics/physics_wrf/module_ra_rrtmg_sw_aerosols.F
  src/core_init_atmosphere/Makefile
  src/core_init_atmosphere/Registry.xml
  src/core_init_atmosphere/mpas_init_atm_cases.F
  src/core_init_atmosphere/mpas_init_atm_core_interface.F
  src/core_init_atmosphere/mpas_init_atm_thompson_aerosols.F
Labels: Atmosphere

#1185 Fix issue in destroying halo groups when there are multiple domain instances
  src/core_atmosphere/mpas_atm_halos.F
Labels: Atmosphere, bug fix

#1188 Add ONLY clause to USE statements for the 'mpi_f08' module
  src/framework/mpas_abort.F
  src/framework/mpas_dmpar.F
  src/framework/mpas_halo.F
  src/framework/mpas_log.F
Labels: Framework, clean-up

#1189 Improve check on deallocation of hash table in mpas_geotile_mgr_finalize
  src/core_init_atmosphere/mpas_geotile_manager.F
Labels: Atmosphere, bug fix

#1191 Add module search paths to support compilation of Noah-MP code with nvfortran
  src/core_atmosphere/build_options.mk
  src/core_atmosphere/physics/physics_noahmp/drivers/mpas/Makefile
Labels: Atmosphere, bug fix

#1194 Add 'sf_noahmp_in' package to Noah-MP static fields in atmosphere core registry
  src/core_atmosphere/physics/Registry_noahmp.xml
Labels: Atmosphere, clean-up

#1190 Fix intermittent parallel build failures in MPAS-A physics
  src/core_atmosphere/Externals.cfg
  src/core_atmosphere/physics/Makefile
  src/core_atmosphere/physics/physics_noahmp/drivers/mpas/Makefile
  src/core_atmosphere/physics/physics_noahmp/src/Makefile
  src/core_atmosphere/physics/physics_noahmp/utility/Makefile
  src/core_atmosphere/physics/physics_wrf/Makefile
Labels: Atmosphere, bug fix

#1196 Ignore the entire physics_mmm subdirectory of src/core_atmosphere/physics
  src/core_atmosphere/physics/.gitignore
Labels: Atmosphere, clean-up

#1198 Add 'sf_noahmp' to list of possible_values for config_lsm_scheme
  src/core_atmosphere/Registry.xml
Labels: Atmosphere, clean-up

#1199 Add 'mp_thompson_aerosols' to list of possible_values for config_microp_scheme
  src/core_atmosphere/Registry.xml
Labels: Atmosphere, clean-up

#1197 Don't include FCINCLUDES in build options checked for build compatibility
  Makefile
Labels: Framework, bug fix
