Repository MPAS-Dev/MPAS-Model, pull requests merged in 2024-05, with the labels that each got.

#1162 Generalization of advection-related subroutines in mpas_atm_time_integration.F
  src/core_atmosphere/dynamics/mpas_atm_time_integration.F
Labels: Atmosphere

#1163 Introduce framework routine `mpas_framework_report_settings` for reporting compile-time options and run-time settings
  src/core_atmosphere/mpas_atm_core_interface.F
  src/core_init_atmosphere/mpas_init_atm_core_interface.F
  src/core_test/mpas_test_core_interface.F
  src/framework/mpas_framework.F
Labels: Atmosphere, Framework

#1164 Include OpenACC device info in mpas_framework_report_settings output
  src/framework/mpas_framework.F
Labels: Framework, OpenACC

#1165 Move 21 additional fields into the "invariant" stream in the atmosphere core
  src/core_atmosphere/Registry.xml
Labels: Atmosphere

#1166 Add stream_function and velocity_potential fields to the diag struct.
  src/core_atmosphere/Registry.xml
Labels: Atmosphere

#1167 Add da_state input/output stream
  src/core_atmosphere/Registry.xml
Labels: Atmosphere

#1169 Added support for building the atmosphere and init atmosphere cores with CMake.
  .gitignore
  CMakeLists.txt
  cmake/Functions/MPAS_Functions.cmake
  cmake/Modules/FindGPTL.cmake
  cmake/Modules/FindNetCDF.cmake
  cmake/Modules/FindPIO.cmake
  cmake/Modules/FindPnetCDF.cmake
  cmake/PackageConfig.cmake.in
  src/core_atmosphere/CMakeLists.txt
  src/core_init_atmosphere/CMakeLists.txt
  src/external/esmf_time_f90/CMakeLists.txt
  src/external/ezxml/CMakeLists.txt
  src/framework/CMakeLists.txt
  src/operators/CMakeLists.txt
  src/tools/CMakeLists.txt
  src/tools/input_gen/CMakeLists.txt
  src/tools/registry/CMakeLists.txt
Labels: Atmosphere, Framework

#1174 Remove Fortran only flag from LDFLAGS_DEBUG for NVIDIA compiler targets
  Makefile
Labels: Framework

#1176 Enable GPU execution of MPAS-Atmosphere scalar transport through OpenACC
  src/core_atmosphere/dynamics/mpas_atm_time_integration.F
Labels: Atmosphere, OpenACC

#1175 Add OpenACC module to core_test
  src/core_test/Makefile
  src/core_test/Registry.xml
  src/core_test/mpas_test_core.F
  src/core_test/mpas_test_openacc.F
Labels: OpenACC
