Repository MPAS-Dev/MPAS-Model, pull requests merged in 2024-12, with the labels that each got.

#1239 Make Noah-MP-only static fields optional in the init_atmosphere core
  src/core_init_atmosphere/Registry.xml
  src/core_init_atmosphere/mpas_init_atm_core_interface.F
  src/core_init_atmosphere/mpas_init_atm_static.F
Labels: feature, Atmosphere

#1222 Enable GPU execution of MPAS-Atmosphere of pre-acoustic step setup calculations
  src/core_atmosphere/dynamics/mpas_atm_time_integration.F
Labels: Atmosphere, OpenACC

#1249 corrrect pool name in init_atm_thompson_aerosols_lbc
  src/core_init_atmosphere/mpas_init_atm_cases.F
  src/core_init_atmosphere/mpas_init_atm_thompson_aerosols.F
Labels: Atmosphere, bug fix

#1245 Removing instances of non-standard kind types in init_atmosphere
  src/core_init_atmosphere/mpas_init_atm_llxy.F
  src/core_init_atmosphere/mpas_init_atm_read_met.F
Labels: Atmosphere, clean-up

#1244 Correct initialization of soil liquid water content for Noah-MP
  src/core_atmosphere/physics/mpas_atmphys_lsm_noahmpinit.F
Labels: Atmosphere, bug fix

#1227 Remove unused arguments to atm_set_smlstep_pert_variables_work
  src/core_atmosphere/dynamics/mpas_atm_time_integration.F
Labels: Atmosphere, clean-up

#1248 correct units for a few static fields
  src/core_atmosphere/Registry.xml
  src/core_init_atmosphere/Registry.xml
  src/core_init_atmosphere/mpas_init_atm_cases.F
Labels: Atmosphere, bug fix
