Repository MPAS-Dev/MPAS-Model, pull requests merged in 2024-04, with the labels that each got.

#1138 Merge the halo adjoint exchange code for real_2d fields
  src/core_test/mpas_test_core_halo_exch.F
  src/framework/mpas_dmpar.F
Labels: Framework

#1159 added initialization of local variable we in bl_ysu.F
  src/core_atmosphere/physics/physics_mmm/bl_ysu.F
Labels: Atmosphere

#1160 Fix memory leaks due to double allocations on pointers
  src/tools/registry/gen_inc.c
Labels: Framework, bug fix
