Repository MPAS-Dev/MPAS-Model, pull requests merged in 2024-03, with the labels that each got.

#1144 updated the use of mpas_atmphys_lsm_shared.F
  src/core_atmosphere/physics/Makefile
  src/core_atmosphere/physics/mpas_atmphys_driver_lsm.F
  src/core_atmosphere/physics/mpas_atmphys_lsm_shared.F
Labels: Atmosphere

#1147 Updated the calculation of the 2-meter temperature, potential temperature, and specfic humidity over seaice points
  src/core_atmosphere/physics/Makefile
  src/core_atmosphere/physics/mpas_atmphys_driver_lsm.F
  src/core_atmosphere/physics/mpas_atmphys_lsm_shared.F
Labels: Atmosphere

#1148 Generalize mpas_sphere_angle function to work for non-unit-radius spheres
  src/operators/mpas_geometry_utils.F
Labels: Atmosphere, bug fix

#1152 Initialize `mvd_r` and `mvd_c` before first use in Thompson microphysics scheme
  src/core_atmosphere/physics/physics_wrf/module_mp_thompson.F
Labels: Atmosphere, bug fix

#1153 bug fix for the Thompson parameterization of the cloud fraction
  src/core_atmosphere/physics/mpas_atmphys_driver_cloudiness.F
Labels: Atmosphere, bug fix

#1141 Initialization of the f_* flags in physics parameterizations
  src/core_atmosphere/Registry.xml
  src/core_atmosphere/physics/Makefile
  src/core_atmosphere/physics/mpas_atmphys_driver_convection.F
  src/core_atmosphere/physics/mpas_atmphys_driver_pbl.F
  src/core_atmosphere/physics/mpas_atmphys_driver_radiation_lw.F
  src/core_atmosphere/physics/mpas_atmphys_driver_radiation_sw.F
  src/core_atmosphere/physics/mpas_atmphys_init.F
  src/core_atmosphere/physics/mpas_atmphys_packages.F
  src/core_atmosphere/physics/mpas_atmphys_todynamics.F
  src/core_atmosphere/physics/mpas_atmphys_vars.F
  src/core_atmosphere/physics/physics_wrf/module_cu_kfeta.F
  src/core_atmosphere/physics/physics_wrf/module_cu_ntiedtke.F
  src/core_atmosphere/physics/physics_wrf/module_cu_tiedtke.F
  src/core_atmosphere/physics/physics_wrf/module_ra_cam.F
Labels: Atmosphere

#1154 Remove LIBS from openacc_test in top-level Makefile
  Makefile
Labels: Framework

#1151 Added separate driver to call the parameterization of seaice
  src/core_atmosphere/physics/Makefile
  src/core_atmosphere/physics/mpas_atmphys_driver.F
  src/core_atmosphere/physics/mpas_atmphys_driver_lsm.F
  src/core_atmosphere/physics/mpas_atmphys_driver_seaice.F
Labels: Atmosphere

#1156 Add `-std=f2008` to `FFLAGS_DEBUG` for the `gnu` build target
  Makefile
Labels: Framework

#1155 Updates to the MYNN SFC layer and PBL schemes
  src/core_atmosphere/Registry.xml
  src/core_atmosphere/physics/Makefile
  src/core_atmosphere/physics/mpas_atmphys_driver_convection.F
  src/core_atmosphere/physics/mpas_atmphys_driver_gwdo.F
  src/core_atmosphere/physics/mpas_atmphys_driver_pbl.F
  src/core_atmosphere/physics/mpas_atmphys_driver_sfclayer.F
  src/core_atmosphere/physics/mpas_atmphys_init.F
  src/core_atmosphere/physics/mpas_atmphys_todynamics.F
  src/core_atmosphere/physics/mpas_atmphys_vars.F
  src/core_atmosphere/physics/physics_mmm/Makefile
  src/core_atmosphere/physics/physics_mmm/bl_mynn.F
  src/core_atmosphere/physics/physics_mmm/bl_mynn_subroutines.F
  src/core_atmosphere/physics/physics_mmm/mp_radar.F
  src/core_atmosphere/physics/physics_mmm/mynn_shared.F
  src/core_atmosphere/physics/physics_mmm/sf_mynn.F
  src/core_atmosphere/physics/physics_mmm/sf_sfclayrev.F
  src/core_atmosphere/physics/physics_wrf/Makefile
  src/core_atmosphere/physics/physics_wrf/bl_mynn_post.F
  src/core_atmosphere/physics/physics_wrf/bl_mynn_pre.F
  src/core_atmosphere/physics/physics_wrf/module_bl_mynn.F
  src/core_atmosphere/physics/physics_wrf/module_cu_ntiedtke.F
  src/core_atmosphere/physics/physics_wrf/module_sf_mynn.F
  src/core_atmosphere/physics/physics_wrf/sf_mynn_pre.F
Labels: Atmosphere
