Repository MPAS-Dev/MPAS-Model, pull requests merged in 2024-07, with the labels that each got.

#1206 Remove debugging prints around calls to sfclayrev in driver_sfclayer
  src/core_atmosphere/physics/mpas_atmphys_driver_sfclayer.F
Labels: Atmosphere, clean-up

#1207 Add mpas_dmpar_bcast_real4s routine for broadcasting real(kind=R4KIND) arrays
  src/framework/mpas_dmpar.F
Labels: Framework

#1205 Fixed CMake build for atmosphere core
  cmake/Functions/MPAS_Functions.cmake
  src/core_atmosphere/CMakeLists.txt
  src/core_init_atmosphere/CMakeLists.txt
Labels: Atmosphere, bug fix

#1212 Fix to ./physics_wrf/Makefile
  src/core_atmosphere/physics/physics_wrf/Makefile
Labels: Atmosphere, clean-up

#1202 Use more mpi_f08 features in mpi_f08_test for better detection of valid mpi_f08 module
  Makefile
Labels: Framework, bug fix

#1203 Enhance lib / lib64 library detection for pnetcdf and netcdf
  Makefile
Labels: Atmosphere, bug fix

#1219 Update SMIOL code to support specified format for file creation
  src/external/SMIOL/smiol.c
  src/external/SMIOL/smiol.h
  src/external/SMIOL/smiol_codes.inc
  src/external/SMIOL/smiolf.F90
Labels: feature, Framework

#1192 Enable GPU execution of MPAS-Atmosphere calculation of tendency diagnostic fields via OpenACC
  src/core_atmosphere/dynamics/mpas_atm_time_integration.F
Labels: Atmosphere, OpenACC
