Repository MPAS-Dev/MPAS-Model, pull requests merged in 2025-05, with the labels that each got.

#1266 Enable GPU exection of atm_bdy_adjust_scalars_work via OpenACC
  src/core_atmosphere/dynamics/mpas_atm_time_integration.F
Labels: Atmosphere, OpenACC

#1277 Enable executing mpas_atm_get_bdy_tend on GPUs
  src/core_atmosphere/dynamics/mpas_atm_boundaries.F
Labels: Atmosphere, OpenACC

#1289 Enable GPU execution of mpas_reconstruct_2d via OpenACC
  src/core_atmosphere/dynamics/mpas_atm_time_integration.F
  src/operators/mpas_vector_reconstruction.F
Labels: OpenACC

#1305 Eliminate host-device copies of the tendencies provided by mpas_atm_get_bdy_tend
  src/core_atmosphere/dynamics/mpas_atm_boundaries.F
  src/core_atmosphere/dynamics/mpas_atm_time_integration.F
Labels: Atmosphere, OpenACC

#1306 Eliminate host-device copying of LBC driving data from mpas_atm_get_bdy_state
  src/core_atmosphere/dynamics/mpas_atm_boundaries.F
  src/core_atmosphere/dynamics/mpas_atm_time_integration.F
Labels: Atmosphere, OpenACC

#1294 Enable GPU exection of summarize_timestep via OpenACC
  src/core_atmosphere/dynamics/mpas_atm_time_integration.F
Labels: Atmosphere, OpenACC

#1286 Add cmake nvhpc support
  CMakeLists.txt
  cmake/Functions/MPAS_Functions.cmake
  src/core_atmosphere/CMakeLists.txt
  src/external/SMIOL/CMakeLists.txt
  src/framework/CMakeLists.txt
Labels: feature

#1276 Add NOAA UFS UGWP suite of physics parameterizations
  src/core_atmosphere/Externals.cfg
  src/core_atmosphere/Makefile
  src/core_atmosphere/Registry.xml
  src/core_atmosphere/mpas_atm_core.F
  src/core_atmosphere/mpas_atm_core_interface.F
  src/core_atmosphere/physics/.gitignore
  src/core_atmosphere/physics/Makefile
  src/core_atmosphere/physics/mpas_atmphys_control.F
  src/core_atmosphere/physics/mpas_atmphys_driver.F
  src/core_atmosphere/physics/mpas_atmphys_driver_gwdo.F
  src/core_atmosphere/physics/mpas_atmphys_finalize.F
  src/core_atmosphere/physics/mpas_atmphys_init.F
  src/core_atmosphere/physics/mpas_atmphys_vars.F
  src/core_atmosphere/physics/physics_wrf/Makefile
  src/core_atmosphere/physics/physics_wrf/module_bl_ugwp_gwdo.F
  src/core_init_atmosphere/Makefile
  src/core_init_atmosphere/Registry.xml
  src/core_init_atmosphere/mpas_gsl_oro_data_lg_scale.F
  src/core_init_atmosphere/mpas_gsl_oro_data_sm_scale.F
  src/core_init_atmosphere/mpas_init_atm_cases.F
  src/core_init_atmosphere/mpas_init_atm_core_interface.F
  src/core_init_atmosphere/mpas_init_atm_gwd_gsl.F
Labels: feature, Atmosphere

#1235 Reduce memory usage during GWDO stats estimation
  src/core_init_atmosphere/mpas_init_atm_gwd.F
Labels: feature, Atmosphere

#1308 Enable GPU execution of atm_compute_dyn_tend_work routine via OpenACC directives
  src/core_atmosphere/dynamics/mpas_atm_time_integration.F
Labels: Atmosphere, OpenACC

#1303 This commit changes the horizontal interpolation from a four-point to a 16 point interp in init_atmosphere cases 7 and 9 for the dynamics variables
  src/core_init_atmosphere/mpas_init_atm_cases.F
Labels: Atmosphere

#1300 Correct the loop for NoahMP snow initialization check - capping maximum SWE for 2000mm
  src/core_atmosphere/physics/physics_noahmp/drivers/mpas/NoahmpInitMainMod.F90
Labels: Atmosphere, bug fix

#1298 Capability for understanding ICON soil variables
  src/core_init_atmosphere/mpas_init_atm_cases.F
Labels: Atmosphere

#1302 Bugfix for horizontal 2nd-order filter for the cam upper absorbing layer
  src/core_atmosphere/dynamics/mpas_atm_time_integration.F
Labels: Atmosphere, bug fix

#1312 Bugfix in subroutine init_atm_case_mtn_wave regarding parallel execution - v2
  src/core_init_atmosphere/mpas_init_atm_cases.F
Labels: Atmosphere, bug fix

#1304 Change the zero-gradient w LBC to setting w=0 in the specified zone
  src/core_atmosphere/dynamics/mpas_atm_time_integration.F
Labels: Atmosphere

#1314 Enable GPU execution of loops in atm_srk3 involving module level variables
  src/core_atmosphere/dynamics/mpas_atm_time_integration.F
  src/core_atmosphere/mpas_atm_core.F
Labels: Atmosphere, OpenACC

#1316 Use the physics from https://github.com/NOAA-GSL/UGWP.git with cmake build
  src/core_atmosphere/CMakeLists.txt
Labels: Atmosphere

#1293 Consolidating access to the config_dt namelist option
  src/core_atmosphere/dynamics/mpas_atm_time_integration.F
  src/core_atmosphere/mpas_atm_core.F
  src/core_atmosphere/physics/mpas_atmphys_init.F
  src/core_atmosphere/physics/mpas_atmphys_lsm_noahmpinit.F
  src/core_atmosphere/physics/mpas_atmphys_manager.F
Labels: Atmosphere

#1320 Update the core_init_atmosphere cmake file to add new files
  src/core_init_atmosphere/CMakeLists.txt
Labels: Atmosphere

#1261 Add support for passing integer(8) values to mpas_log_write.
  src/framework/mpas_log.F
Labels: feature, Framework

#1301 Initial OpenACC port of mpas_atm_update_bdy_tend
  src/core_atmosphere/dynamics/mpas_atm_boundaries.F
Labels: Atmosphere, OpenACC

#1296 update RRTMG longwave radiation code
  src/core_atmosphere/Registry.xml
  src/core_atmosphere/physics/mpas_atmphys_driver_radiation_lw.F
  src/core_atmosphere/physics/physics_wrf/module_ra_rrtmg_lw.F
Labels: Atmosphere

#1283 bug fixed in driver convection
  src/core_atmosphere/physics/mpas_atmphys_driver_convection.F
Labels: Atmosphere, bug fix

#1322 Addition of new static datasets: 30" BNU soil category and 15" MODIS land use
  src/core_init_atmosphere/Registry.xml
  src/core_init_atmosphere/mpas_init_atm_static.F
Labels: Atmosphere

#1321 Enable package logic code to be automatically generated through new XML attribute, active_when
  src/core_atmosphere/mpas_atm_core_interface.F
  src/core_init_atmosphere/mpas_init_atm_core_interface.F
  src/tools/registry/gen_inc.c
  src/tools/registry/gen_inc.h
  src/tools/registry/parse.c
Labels: Framework

#1327 Fix DEBUG build issues due to Fortran-only LDFLAGS for the 'intel' target
  Makefile
Labels: Atmosphere, bug fix

#1328 Convert config_apply_lbcs from a logical pointer to a simple logical scalar
  src/core_atmosphere/dynamics/mpas_atm_time_integration.F
Labels: Atmosphere, bug fix

#1329 Eliminate intermediate refl10cm_p array when capturing 3-d refl10cm
  src/core_atmosphere/physics/mpas_atmphys_driver_microphysics.F
  src/core_atmosphere/physics/mpas_atmphys_interface.F
  src/core_atmosphere/physics/mpas_atmphys_vars.F
Labels: Atmosphere, clean-up

#1326 Add new Python script for setting up an MPAS-Atmosphere run directory
  testing_and_setup/atmosphere/setup_run_dir.py
Labels: Atmosphere
