Repository MPAS-Dev/MPAS-Model, pull requests merged in 2025-01, with the labels that each got.

#1258 Remove duplicate allocation of indexToEdgeID in mpas_io_setup_edge_block_fields
  src/framework/mpas_bootstrapping.F
Labels: Framework, bug fix

#1260 Fix data types for invariant fields transferred during init with OpenACC
  src/core_atmosphere/dynamics/mpas_atm_time_integration.F
Labels: Atmosphere, bug fix, OpenACC

#1263 Add test to top-level Makefile to ensure PNetCDF is working
  Makefile
Labels: Atmosphere

#1223 Enable GPU exection of atm_rk_integration_setup via OpenACC
  src/core_atmosphere/dynamics/mpas_atm_time_integration.F
Labels: Atmosphere, OpenACC

#1238 Enable GPU execution of atm_compute_moist_coefficients via OpenACC
  src/core_atmosphere/dynamics/mpas_atm_time_integration.F
Labels: Atmosphere, OpenACC

#1241 Enable GPU execution of atm_compute_vert_imp_coefs via OpenACC
  src/core_atmosphere/dynamics/mpas_atm_time_integration.F
Labels: Atmosphere, OpenACC

#1237 Enable GPU exection of atm_divergence_damping_3d via OpenACC
  src/core_atmosphere/dynamics/mpas_atm_time_integration.F
Labels: Atmosphere, OpenACC

#1273 add model version to output file global attributes
  src/driver/mpas_subdriver.F
Labels: feature, Framework

#1280 Make SMIOL the default I/O layer when running cmake.
  CMakeLists.txt
  cmake/Functions/MPAS_Functions.cmake
  src/framework/CMakeLists.txt
Labels: Framework

#1272 Enable executing atm_zero_gradient_w_bdy_work on GPUs.
  src/core_atmosphere/dynamics/mpas_atm_time_integration.F
Labels: Atmosphere, OpenACC

#1265 Enable executing atm_bdy_set_scalars_work on gpus
  src/core_atmosphere/dynamics/mpas_atm_time_integration.F
Labels: Atmosphere, OpenACC

#1251 Enable GPU execution of atm_advance_acoustic_step via OpenACC
  src/core_atmosphere/dynamics/mpas_atm_time_integration.F
Labels: Atmosphere, OpenACC

#1279 Enable GPU execution of mpas_atm_get_bdy_state functions via OpenACC
  src/core_atmosphere/dynamics/mpas_atm_boundaries.F
Labels: Atmosphere, OpenACC
