Repository MPAS-Dev/MPAS-Model, pull requests merged in 2025-02, with the labels that each got.

#1264 Fix memory leak from cellLimitField in mpas_block_creator_build_cell_halos
  src/framework/mpas_block_creator.F
Labels: Framework, bug fix

#1281 Disable physics for MPAS dycore-only build
  src/core_atmosphere/Makefile
Labels: Atmosphere

#1288 Fix bug in determining when decompositions can be reused by the SMIOL library
  src/framework/mpas_io.F
Labels: Framework, bug fix

#1282 Declare constants at the native precision of MPAS
  src/framework/mpas_constants.F
Labels: feature, Framework

#1285 Prefix all namelist group and option names for MPAS dycore
  src/tools/registry/gen_inc.c
  src/tools/registry/gen_inc.h
Labels: feature, Framework

#1291 Fix error reporting when config_nfglevels is insufficiently large
  src/core_init_atmosphere/mpas_init_atm_cases.F
Labels: Atmosphere, bug fix
